/* variables */

input[type=text] {
  margin-right: 5px;
  padding-left: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  width: 240px;
  height: 50px;
  background-color: #fafafa;
  box-sizing: border-box;
  font-size: 14px;
}

input[type=radio],
input[type=radio]:checked {
  margin: 0 5px 0 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

input[type=radio] {
  border: 1px solid #d8d8d8;
}

input[type=radio]:checked {
  background-image: url("/images/desktop/input/radio-on.png");
  background-repeat: no-repeat;
  background-position: center center;
}

input[type=checkbox],
input[type=checkbox]:checked {
  margin: 0 5px 0 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  width: 14px;
  height: 14px;
}

input[type=checkbox] {
  border: 1px solid #d8d8d8;
}

input[type=checkbox] + label {
  vertical-align: top;
}

input[type=checkbox]:checked {
  background-image: url("/images/desktop/input/check-on.png");
  background-repeat: no-repeat;
  background-position: center center;
}

input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input[type=file] + label {
  width: 86px;
  margin-top: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  background-color: #ffffff;
  display: block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

select {
  margin-right: 5px;
  padding-left: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  width: 240px;
  height: 50px;
  background: #fafafa url("/images/desktop/global/icon_arrow_down.png") no-repeat 200px center;
}

.ui-emailbox {
  position: relative;
}

.email_box {
  padding-left: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  width: 240px;
  height: 50px;
  font-size: 14px;
}

.ui-emailbox-account {
  margin-right: 6px;
}

.ui-emailbox-domain {
  margin-left: 6px;
}

.ui-button {
  border: none;
  width: 13px;
  height: 7px;
  background: #fafafa url("/images/desktop/global/icon_arrow_down.png") no-repeat center center;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: default;
}

.ui-button:focus {
  outline: none;
}

.ui-button:hover {
  border: none;
  background: #fafafa url("/images/desktop/global/icon_arrow_down.png") no-repeat center center;
}

.ui-menu {
  max-width: 240px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.ui-menu-item {
  padding: 20px 10px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fafafa;
}

.ui-widget-content .ui-state-active {
  border: none;
  background-color: #9b00d8;
}

.btn-purple,
.btn-basic {
  box-sizing: border-box;
  display: block;
  border: 0;
  background: none;
  font-family: SourceHanSansKR, "dotum", sans-serif;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.btn-purple {
  background: #9b00d8;
}

.btn-basic {
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  width: 140px;
  height: 50px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
}

.btn-purple {
  border: 0;
  border-radius: 25px;
  width: 160px;
  height: 50px;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

.register {
  margin-top: 80px;
}

.register table {
  margin-top: 18px;
  border-top: 2px solid #999999;
  display: block;
}

.register table tr {
  border-bottom: 1px solid #d8d8d8;
  height: 72px;
}

.register table tr th {
  width: 182px;
  background-color: #f7f7f7;
  text-align: left;
}

.register table tr th label {
  padding-left: 40px;
  font-size: 16px;
}

.register table tr td {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  overflow: hidden;
}

.register table tr td .phone {
  float: left;
}

.register table tr td .uid {
  float: left;
}

.register table tr td .check-overlap-id {
  width: 86px;
  height: 50px;
  float: left;
}

.register table tr td .certification-number {
  margin-top: 10px;
  float: left;
}

.register table tr td .btn-certification {
  padding: 0;
  width: 102px;
  height: 50px;
  float: left;
}

.agree {
  margin-top: 50px;
}

.agree .agree-form {
  margin-top: 18px;
  border-top: 2px solid #999999;
}

.agree .agree-form .agreement-all-wrap {
  padding: 29px 0 28px 40px;
  border-bottom: 1px solid #d8d8d8;
}

.agree .agree-form .agreement-all-wrap label {
  font-weight: bold;
  font-size: 16px;
}

.agree .agree-form .agreement-wrap {
  padding: 26px 40px 26px 40px;
  border-bottom: 2px solid #d8d8d8;
}

.agree .agree-form .agreement-wrap li {
  margin-top: 40px;
  overflow: hidden;
}

.agree .agree-form .agreement-wrap li .input-box {
  float: left;
}

.agree .agree-form .agreement-wrap li .input-box input {
  display: inline-block;
}

.agree .agree-form .agreement-wrap li .input-box label {
  padding-left: 5px;
  display: inline-block;
  font-size: 16px;
}

.agree .agree-form .agreement-wrap li .input-box input[type=checkbox],
.agree .agree-form .agreement-wrap li .input-box input[type=checkbox]:checked {
  margin: 0 1px 0 0;
}

.agree .agree-form .agreement-wrap li p {
  padding-left: 10px;
  float: left;
  font-size: 12px;
  color: #999999;
  transform: translateY(3px);
}

.agree .agree-form .agreement-wrap li a {
  float: right;
  font-size: 13px;
  color: #777777;
  text-decoration: underline;
  transform: translateY(3px);
}

.agree .agree-form .agreement-wrap li:first-child {
  margin: 0;
}

.btn-wrap {
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
}

