@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

.lecture-title-wrap
    +background('/images/mobile/global/lecture_top.png', no-repeat, center center)
    +size(100%, 41.66666vw)
    background-size : cover
    min-width: 100%
    text-align: center
//
//    h1
//        +padding(top 126px)
//        font-weight: bold
//        font-size: 48px

//.lecture-order
//    +margin(top 50px)
//    overflow: hidden
//
//    ul
//        float: right
//        overflow: hidden
//
//        li
//            float: left
//
//            .active
//                font-weight: bold
//                color: $page-color
//
//            &:last-child::before
//                +size(1px, 16px)
//                +margin(0 10px)
//                +background(null, null, null, $border-color-base)
//                display: block
//                float: left
//                content: ''
//
//            &:hover
//                text-decoration: underline

.lecture-order
    display: none

.lecture
    +margin(top 5.55555vw bottom 11.11111vw)

    .lecture-menu
        ul
            +size(91.11111vw)
            +margin(0 auto)
            +margin(bottom 5.555555vw)
            overflow: hidden

        li
            +size(21.666666vw, 12.77777vw)
            +margin(top 2.777777vw right 1.388888vw)
            +padding(4.7222222222vw 2.222222222vw 4.722222222vw 7.5vw)
            +border(.2777777vw solid $border-color-base)
            +border-radius(10.55555vw)
            +background(null,null, null, $white-light)
            +box-sizing(border-box)
            float: left
            font-size: 3.0555555vw
            color: $gray-700
            text-align: center
            background-size: 5.555555vw 5.555555vw

            &:nth-child(4n)
                +margin(right 0)

            &:first-child
                +background('/images/desktop/lecture/lecture_menu_icon_0.svg?20210617', no-repeat, 1.944444vw center)

            &:nth-child(2)
                +background('/images/desktop/lecture/lecture_menu_icon_1.svg?20210617', no-repeat, 1.944444vw center)

            &:nth-child(3)
                +background('/images/desktop/lecture/lecture_menu_icon_2.svg?20210617', no-repeat, 1.944444vw center)

            &:nth-child(4)
                +background('/images/desktop/lecture/lecture_menu_icon_3.svg?20210617', no-repeat, 1.944444vw center)

            &:nth-child(5)
                +background('/images/desktop/lecture/lecture_menu_icon_4.svg?20210617', no-repeat, 1.944444vw center)

            &:nth-child(6)
                +background('/images/desktop/lecture/lecture_menu_icon_5.svg?20210617', no-repeat, 1.944444vw center)

            &:nth-child(7)
                +background('/images/desktop/lecture/lecture_menu_icon_6.svg?20210617', no-repeat, 1.944444vw center)

            &:nth-child(8)
                +background('/images/desktop/lecture/lecture_menu_icon_7.svg?20210617', no-repeat, 1.944444vw center)

        .active-menu
            +padding(4.444444vw 1.9444444vw 4.444444vw 7.222222vw)
            +background(null, null, null, $white)
            +border(.5555555555vw solid $page-color)
            font-weight: bold
            color: $gray-200

            &:first-child
                +background('/images/desktop/lecture/lecture_menu_icon_on_0.svg?20210617', no-repeat, 1.666666vw center)

            &:nth-child(2)
                +background('/images/desktop/lecture/lecture_menu_icon_on_1.svg?20210617', no-repeat, 1.666666vw center)

            &:nth-child(3)
                +background('/images/desktop/lecture/lecture_menu_icon_on_2.svg?20210617', no-repeat, 1.666666vw center)

            &:nth-child(4)
                +background('/images/desktop/lecture/lecture_menu_icon_on_3.svg?20210617', no-repeat, 1.666666vw center)

            &:nth-child(5)
                +background('/images/desktop/lecture/lecture_menu_icon_on_4.svg?20210617', no-repeat, 1.666666vw center)

            &:nth-child(6)
                +background('/images/desktop/lecture/lecture_menu_icon_on_5.svg?20210617', no-repeat, 1.666666vw center)

            &:nth-child(7)
                +background('/images/desktop/lecture/lecture_menu_icon_on_6.svg?20210617', no-repeat, 1.666666vw center)

            &:nth-child(8)
                +background('/images/desktop/lecture/lecture_menu_icon_on_7.svg?20210617', no-repeat, 1.666666vw center)

    .lecture-contents

        ul
            +padding(bottom 11.1111111vw)
            overflow: hidden

        .lecture-card
            +size(43.333333vw)
            +margin(top 11.11111vw)
            float: left
            position: relative

            &:nth-child(2n + 1)
                +margin(right 4.444444vw)

            &:first-child,
            &:nth-child(2)
                +margin(top 0)

            img
                +size(43.333333vw, 32.5vw)
                +border(1px solid rgba(0, 0, 0, 0.1))
                +border-radius(2.222222vw)
                box-sizing: border-box

            .lecture-description
                +margin(top 3.33333vw)

                .lecture-description-sub
                    overflow: hidden

                    .offline,
                    .online
                        +padding(.833333vw .555555vw)
                        font-size: 3.0555555vw
                        float: left
                        color: $white

                    .offline
                        +background(null, null, null, $purply-pink)

                    .online
                        +background(null, null, null, $page-color)

                    .lecture-type
                        +padding(top .8333333vw left 1.3888888vw)
                        float: left
                        font-size: 3.0555555vw
                        color: $gray-700

                    .lecture-time
                        +size(27.777777vw)
                        +ellipse()
                        position: absolute
                        bottom: 0
                        right: 0
                        font-size: 3.0555555vw
                        text-align: right
                        color: $gray-900

                .lecture-name
                    +margin(top 2.222222vw)
                    +ellipse(null, 2)
                    display: block
                    height: 12vw
                    font-size: 3.888888vw
                    line-height: 1.5

                .lecture-price
                    +padding(top 3.3333333vw)
                    font-weight: bold
                    font-size: 3.888888vw
                    color: $page-color


// 강의 검색에만 적용
.search
    .lecture
        +margin(top 2.555555vw)

    .search-text-wrap
        +margin(top 8.333333vw)

        span
            font-size: 5vw

        .search-text
            color: $page-color
