@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/components/_pagination.sass'

//.lecture-title-wrap
//    +background('/images/desktop/global/lecture-top-image.png', no-repeat, center center)
//    +size(100%, 300px)
//    min-width: 1280px
//    text-align: center
//
//    h1
//        +padding(top 126px)
//        font-weight: bold
//        font-size: 48px

//.lecture-order
//    +margin(top 50px)
//    overflow: hidden
//
//    ul
//        float: right
//        overflow: hidden
//
//        li
//            float: left
//
//            .active
//                font-weight: bold
//                color: $page-color
//
//            &:last-child::before
//                +size(1px, 16px)
//                +margin(0 10px)
//                +background(null, null, null, $border-color-base)
//                display: block
//                float: left
//                content: ''
//
//            &:hover
//                text-decoration: underline

.lecture
    +margin(top 5.55555vw bottom 11.11111vw)

    .lecture-menu
        ul
            +size(91.11111vw)
            +margin(0 auto)
            +margin(bottom 5.555555vw)
            overflow: hidden

        li
            +size(28.88888vw, 12.77777vw)
            +margin(top 2.777777vw right 2.222222vw)
            +padding(4.72222vw 3.0555555vw 4.72222vw 11.38888vw)
            +border(.2777777vw solid $border-color-base)
            +border-radius(10.55555vw)
            +background(null,null, null, $white-light)
            +box-sizing(border-box)
            float: left
            font-size: 3.0555555vw
            color: $gray-700

            &:nth-child(3n)
                +margin(right 0)

        .active-menu,
        li:hover
            +padding(4.444444vw 2.77777vw 4.444444vw 11.111111vw)
            +border(.555555vw solid $page-color)
            font-weight: bold
            color: $gray-200

    .lecture-contents

        ul
            overflow: hidden

        .lecture-card
            +size(43.333333vw)
            +margin(top 11.11111vw)
            float: left
            position: relative

            &:nth-child(2n + 1)
                +margin(right 4.444444vw)

            &:first-child,
            &:nth-child(2)
                +margin(top 0)

            img
                +size(43.333333vw, 32.5vw)
                +border(1px solid rgba(0, 0, 0, 0.1))
                +border-radius(2.222222vw)
                box-sizing: border-box

            .lecture-description
                +margin(top 3.33333vw)

                .lecture-description-sub
                    overflow: hidden

                    .offline,
                    .online
                        +padding(.833333vw .555555vw)
                        font-size: 3.0555555vw
                        float: left
                        color: $white

                    .offline
                        +background(null, null, null, $purply-pink)

                    .online
                        +background(null, null, null, $page-color)

                    .lecture-type
                        +padding(top .8333333vw left 1.3888888vw)
                        float: left
                        font-size: 3.0555555vw
                        color: $gray-700

                    .lecture-time
                        position: absolute
                        bottom: 0
                        right: 0
                        font-size: 3.0555555vw
                        color: $gray-900

                .lecture-name
                    +margin(top 2.222222vw)
                    +ellipse(null, 2)
                    display: block
                    height: 9.4444444vw
                    font-size: 3.888888vw
                    line-height: 1.5

                .lecture-price
                    font-weight: bold
                    font-size: 3.888888vw
                    color: $page-color
