img
    display: block

.bold, strong, dt
    font-weight: bold

.hidden
    @extend %hidden

input[type="text"] , input[type="submit"] , input[type="button"]
    -webkit-appearance: none

input,
textarea,
select,
button,
a
    font-family: $font-family-base
    color: $font-color-base

table
    border-collapse: collapse
    border-spacing: 0

body
    font-family: $font-family-base
    font-size: $font-size-base
    color: $font-color-base

//layout
.container
    position: relative
    margin: 0 auto
    width: 1280px

.small-container
    position: relative
    margin: 0 auto
    width: 750px

.row
    margin: 0 auto
    width: 1140px
