+font-face('SourceHanSansKR',noto-sans-kr-700, normal)
+font-face('SourceHanSansKR', noto-sans-kr-700, bold)

@font-face
    font-family: "SourceHanSansKR"
    font-weight: normal
    src: url("/fonts/SourceHanSansKR-Regular.otf")

@font-face
    font-family: "SourceHanSansKR"
    font-weight: bold
    src: url("/fonts/SourceHanSansKR-Bold.otf")




