@import '../helpers/_variables.sass'
@import '../helpers/_extends.sass'
@import '../helpers/_mixins.scss'

.swiper-button-prev:after,
.swiper-button-next:after
    content: ''

.banner
    +margin(top 40px)
    .swiper-container
        position: relative

    .swiper-slide
        img
            width: 1280px
            height: 400px

    .swiper-controller-wrap
        +border-radius(15px)
        +background(null,null,null,rgba(0,0,0,0.2))
        position: absolute
        bottom: 51px
        right: 206px
        width: 354px
        height: 30px

        .swiper-pagination-fraction
            bottom: 8px
            left: 18px
            width: 48px
            color: $white

            .swiper-pagination-current
                +padding(right 14px)
                font-weight: normal

            .pagination-bar
                +background(null,null,null,rgba(255,255,255,0.5))
                position: absolute
                top: 2px
                left: 24px
                content: ''
                width: 1px
                height: 10px

        .swiper-scrollbar
            +background(null,null,null,rgba(255,255,255,0.2))
            position: absolute
            top: 15px
            left: 80px
            width: 200px
            height: 2px

            .swiper-scrollbar-drag
                +background(null,null,null,$white)

        .swiper-button-prev
            +background('/images/global/icon_left_arrow_white.png',no-repeat,center center,null)
            transform: translateX(284px)

        .swiper-button-next
            +background('/images/global/icon_right_arrow_white.png',no-repeat,13px center,null)
            transform: translateX(-4px)

.lecture
    +margin(top 78px)

    .lecture-menu
        +margin(0 auto)
        overflow: hidden

        li
            +margin(right 40px)
            float: left

            a
                +padding(25px 29px 25px 67px)
                +border(1px solid #d8d8d8)
                +border-radius(35px)
                +background('/images/lecture/lecture_menu_icon_1.png',no-repeat, 25px 19px, #fafafa)
                display: block
                font-size: 20px
                color: #777

            a:hover
                +padding(24px 28px 24px 66px)
                +border(2px solid $dbv-blue)
                +background('/images/lecture/lecture_menu_icon_on_1.png', no-repeat, 24px 18px)
                color: #222

        li:nth-child(2)
            a
                +background('/images/lecture/lecture_menu_icon_2.png')

        li:nth-child(3)
            a
                +background('/images/lecture/lecture_menu_icon_3.png')

        li:nth-child(4)
            a
                +background('/images/lecture/lecture_menu_icon_4.png')

        li:nth-child(5)
            a
                +background('/images/lecture/lecture_menu_icon_5.png')

        li:nth-child(6)
            +margin(right 0)
            a
                +background('/images/lecture/lecture_menu_icon_6.png')

        li:nth-child(2):hover
            a
                +background('/images/lecture/lecture_menu_icon_on_2.png')

        li:nth-child(3):hover
            a
                +background('/images/lecture/lecture_menu_icon_on_3.png')

        li:nth-child(4):hover
            a
                +background('/images/lecture/lecture_menu_icon_on_4.png')

        li:nth-child(5):hover
            a
                +background('/images/lecture/lecture_menu_icon_on_5.png')

        li:nth-child(6):hover
            a
                +background('/images/lecture/lecture_menu_icon_on_6.png')

    .lecture-contents
        +margin(top 38px)
        overflow: hidden

        .lecture-card
            +margin(80px 40px 0 0)
            float: left

            img
                +border(1px solid rgba(0, 0, 0, 0.1))
                +border-radius(5px)
                width: 398px
                height: 300px

            .lecture-description
                width: 400px

                .lecture-description-sub
                    +margin(top 20px)
                    overflow: hidden
                    color: #777777

                    .lecture-type
                        float: left
                        font-size: 14px

                    .lecture-time
                        float: right
                        font-size: 14px

                .lecture-name
                    +margin(top 9px)
                    display: block
                    font-size: 20px
                    line-height: 1.5

                .lecture-price
                    +margin(top 19px)
                    font-size: 18px
                    font-weight: bold
                    color: $dbv-blue
                    letter-spacing: 0.8px

        .lecture-card:nth-child(3n)
            +margin(right 0px)

        .lecture-card:nth-child(1),
        .lecture-card:nth-child(2),
        .lecture-card:nth-child(3)
            +margin(top 0)
.ad
    +margin(top 104px)

    img
        width: 1280px
        height: 120px

.swiper-button-prev-common,
.swiper-button-next-common
    +margin(top -14px)
    +border-radius(50%)
    width: 30px
    height: 30px

.swiper-button-prev-common
    +background('/images/global/icon_left_arrow_white.png',no-repeat,center center,rgba(0, 0, 0, 0.4))
    left: -20px

.swiper-button-next-common
    +background('/images/global/icon_right_arrow_white.png',no-repeat,13px center,rgba(0, 0, 0, 0.4))
    right: -20px

.banner-02
    +margin(80px auto 0 auto)
    width: 1240px
    text-align: center

    h2
        font-size: 30px
        font-weight: bold

    .swiper-container2
        +margin(top 40px)
        position: relative

        .swiper-slide
            img
                width: 232px
                height: 232px

.banner-03
    +margin(140px auto 0 auto)
    width: 1240px

    .swiper-container3
        position: relative

        .swiper-slide

            img
                +border-radius(8px)
                width: 610px
                height: 200px

.community
    +margin(top 140px)
    +background(null,null,null,#fdf8ff)
    height: 238px

    .community-wrap
        +padding(top 48px)

        .community-common
            float: left
            position: relative
            width: 310px

            h2
                font-size: 20px
                font-weight: bold
                letter-spacing: 0.9px

            ul
                +margin(top 30px)

                li
                    +margin(top 22px)
                    +padding(left 10px)
                    +ellipse()
                    position: relative
                    width: 300px

                    a
                        font-size: 14px

                li::before
                    +background(null,null,null,#222222)
                    position: absolute
                    top: 6px
                    left: 0
                    content: ''
                    width: 2px
                    height: 2px

            .btn-more
                +background('/images/global/icon_plus.png',no-repeat, 42px center)
                display: block
                position: absolute
                top: 4px
                right: -4px
                width: 56px
                font-size: 13px
                color: $gray-700

            .btn-more:hover
                +background('/images/global/icon_plus_on.png')

        .notice
            +margin(right 80px)

        .community-menu
            float: right

            li
                +margin(right 30px)
                position: relative
                float: left
                text-align: center

                a
                    font-size: 16px

                a::before
                    +margin(bottom 20px)
                    +border-radius(50%)
                    +border(1px solid #ece6ec)
                    +background(null, no-repeat, center center, $white)
                    display: block
                    content: ''
                    width: 88px
                    height: 88px

            li:nth-child(1)
                a::before
                    +background('/images/global/icon_foot_mypage.png')

                a:hover::before
                    +background('/images/global/icon_foot_mypage_on.png')

            li:nth-child(2)
                a::before
                    +background('/images/global/icon_foot_cs.png')

                a:hover::before
                    +background('/images/global/icon_foot_cs_on.png')

            li:nth-child(3)
                a::before
                    +background('/images/global/icon_foot_lecture.png')

                a:hover::before
                    +background('/images/global/icon_foot_lecture_on.png')

            li:last-child
                +margin(0)
