/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.docker
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/

package-lock.json
/public/css/desktop
/public/css/mobile
/public/css/app.css
/public/js/app/
/public/fonts/vendor/
/public/mix-manifest.json
/public/js/app.js
/storage/fonts
