@import 'resources/sass/helpers/variables'
@import 'resources/sass/helpers/extends'
@import 'resources/sass/helpers/mixins'

.header-banner
    display: none
    position: fixed
    top: 0
    left: 50%
    transform: translateX(-50%)

    .btn-close-banner
        +size(50px, 50px)
        position: absolute
        right: 315px
        top: 0
        color: $white
        font-size: 0

        &::before
            +size(1px, 30px)
            display: block
            position: relative
            left: 24px
            top: 10px
            background-color: $white
            transform: rotate(45deg)
            content: ''

        &::after
            +size(1px, 30px)
            display: block
            position: relative
            left: 24px
            top: -20px
            background-color: $white
            transform: rotate(-45deg)
            content: ''

.lecture_title
    font-weight: bold
    font-size: 30px

.lecture
    +margin(top 40px bottom 100px)

@mixin middle-swiper-container
    +margin(top 40px bottom 80px)
    overflow: hidden

    .swiper-slide img
        +size(232px, 232px)
        +border(1px solid rgba(0,0,0,0.1))
        +border-radius(8px)
        +box-sizing(border-box)

@mixin lecture-description
    +size(296px)

    .lecture-description-sub
        +padding(top 20px)
        overflow: hidden
        color: $gray-700

        .lecture-type
            +padding(6px 8px)
            +background(null, null, null, $page-color)
            float: left
            font-size: 11px
            color: $white

        .lecture-date
            +padding(6px 0 0 10px)
            float: left
            font-size: 12px

        .lecture-time
            +padding(top 6px)
            +ellipse(220px)
            float: right
            font-size: 12px

    .lecture-name
        +margin(top 8px)
        +ellipse(null, 2)
        display: block
        height: 48px
        font-size: 16px
        line-height: 1.5

    .lecture-all-price
        display: flex
        align-items: center
        margin-top: 12px

    .lecture-price
        font-weight: bold
        font-size: 16px
        color: $page-color
        letter-spacing: 0.8px
        margin-right: 5px

    .lecture-sale
        font-weight: bold
        color: red
        font-size: 12px
        margin-right: 5px

    .lecture-ogprice
        color: $gray-c
        font-size: 12px
        text-decoration: line-through

.swiper-button-prev:after,
.swiper-button-next:after
    content: ''

.top-banner
    +margin(top 40px)

    .swiper-container
        position: relative

    .swiper-slide
        img
            width: 1280px
            height: 400px
            +border(1px solid rgba(0,0,0,0.1))
            +box-sizing(border-box)

    .swiper-controller-wrap
        +size(354px, 30px)
        +border-radius(15px)
        +background(null,null,null,rgba(0,0,0,0.2))
        position: absolute
        bottom: 51px
        right: 206px
        z-index: 100

        .swiper-pagination-fraction
            +size(48px)
            bottom: 8px
            left: 18px
            color: $white

            .swiper-pagination-current
                +padding(right 14px)
                font-weight: normal

            .pagination-bar
                +size(1px, 10px)
                +background(null,null,null,rgba(255,255,255,0.5))
                position: absolute
                top: 2px
                left: 24px
                content: ''

        .swiper-scrollbar
            +size(200px,2px)
            +background(null,null,null,rgba(255,255,255,0.2))
            position: absolute
            top: 15px
            left: 80px

            .swiper-scrollbar-drag
                +background(null,null,null,$white)

        .swiper-button-prev,
        .swiper-button-next
            +margin(top -15px)
            +size(21px, 30px)

        .swiper-button-prev
            +background('/images/desktop/global/icon_left_arrow_white.png',no-repeat,center center,null)
            background-size: 7px 10px
            transform: translateX(288px)

            &:hover
                +background('/images/desktop/global/icon_left_arrow_purple.png')

        .swiper-button-next
            +background('/images/desktop/global/icon_right_arrow_white.png',no-repeat,center center,null)
            background-size: 7px 10px
            transform: translateX(-3px)

            &:hover
                +background('/images/desktop/global/icon_right_arrow_purple.png')

.ad
    +margin(top 104px)

    img
        +size(1280px,120px)
        +border(1px solid rgba(0,0,0,0.1))
        +border-radius(5px)
        +box-sizing(border-box)

.swiper-button-prev-common,
.swiper-button-next-common
    +size(30px, 30px)
    +margin(top -14px)
    +border-radius(50%)
    position: absolute
    z-index: 100
    cursor: pointer

    &:hover
        background-color: rgba(0, 0, 0, 0.7)

.swiper-button-prev-common:focus,
.swiper-button-next-common:focus
    outline: none

.swiper-button-prev-common
    +background('/images/desktop/global/icon_left_arrow_white.png',no-repeat,center center,rgba(0, 0, 0, 0.4))
    left: -20px

.swiper-button-next-common
    +background('/images/desktop/global/icon_right_arrow_white.png',no-repeat,13px center,rgba(0, 0, 0, 0.4))
    right: -20px

.middle-banner
    +size(1240px)
    +margin(80px auto 0 auto)
    position: relative
    text-align: left
    h2
        position: relative
        font-weight: bold
        font-size: 30px
        right: 20px

    .middle-swiper-container
        +middle-swiper-container

    .middle-swiper-container2
        +middle-swiper-container
        .swiper-slide img
            +size(296px, 222px)

        .lecture-description
            +lecture-description

    .middle-swiper-container3
        +middle-swiper-container
        .swiper-slide img
            +size(296px, 222px)

        .lecture-description
            +lecture-description

    .middle-swiper-button-prev, .middle-swiper-button-prev2, .middle-swiper-button-prev3
        +middle-swiper-button-prev

    .middle-swiper-button-next, .middle-swiper-button-next2, .middle-swiper-button-next3
        +middle-swiper-button-next

.bottom-banner
    +size(1240px)
    +margin(140px auto 0 auto)
    position: relative

    .bottom-swiper-container
        overflow: hidden

        .swiper-slide img
            +size(610px, 200px)
            +border(1px solid rgba(0,0,0,0.1))
            +border-radius(8px)
            +box-sizing(border-box)

    .bottom-swiper-button-prev
        top: 100px

    .bottom-swiper-button-next
        top: 100px
        right: -20px

.community
    +margin(top 140px)
    +background(null,null,null,#fdf8ff)
    min-width: 1280px
    height: 238px

    .community-wrap
        +padding(top 48px)
        overflow: hidden

        .community-common
            +size(310px)
            float: left
            position: relative

            h2
                font-weight: bold
                font-size: 20px
                letter-spacing: 0.9px

            ul
                +margin(top 30px)

                li
                    +size(300px)
                    +margin(top 22px)
                    +padding(left 10px)
                    +ellipse()
                    position: relative

                    a
                        font-size: 14px

                    &::before
                        +size(2px, 2px)
                        +background(null,null,null,#222222)
                        position: absolute
                        top: 6px
                        left: 0
                        content: ''

                    &:hover
                        text-decoration: underline

            .btn-more
                +size(56px)
                +background('/images/desktop/global/icon_plus.png',no-repeat, 42px center)
                display: block
                position: absolute
                top: 4px
                right: -4px
                font-size: 13px
                color: $gray-700

            .btn-more:hover
                +background('/images/desktop/global/icon_plus_on.png')
                text-decoration: underline

        .notice
            +margin(right 80px)

        .community-menu
            float: right

            li
                +margin(right 30px)
                position: relative
                float: left
                text-align: center

                a
                    font-size: 16px

                    p
                        +padding(top 20px)

                    &::before
                        +size(88px, 88px)
                        +border(1px solid #ece6ec)
                        +border-radius(50%)
                        +background(null, no-repeat, center center, $white)
                        display: block
                        content: ''

                    &:hover
                        font-weight: bold

            li:nth-child(1)
                a::before
                    +background('/images/desktop/global/icon_foot_mypage.png')

                a:hover::before
                    +background('/images/desktop/global/icon_foot_mypage_on.png')

            li:nth-child(2)
                a::before
                    +background('/images/desktop/global/icon_foot_cs.png')

                a:hover::before
                    +background('/images/desktop/global/icon_foot_cs_on.png')

            li:nth-child(3)
                a::before
                    +background('/images/desktop/global/icon_foot_lecture.png')

                a:hover::before
                    +background('/images/desktop/global/icon_foot_lecture_on.png')

            li:last-child
                +margin(0)
