@import 'resources/sass/helpers/variables'
@import 'resources/sass/helpers/extends'
@import 'resources/sass/helpers/mixins'

.swiper-button-prev:after,
.swiper-button-next:after
    content: ''

.top-banner
    +margin(top 40px)

    .swiper-container
        position: relative

    .swiper-slide
        img
            width: 1280px
            height: 400px

    .swiper-controller-wrap
        +size(354px, 30px)
        +border-radius(15px)
        +background(null,null,null,rgba(0,0,0,0.2))
        position: absolute
        bottom: 51px
        right: 206px
        z-index: 100

        .swiper-pagination-fraction
            +size(48px)
            bottom: 8px
            left: 18px
            color: $white

            .swiper-pagination-current
                +padding(right 14px)
                font-weight: normal

            .pagination-bar
                +size(1px, 10px)
                +background(null,null,null,rgba(255,255,255,0.5))
                position: absolute
                top: 2px
                left: 24px
                content: ''

        .swiper-scrollbar
            +size(200px,2px)
            +background(null,null,null,rgba(255,255,255,0.2))
            position: absolute
            top: 15px
            left: 80px

            .swiper-scrollbar-drag
                +background(null,null,null,$white)

        .swiper-button-prev,
        .swiper-button-next
            +margin(top -5px)
            +size(7px, 10px)

        .swiper-button-prev
            +background('/images/desktop/global/icon_left_arrow_white.png',no-repeat,center center,null)
            background-size: 7px 10px
            transform: translateX(295px)

            &:hover
                +background('/images/desktop/global/icon_left_arrow_purple.png')

        .swiper-button-next
            +background('/images/desktop/global/icon_right_arrow_white.png',no-repeat,center center,null)
            background-size: 7px 10px
            transform: translateX(-10px)

            &:hover
                +background('/images/desktop/global/icon_right_arrow_purple.png')

.lecture
    +margin(top 78px)

    .lecture-menu
        +margin(0 auto)
        overflow: hidden

        li
            +size(170px 170px, 70px 70px)
            +margin(right 40px)
            +padding(left 67px top 25px)
            +border(1px solid #d8d8d8)
            +border-radius(35px)
            +background('/images/desktop/lecture/lecture_menu_icon_1.png',no-repeat, 25px 19px, #fafafa)
            +box-sizing(border-box)
            display: block
            float: left
            font-size: 20px
            color: $gray-700
            cursor: pointer

        li:hover,
        .active-menu
            +padding(left 66px top 24px)
            +border(2px solid $page-color)
            +background('/images/desktop/lecture/lecture_menu_icon_on_1.png', no-repeat, 24px 18px)
            font-weight: bold
            color: $font-color-base

        li:nth-child(2)
            +size(189px 189px, 70px 70px)
            +background('/images/desktop/lecture/lecture_menu_icon_2.png')

            &:hover
                +background('/images/desktop/lecture/lecture_menu_icon_on_2.png')

        li:nth-child(2).active-menu
            +background('/images/desktop/lecture/lecture_menu_icon_on_2.png')

        li:nth-child(3)
            +size(189px 189px, 70px 70px)
            +background('/images/desktop/lecture/lecture_menu_icon_3.png')

            &:hover
                +background('/images/desktop/lecture/lecture_menu_icon_on_3.png')

        li:nth-child(3).active-menu
            +background('/images/desktop/lecture/lecture_menu_icon_on_3.png')

        li:nth-child(4)
            +size(239px 239px, 70px 70px)
            +background('/images/desktop/lecture/lecture_menu_icon_4.png')

            &:hover
                +background('/images/desktop/lecture/lecture_menu_icon_on_4.png')

        li:nth-child(4).active-menu
            +background('/images/desktop/lecture/lecture_menu_icon_on_4.png')

        li:nth-child(5)
            +size(152px 152px, 70px 70px)
            +background('/images/desktop/lecture/lecture_menu_icon_5.png')

            &:hover
                +background('/images/desktop/lecture/lecture_menu_icon_on_5.png')

        li:nth-child(5).active-menu
            +background('/images/desktop/lecture/lecture_menu_icon_on_5.png')

        li:nth-child(6)
            +size(133px 133px, 70px 70px)
            +margin(right 0)
            +background('/images/desktop/lecture/lecture_menu_icon_6.png')

            &:hover
                +background('/images/desktop/lecture/lecture_menu_icon_on_6.png')

        li:nth-child(6).active-menu
            +background('/images/desktop/lecture/lecture_menu_icon_on_6.png')

    .lecture-contents
        +margin(top 38px)
        overflow: hidden

        .lecture-card
            +margin(80px 40px 0 0)
            +box-sizing(border-box)
            float: left

            img
                +size(400px 400px, 300px)
                +border(1px solid rgba(0, 0, 0, 0.1))
                +border-radius(5px)
                +box-sizing(border-box)

                &:hover
                    +border(1px solid $page-color)

            .lecture-description
                +size(400px)

                .lecture-description-sub
                    +padding(top 20px)
                    overflow: hidden
                    color: $gray-700

                    .lecture-type
                        float: left
                        font-size: 14px

                    .lecture-time
                        float: right
                        font-size: 14px

                .lecture-name
                    +margin(top 9px)
                    +ellipse(null, 2)
                    height: 60px
                    font-size: 20px
                    line-height: 1.5

                    &:hover
                        text-decoration: underline

                .lecture-price
                    +margin(top 19px)
                    font-weight: bold
                    font-size: 18px
                    color: $page-color
                    letter-spacing: 0.8px

        .lecture-card:nth-child(3n)
            +margin(right 0px)

        .lecture-card:nth-child(1),
        .lecture-card:nth-child(2),
        .lecture-card:nth-child(3)
            +margin(top 0)

.ad
    +margin(top 104px)

    img
        +size(1280px,120px)
        +border-radius(5px)

.swiper-button-prev-common,
.swiper-button-next-common
    +size(30px, 30px)
    +margin(top -14px)
    +border-radius(50%)
    position: absolute
    z-index: 100
    cursor: pointer

    &:hover
        background-color: rgba(0, 0, 0, 0.7)

.swiper-button-prev-common:focus,
.swiper-button-next-common:focus
    outline: none

.swiper-button-prev-common
    +background('/images/desktop/global/icon_left_arrow_white.png',no-repeat,center center,rgba(0, 0, 0, 0.4))
    left: -20px

.swiper-button-next-common
    +background('/images/desktop/global/icon_right_arrow_white.png',no-repeat,13px center,rgba(0, 0, 0, 0.4))
    right: -20px

.middle-banner
    +size(1240px)
    +margin(80px auto 0 auto)
    position: relative
    text-align: center

    h2
        font-weight: bold
        font-size: 30px

    .middle-swiper-container
        +margin(top 40px)
        overflow: hidden

        .swiper-slide img
            +size(232px, 232px)
            +border-radius(8px)

    .middle-swiper-button-prev
        top: 186px

    .middle-swiper-button-next
        top: 186px
        right: -20px

.bottom-banner
    +size(1240px)
    +margin(140px auto 0 auto)
    position: relative

    .bottom-swiper-container
        overflow: hidden

        .swiper-slide img
            +size(610px, 200px)
            +border-radius(8px)

    .bottom-swiper-button-prev
        top: 100px

    .bottom-swiper-button-next
        top: 100px
        right: -20px

.community
    +margin(top 140px)
    +background(null,null,null,#fdf8ff)
    height: 238px

    .community-wrap
        +padding(top 48px)
        overflow: hidden

        .community-common
            +size(310px)
            float: left
            position: relative

            h2
                font-weight: bold
                font-size: 20px
                letter-spacing: 0.9px

            ul
                +margin(top 30px)

                li
                    +size(300px)
                    +margin(top 22px)
                    +padding(left 10px)
                    +ellipse()
                    position: relative

                    a
                        font-size: 14px

                    &::before
                        +size(2px, 2px)
                        +background(null,null,null,#222222)
                        position: absolute
                        top: 6px
                        left: 0
                        content: ''

                    &:hover
                        text-decoration: underline

            .btn-more
                +size(56px)
                +background('/images/desktop/global/icon_plus.png',no-repeat, 42px center)
                display: block
                position: absolute
                top: 4px
                right: -4px
                font-size: 13px
                color: $gray-700

            .btn-more:hover
                +background('/images/desktop/global/icon_plus_on.png')

        .notice
            +margin(right 80px)

        .community-menu
            float: right

            li
                +margin(right 30px)
                position: relative
                float: left
                text-align: center

                a
                    font-size: 16px

                    &::before
                        +size(88px, 88px)
                        +margin(bottom 20px)
                        +border(1px solid #ece6ec)
                        +border-radius(50%)
                        +background(null, no-repeat, center center, $white)
                        display: block
                        content: ''

                    &:hover
                        font-weight: bold

            li:nth-child(1)
                a::before
                    +background('/images/desktop/global/icon_foot_mypage.png')

                a:hover::before
                    +background('/images/desktop/global/icon_foot_mypage_on.png')

            li:nth-child(2)
                a::before
                    +background('/images/desktop/global/icon_foot_cs.png')

                a:hover::before
                    +background('/images/desktop/global/icon_foot_cs_on.png')

            li:nth-child(3)
                a::before
                    +background('/images/desktop/global/icon_foot_lecture.png')

                a:hover::before
                    +background('/images/desktop/global/icon_foot_lecture_on.png')

            li:last-child
                +margin(0)
