@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/desktop/layouts/navigation/term.sass'

.term
    .content
        +margin(top 39px bottom 81px)

        h4
            +padding(top 21px)
            font-weight: bold
            font-size: 20px
            color: $page-color
            line-height: 26px

        h5
            +padding(top 27px)
            font-weight: bold
            font-size: 14px
            line-height: 26px

        p
            line-height: 26px

        ul
            +margin(left 28px)

            li
                line-height: 26px
