@import './helpers/variables.sass'
@import './helpers/extends.sass'
@import './helpers/mixins.scss'
@import 'base/_fonts.sass'

.content
    .card-search
        +padding(1rem 1rem 0)

        .form-group,
        .input-group,
        select,
        .date-picker
            +margin(right 10px)

        select
            +size(135px)
            float: left

        .input-group
            +size(300px)
            float: left

    .card-body
        .form-group
            +border(1px solid $border-color-base ,bottom)
            margin-right: -15px
            margin-left: -15px
            margin-bottom: 0
            clear: both

            &.float-left
                clear: none

            .col-form-label
                +box-sizing(border-box)
                font-size: 16px

            .col-md-2
                flex: none

        .thumbnail-wrap
            +size(100%, 180px)
            +border(1px solid $border-color-base)
            +background(null, no-repeat, center cernter)
            +box-sizing(border-box)
            background-size: cover

            label
                +size(60%)
                +margin(120px auto 0)

        .radio-wrap
            +margin(right 30px)
            +padding(0 calc(0.375rem + 1px))
            float: left
            line-height: 35px
            vertical-align: middle

            &:last-child
                +margin(right 0)

            input[type="radio"]
                +margin(right 10px)
                display: inline-block

            label
                +margin(0)
                display: inline-block

            label + .form-control
                +size(150px)
                +margin(left 20px)
                display: inline-block

        .input-file-wrap
            .input-file
                +size(70%)
                +margin(left 10px)

        .datepicker,
        .timepicker
            +background(null,null,null,$white)

.content
    .banner, .faq, .notice, .inquire, .user
        .col-form-label
            +background(null,null,nlll, $background-color-menu)

        .form-input
            +padding(10px 10px)

            .answer-time
                +padding(left 20px top 5px)

            p
                +margin(0)

            .tips
                +margin(bottom 10px)

            .start-time
                +margin(right 10px)

            .end-time
                +margin(left 10px)

            .input-file
                +margin(left 10px)

// 강의 관리
.content .online,
.content .offline
    .form-group
        +margin(bottom 50px)
        +border(0)

        .form-control
            +margin(5px 0)

    .left-wrap,
    .right-wrap
        +margin(bottom 50px)

    .left-wrap
        +size(200px)
        float: left

    .right-wrap
        +size(calc(100% - 200px))
        +padding(0 10px)
        float: right

        .form-group
            +margin(right 0 left 0 bottom 0)

        .col-form-label + div
            +padding(left 0)

    select
        +size(180px)
        +margin(right 12px)
        float: left

    .free
        +margin(top 5px)

    .lecture-setting
        +margin(bottom 30px)
        +padding(bottom 30px)
        +border(1px solid $border-color-base, bottom)

        .lecture-title
            +margin(left 20px)

        .input-file
            +size(71%)

        .btn-info
            +margin(top 5px right 18px)

        .form-group
            +margin(right 0 left 0 bottom 0)

    .lecture-file-wrap
        .btn-info
            +margin(top 5px right 18px)

        .input-file
            +size(72.4%)

    .additional-information
        .form-control
            +margin(top 0 bottom 0 left 10px)

// 강의 추가 정보
.additional-information
    +border(1px solid $border-color-base)
    overflow: hidden

    .menu-wrap
        +size(9%)
        +padding(top 30px)
        float: left

        button
            +margin(bottom 10px)

    .survey-wrap
        +size(86%)
        +margin(left 3%)
        +border(1px solid $border-color-base, left)
        float: left

        .form-wrap
            +padding(left 2% top 30px bottom 30px)
            +border(1px solid $border-color-base, bottom)

            .input-wrap
                +size(60%)
                +margin(right 8px)
                float: left

            .item-wrap
                +size(72.8%)
                +margin(top 10px)
                overflow: hidden

                .circle
                    +size(23px, 23px)
                    +margin(top 7px)
                    +border(1px solid $border-color-base)
                    +border-radius(50px)
                    content: ''
                    float: left

                .square
                    +size(23px, 23px)
                    +margin(top 7px)
                    +border(1px solid $border-color-base)
                    content: ''
                    float: left

                .choices
                    +size(70%)
                    +margin(left 10px)
                    float: left

                .btn-item-delete
                    +margin(left 10px)
                    float: left

            .checkbox-wrap
                +margin(left 12px)
                float: left

                input[type=checkbox]
                    +size(20px, 20px)
                    transform: translateY(5px)

                input[type=checkbox] + label
                    +margin(left 5px)
                    line-height: 1

            .btn-wrap
                +margin(left 20px)
                float: left

// 지도
.content .map-container .map-search-bar
    @extend %reset-box-height
    position: relative

    .search-list
        +size(75%)
        +padding(0)
        +border(1px solid $border-color-base)
        +box-sizing(border-box)
        overflow-y: scroll
        position: absolute
        top: 40px
        left: 0
        z-index: 1000
        max-height: 270px
        background: $white

        li
            +padding(6px 0 6px 10px)
            +border(1px solid $border-color-base, top)
            overflow: hidden
            white-space: nowrap
            cursor: pointer

            &:first-child
                +border(0, top)

.certificate-container
    overflow-x: auto

    .certificate-wrap
        width: 1550px
        overflow: hidden

        .card
            width: 750px
            float: left

        .card-left
            margin-right: 50px

    .card-right .card-body
        font-family: $font-family-chosun
        background: url('/images/admin/certification_back.png') no-repeat center center
        background-size: 100% 100%
        min-height: 1010px
        position: relative

        .certificate-logo
            display: block
            width: 150px
            margin: 30px auto 0 auto

        .certificate-background-logo
            display: block
            width: 272px
            position: absolute
            top: 43%
            left: 50%
            transform: translate(-50%, -50%)

        .certificate-number
            +margin(top 50px)
            +padding(left 70px)
            font-size: 20px
            color: #1d1d1b

        .certificate-title
            margin-top: 70px
            text-align: center
            font-weight: bold
            font-size: 60px
            color: #1d1d1b

        .certificate-information-wrap
            display: flex
            justify-content: space-between
            align-items: center

        .certificate-name
            +margin(top 70px)
            +padding(left 70px)
            font-size: 25px
            color: #1d1d1b

        .certificate-content
            +margin(60px auto 0 auto)
            max-width: 600px
            min-height: 100px
            font-family: $font-family-chosun
            font-size: 30px
            text-align: center
            color: #1d1d1b
            word-break: break-all

        .certificate-sub-content
            +margin(top 75px)
            text-align: center
            font-size: 30px
            color: #1d1d1b

        .certificate-date
            +margin(top 30px)
            text-align: center
            font-size: 30px
            color: #1d1d1b

        .certificate-associate
            +margin(top 100px)
            text-align: center
            font-size: 33px
            color: #1d1d1b

            span:first-child
                +margin(right 50px)

        .certificate-main-associate
            position: relative
            text-align: center
            font-size: 45px
            color: #1d1d1b
            z-index: 10

        .certificate-main-associate-wrap
            +margin(top 15px bottom 50px)
            position: relative

        .sign
            +size(100px)
            position: absolute
            right: 74px
            top: -22px
            z-index: 1

    .qualification
        .certificate-title
            margin-top: 0 !important

        .certificate-name
            margin-top: 0 !important

        .certificate-information-wrap
            +margin(top 70px)

        .certificate-birth,
        .certificate-grade
            +padding(left 70px)
            font-size: 25px
            color: #1d1d1b

        .certificate-image-wrap
            +padding(right 70px)

            .sample-image
                +size(120px, 180px)
                background-color: $border-color-base

.popup-container
    +size(100%, 100%)
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    top: 0
    left: 0
    z-index: 10000

    .layer
        +size(100%, 100%)
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 1
        background-color: rgba(0, 0, 0, 0.6)

    .popup-wrap
        +size(500px, auto)
        +padding(20px 15px)
        +box-sizing(border-box)
        position: absolute
        z-index: 10
        background: $white

    .popup-header h2
        font-size: 24px

    .popup-content
        +margin(top 20px)

        .date-wrap:after
            display: block
            content: ""
            clear: both

        article
            +margin(top 15px)

        h4
            font-size: 18px
            line-height: 30px

        .btn-area
            display: flex
            justify-content: center

            .btn
                +margin(0 5px)

        .thumbnail-wrap
            +size(114px, 152px)
            +border(1px solid $border-color-base)
            +background(null, no-repeat, center center)
            +box-sizing(border-box)
            background-size: cover

            &:hover
                label
                    display: block

            label
                display: none
                +size(100%)
                +margin(54px auto 0)

// 학생 추가정보 보기 페이지
.student-additional
    .question-list
        +padding(20px 0)
        +border(1px solid $border-color-base, bottom)
        font-weight: bold
        list-style: none

        .answer-list
            +padding(top 10px)
            font-weight: normal

        &:last-child
            +border(0)

        p
            +margin(0)

// 이메일,sms 보내기
.email,
.sms
    .title-area
        +border(1px solid $gray-300, bottom)

        h4
            float: left
            font-weight: bold

        p
            +padding(left 10px)
            float: left

    .send-area
        overflow: hidden

        .select-wrap
            +size(100%)
            +margin(top 30px)
            float: left
            overflow: hidden

            .w-40
                width: 40% !important

            .form-control
                +margin(right 10px)

            .select-list
                +size(100%, 500px)
                +margin(top 20px)
                +border(1px solid $border-color-base)
                overflow-y: scroll

                li
                    list-style: none
                    +border(1px solid $border-color-base, bottom)

                    label
                        vertical-align: top

                    input[type=checkbox]
                        +size(18px, 18px)
                        +margin(top 5px)

                    .name, .email
                        font-size: 16px

            .manage-area
                +margin(top 20px)
                overflow: hidden

                .count
                    float: right
                    font-size: 20px

    .write-area
        +margin(top 100px)

        .input-wrap
            +margin(top 30px)

            label
                +margin(right 10px top 3px)
                font-size: 16px

        .editor-wrap
            +margin(top 20px)

        #sms_input
            +size(100%, 300px)
            +border(1px solid $border-color-base)


        .text-num-wrap
            text-align: right

            .text-number
                font-size: 20px

    .btn-zone
        +margin(top 30px)
        text-align: right

    .dim
        +background(null,null,null,$white)
        width: 100%
        height: 100%
        position: fixed
        top: 0
        left: 0
        background-color: rgba(0, 0, 0, 0.5)
        z-index: 210

    .loading-pop
        +size(700px)
        +padding(10px)
        +background(null, null, null, $white)
        +border(2px solid $page-color)
        position: fixed
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        text-align: center
        z-index: 220

        h1
            font-size: 24px

// community
.community
    .form-group
        +padding(10px 0)

// membership
.user-membership
    table
        +border(1px solid $border-color-base)

        th
            +border(1px solid $border-color-base, right bottom)
            height: 80px
            text-align: center

        td
            +padding(10px)
            +border(1px solid $border-color-base, right bottom)
            text-align: center
