html
    height: 100%
    font-size: 3.8888888vw

body
    height: 100%

#app
    height: 100%
    font-size: 3.8888888vw


// mobile layout
.m-container
    +margin(0 auto)
    position: relative
    width: 100%

.m-row
    +padding(0 4.4444444vw)

.m-short-row
    +padding(0 2.2222222vw)

.wrap
    min-height: 100%
    position: relative



