html
    height: 100%

body
    height: 100%

#app
    height: 100%

// mobile layout
.m-container
    +margin(0 auto)
    position: relative
    width: 100%

.m-row
    +padding(0 4.4444444vw)

.m-short-row
    +padding(0 2.2222222vw)

.wrap
    min-height: 100%
    position: relative

.wrap main
    +padding(bottom 28.61111111vw)
