// 버튼 default
%btn-default
    +box-sizing()
    display: block
    border: 0
    background: none
    font-family: $font-family-source
    text-align: center
    text-decoration: none
    outline: none
    cursor: pointer

%btn-page
    background: $page-color

@mixin btn($type: null, $border: null, $radius: null)
    @extend %btn-default

    @if $type == page-fill
        @extend %btn-page

    @if $border != null
        @include border($border)
    @else
        @include border(0)

    @if $radius != null
        @include border-radius($radius)
    @else
        @include border-radius(0)
