input[type="text"]
    +margin(right 5px)
    +padding(left 20px)
    +border(1px solid $border-color-base)
    +border-radius(25px)
    +size(240px, 50px)
    +background(null, null, null, $white-light)
    box-sizing: border-box
    font-size: 14px

input[type='radio'],
input[type='radio']:checked
    +margin(0 5px 0 0 )
    appearance: none
    width: 14px
    height: 14px
    border-radius: 100%

input[type='radio']
    +border(1px solid $border-color-base)

input[type="radio"]:checked
    +background('/images/desktop/input/radio-on.png', no-repeat, center center)

input[type='checkbox'],
input[type='checkbox']:checked
    +margin(0 5px 0 0 )
    appearance: none
    display: inline-block
    width: 14px
    height: 14px

input[type='checkbox']
    +border(1px solid $border-color-base)

input[type='checkbox'] + label
    vertical-align: top

input[type="checkbox"]:checked
    +background('/images/desktop/input/check-on.png', no-repeat, center center)

input[type="file"]
    position: absolute
    width: 1px
    height: 1px
    padding: 0
    margin: -1px
    overflow: hidden
    clip: rect(0,0,0,0)
    border: 0

input[type="file"] + label
    +size(86px)
    +margin(top 20px)
    +padding(top 17px bottom 17px)
    +border(1px solid $border-color-base)
    +border-radius(25px)
    +background(null, null, null, $white)
    display: block
    font-weight: bold
    text-align: center
    cursor: pointer

input::placeholder
    font-size: 14px
    color: $gray-900


//select box
select
    +margin(right 5px)
    +padding(left 20px)
    +border(1px solid $border-color-base)
    +border-radius(25px)
    +size(240px, 50px)
    +background('/images/desktop/global/icon_arrow_down.png', no-repeat, 206px center, $white-light)

//emailbox
.ui-emailbox
    position: relative

.email_box
    +padding(left 20px)
    +border(1px solid $border-color-base)
    +border-radius(25px)
    +size(240px, 50px)
    font-size: 14px

.ui-emailbox-account
    +margin(right 6px)

.ui-emailbox-domain
    +margin(left 6px)

.ui-button
    +border(none)
    +size(13px, 7px)
    +background('/images/desktop/global/icon_arrow_down.png', no-repeat, center center, $white-light)
    position: absolute
    right: 10px
    top: 5px
    cursor: default

    &:focus
        outline: none

.ui-button:hover
    +border(none)
    +background('/images/desktop/global/icon_arrow_down.png', no-repeat, center center, $white-light)

.ui-menu
    max-width: 240px
    max-height: 300px
    overflow: hidden
    overflow-y: scroll

.ui-menu-item
    +padding(20px 10px)
    +border(1px solid $border-color-base, bottom)
    +background(null, null, null, $white-light)

.ui-widget-content .ui-state-active
    +border(none)
    +background(null, null, null, $page-color)
