/* variables */

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.top-banner {
  margin-top: 40px;
}

.top-banner .swiper-container {
  position: relative;
}

.top-banner .swiper-slide img {
  width: 1280px;
  height: 400px;
}

.top-banner .swiper-controller-wrap {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 51px;
  right: 206px;
  width: 354px;
  height: 30px;
  z-index: 100;
}

.top-banner .swiper-controller-wrap .swiper-pagination-fraction {
  bottom: 8px;
  left: 18px;
  width: 48px;
  color: #ffffff;
}

.top-banner .swiper-controller-wrap .swiper-pagination-fraction .swiper-pagination-current {
  padding-right: 14px;
  font-weight: normal;
}

.top-banner .swiper-controller-wrap .swiper-pagination-fraction .pagination-bar {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 2px;
  left: 24px;
  content: "";
  width: 1px;
  height: 10px;
}

.top-banner .swiper-controller-wrap .swiper-scrollbar {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 15px;
  left: 80px;
  width: 200px;
  height: 2px;
}

.top-banner .swiper-controller-wrap .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #ffffff;
}

.top-banner .swiper-controller-wrap .swiper-button-prev,
.top-banner .swiper-controller-wrap .swiper-button-next {
  width: 7px;
  height: 10px;
  margin-top: -5px;
}

.top-banner .swiper-controller-wrap .swiper-button-prev {
  background-image: url("/images/desktop/global/icon_left_arrow_white.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7px 10px;
  transform: translateX(295px);
}

.top-banner .swiper-controller-wrap .swiper-button-prev:hover {
  background-image: url("/images/desktop/global/icon_left_arrow_purple.png");
}

.top-banner .swiper-controller-wrap .swiper-button-next {
  background-image: url("/images/desktop/global/icon_right_arrow_white.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7px 10px;
  transform: translateX(-10px);
}

.top-banner .swiper-controller-wrap .swiper-button-next:hover {
  background-image: url("/images/desktop/global/icon_right_arrow_purple.png");
}

.lecture {
  margin-top: 78px;
}

.lecture .lecture-menu {
  margin: 0 auto;
  overflow: hidden;
}

.lecture .lecture-menu li {
  margin-right: 40px;
  float: left;
}

.lecture .lecture-menu li a {
  padding: 25px 29px 25px 67px;
  border: 1px solid #d8d8d8;
  border-radius: 35px;
  background: #fafafa url("/images/desktop/lecture/lecture_menu_icon_1.png") no-repeat 25px 19px;
  display: block;
  font-size: 20px;
  color: #777777;
}

.lecture .lecture-menu li a:hover {
  padding: 24px 28px 24px 66px;
  border: 2px solid #9b00d8;
  background-image: url("/images/desktop/lecture/lecture_menu_icon_on_1.png");
  background-repeat: no-repeat;
  background-position: 24px 18px;
  font-weight: bold;
  color: #222222;
}

.lecture .lecture-menu li:nth-child(2) a {
  background-image: url("/images/desktop/lecture/lecture_menu_icon_2.png");
}

.lecture .lecture-menu li:nth-child(3) a {
  background-image: url("/images/desktop/lecture/lecture_menu_icon_3.png");
}

.lecture .lecture-menu li:nth-child(4) a {
  background-image: url("/images/desktop/lecture/lecture_menu_icon_4.png");
}

.lecture .lecture-menu li:nth-child(4) a:hover {
  padding: 24px 27px 24px 65px;
}

.lecture .lecture-menu li:nth-child(5) a {
  background-image: url("/images/desktop/lecture/lecture_menu_icon_5.png");
}

.lecture .lecture-menu li:nth-child(6) {
  margin-right: 0;
}

.lecture .lecture-menu li:nth-child(6) a {
  background-image: url("/images/desktop/lecture/lecture_menu_icon_6.png");
}

.lecture .lecture-menu li:nth-child(2):hover a {
  background-image: url("/images/desktop/lecture/lecture_menu_icon_on_2.png");
}

.lecture .lecture-menu li:nth-child(3):hover a {
  background-image: url("/images/desktop/lecture/lecture_menu_icon_on_3.png");
}

.lecture .lecture-menu li:nth-child(4):hover a {
  background-image: url("/images/desktop/lecture/lecture_menu_icon_on_4.png");
}

.lecture .lecture-menu li:nth-child(5):hover a {
  background-image: url("/images/desktop/lecture/lecture_menu_icon_on_5.png");
}

.lecture .lecture-menu li:nth-child(6):hover a {
  background-image: url("/images/desktop/lecture/lecture_menu_icon_on_6.png");
}

.lecture .lecture-contents {
  margin-top: 38px;
  overflow: hidden;
}

.lecture .lecture-contents .lecture-card {
  margin: 80px 40px 0 0;
  float: left;
}

.lecture .lecture-contents .lecture-card img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 398px;
  height: 300px;
}

.lecture .lecture-contents .lecture-card .lecture-description {
  width: 400px;
}

.lecture .lecture-contents .lecture-card .lecture-description .lecture-description-sub {
  padding-top: 20px;
  overflow: hidden;
  color: #777777;
}

.lecture .lecture-contents .lecture-card .lecture-description .lecture-description-sub .lecture-type {
  float: left;
  font-size: 14px;
}

.lecture .lecture-contents .lecture-card .lecture-description .lecture-description-sub .lecture-time {
  float: right;
  font-size: 14px;
}

.lecture .lecture-contents .lecture-card .lecture-description .lecture-name {
  margin-top: 9px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .lecture .lecture-contents .lecture-card .lecture-description .lecture-name {
    display: block;
  }
}

.lecture .lecture-contents .lecture-card .lecture-description .lecture-name:hover {
  text-decoration: underline;
}

.lecture .lecture-contents .lecture-card .lecture-description .lecture-price {
  margin-top: 19px;
  font-size: 18px;
  font-weight: bold;
  color: #9b00d8;
  letter-spacing: 0.8px;
}

.lecture .lecture-contents .lecture-card:nth-child(3n) {
  margin-right: 0px;
}

.lecture .lecture-contents .lecture-card:nth-child(1),
.lecture .lecture-contents .lecture-card:nth-child(2),
.lecture .lecture-contents .lecture-card:nth-child(3) {
  margin-top: 0;
}

.ad {
  margin-top: 104px;
}

.ad img {
  border-radius: 5px;
  width: 1280px;
  height: 120px;
}

.swiper-button-prev-common,
.swiper-button-next-common {
  margin-top: -14px;
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 100;
  cursor: pointer;
}

.swiper-button-prev-common:hover,
.swiper-button-next-common:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.swiper-button-prev-common:focus,
.swiper-button-next-common:focus {
  outline: none;
}

.swiper-button-prev-common {
  background: rgba(0, 0, 0, 0.4) url("/images/desktop/global/icon_left_arrow_white.png") no-repeat center center;
  left: -20px;
}

.swiper-button-next-common {
  background: rgba(0, 0, 0, 0.4) url("/images/desktop/global/icon_right_arrow_white.png") no-repeat 13px center;
  right: -20px;
}

.middle-banner {
  margin: 80px auto 0 auto;
  position: relative;
  width: 1240px;
  text-align: center;
}

.middle-banner h2 {
  font-size: 30px;
  font-weight: bold;
}

.middle-banner .middle-swiper-container {
  margin-top: 40px;
  overflow: hidden;
}

.middle-banner .middle-swiper-container .swiper-slide img {
  border-radius: 8px;
  width: 232px;
  height: 232px;
}

.middle-banner .middle-swiper-button-prev {
  top: 186px;
}

.middle-banner .middle-swiper-button-next {
  top: 186px;
  right: -20px;
}

.bottom-banner {
  margin: 140px auto 0 auto;
  position: relative;
  width: 1240px;
}

.bottom-banner .bottom-swiper-container {
  overflow: hidden;
}

.bottom-banner .bottom-swiper-container .swiper-slide img {
  border-radius: 8px;
  width: 610px;
  height: 200px;
}

.bottom-banner .bottom-swiper-button-prev {
  top: 100px;
}

.bottom-banner .bottom-swiper-button-next {
  top: 100px;
  right: -20px;
}

.community {
  margin-top: 140px;
  background-color: #fdf8ff;
  height: 238px;
}

.community .community-wrap {
  padding-top: 48px;
}

.community .community-wrap .community-common {
  float: left;
  position: relative;
  width: 310px;
}

.community .community-wrap .community-common h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.9px;
}

.community .community-wrap .community-common ul {
  margin-top: 30px;
}

.community .community-wrap .community-common ul li {
  margin-top: 22px;
  padding-left: 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  width: 300px;
}

.community .community-wrap .community-common ul li a {
  font-size: 14px;
}

.community .community-wrap .community-common ul li::before {
  background-color: #222222;
  position: absolute;
  top: 6px;
  left: 0;
  content: "";
  width: 2px;
  height: 2px;
}

.community .community-wrap .community-common ul li:hover {
  text-decoration: underline;
}

.community .community-wrap .community-common .btn-more {
  background-image: url("/images/desktop/global/icon_plus.png");
  background-repeat: no-repeat;
  background-position: 42px center;
  display: block;
  position: absolute;
  top: 4px;
  right: -4px;
  width: 56px;
  font-size: 13px;
  color: #777777;
}

.community .community-wrap .community-common .btn-more:hover {
  background-image: url("/images/desktop/global/icon_plus_on.png");
}

.community .community-wrap .notice {
  margin-right: 80px;
}

.community .community-wrap .community-menu {
  float: right;
}

.community .community-wrap .community-menu li {
  margin-right: 30px;
  position: relative;
  float: left;
  text-align: center;
}

.community .community-wrap .community-menu li a {
  font-size: 16px;
}

.community .community-wrap .community-menu li a::before {
  margin-bottom: 20px;
  border-radius: 50%;
  border: 1px solid #ece6ec;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  content: "";
  width: 88px;
  height: 88px;
}

.community .community-wrap .community-menu li a:hover {
  font-weight: bold;
}

.community .community-wrap .community-menu li:nth-child(1) a::before {
  background-image: url("/images/desktop/global/icon_foot_mypage.png");
}

.community .community-wrap .community-menu li:nth-child(1) a:hover::before {
  background-image: url("/images/desktop/global/icon_foot_mypage_on.png");
}

.community .community-wrap .community-menu li:nth-child(2) a::before {
  background-image: url("/images/desktop/global/icon_foot_cs.png");
}

.community .community-wrap .community-menu li:nth-child(2) a:hover::before {
  background-image: url("/images/desktop/global/icon_foot_cs_on.png");
}

.community .community-wrap .community-menu li:nth-child(3) a::before {
  background-image: url("/images/desktop/global/icon_foot_lecture.png");
}

.community .community-wrap .community-menu li:nth-child(3) a:hover::before {
  background-image: url("/images/desktop/global/icon_foot_lecture_on.png");
}

.community .community-wrap .community-menu li:last-child {
  margin: 0;
}

