@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/desktop/layouts/navigation/service.sass'
@import '@sass/components/_pagination.sass'

.faq-history
    +margin(top 60px bottom 50px)

    h2
        font-size: 24px

    ul
        +margin(top 20px)
        +border(2px solid $gray-900, top)

    li
        overflow: hidden
        text-align: center

        .sort
            +size(120px)
            +padding(left 20px right 20px)
            float: left
            font-size: 16px

        .question
            +size(1047px)
            +padding(left 20px right 20px)
            +ellipse
            float: left

        .arrow-down
            +size(13px, 7px)
            +background('/images/desktop/global/icon_arrow_down.png',no-repeat,center center)
            float: left
            cursor: pointer
            transform: translateY(3px)

        .arrow-change
            +background('/images/desktop/global/icon_arrow_up.png')

    .faq-header
        +padding(top 17px bottom 17px)
        +border(1px solid $border-color-base, bottom)
        +background(null, null, null, $background-color-menu)

        span
            float: left
            font-size: 16px

    .faq-content
        .question-information
            +padding(top 26px bottom 26px)
            +border(1px solid $border-color-base, bottom)
            overflow: hidden

        .question
            overflow: hidden
            text-align: left

            em
                display: block
                float: left
                font-size: 16px
                font-weight: bold
                color: $page-color

            .question-content
                +margin(left 20px)
                display: block
                float: left
                font-size: 16px

        .answer
            +padding(left 180px top 27px bottom 27px)
            +border(1px solid $border-color-base, bottom)
            +background(null, null, null, $white-light)
            display: none
            overflow: hidden
            text-align: left

            em
                float: left
                font-size: 16px
                font-weight: bold
                color: $page-color
                line-height: 1.88

            p
                +size(1030px)
                +margin(left 20px)
                float: left
                display: block
                font-size: 16px
                line-height: 1.88
                white-space: pre-wrap

        .hide-show
            display: block

    .list-none
        +padding(top 27px bottom 27px)
        +border(1px solid $border-color-base, bottom)
