// 버튼 default
%btn-default
    +box-sizing(border-box)
    display: block
    background: none
    font-family: $font-family-base
    text-align: center
    text-decoration: none
    outline: none
    cursor: pointer

%btn-purple
    background-color: $purple-800
    color: $white

@mixin btn($type: null, $border: null, $radius: null)
    @extend %btn-default

    @if $type == purple-fill
        @extend %btn-purple
    @else
        background-color: transparent

    @if $border != null
        @include border($border)
    @else
        @include border(0)

    @if $radius != null
        @include border-radius($radius)
    @else
        @include border-radius(6.944444444vw)
