/* variables */

.content {
  background-color: #e6e6e6;
  overflow: hidden;
}

.content .container {
  margin: 21px auto 21px auto;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
}

.content .container .row {
  margin: 70px auto 80px auto;
  width: 1140px;
}

.lecture-information-wrap {
  overflow: hidden;
}

.lecture-information-wrap .lecture-image {
  border-radius: 8px;
  width: 540px;
  height: 405px;
  float: left;
}

.lecture-information-wrap .lecture-information {
  padding: 18px 0 0 50px;
  width: 550px;
  float: left;
}

.lecture-information-wrap .lecture-information .lecture-sort {
  overflow: hidden;
}

.lecture-information-wrap .lecture-information .lecture-sort .online,
.lecture-information-wrap .lecture-information .lecture-sort .offline {
  padding: 6px 8px;
  background-color: #9b00d8;
  float: left;
  font-size: 12px;
  color: #ffffff;
}

.lecture-information-wrap .lecture-information .lecture-sort .offline {
  background-color: #e577e6;
}

.lecture-information-wrap .lecture-information .lecture-sort .lecture-subject {
  padding: 6px 0 0 10px;
  font-size: 14px;
  float: left;
  color: #777777;
}

.lecture-information-wrap .lecture-information .lecture-title {
  padding-top: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.21;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .lecture-information-wrap .lecture-information .lecture-title {
    display: block;
  }
}

.lecture-information-wrap .lecture-information-text {
  margin-top: 50px;
  background-color: #fafafa;
}

.lecture-information-wrap .lecture-information-text table {
  padding: 30px 0 30px 30px;
  display: block;
}

.lecture-information-wrap .lecture-information-text table tr {
  padding-bottom: 23px;
  display: block;
}

.lecture-information-wrap .lecture-information-text table tr th {
  font-size: 14px;
  color: #777777;
}

.lecture-information-wrap .lecture-information-text table tr td {
  padding-left: 20px;
  font-size: 16px;
}

.lecture-information-wrap .lecture-information-text table tr td p {
  display: inline-block;
}

.lecture-information-wrap .lecture-information-text table tr td .lecture-select-box {
  padding-left: 14px;
  border: 1px solid #d8d8d8;
  width: 418px;
  height: 40px;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.lecture-information-wrap .lecture-information-text table tr .lecture-price {
  font-size: 20px;
  font-weight: bold;
  color: #9b00d8;
}

.lecture-information-wrap .lecture-information-text table tr:last-child {
  padding: 0;
}

.lecture-information-wrap .lecture-btn {
  margin-top: 22px;
  overflow: hidden;
}

.lecture-information-wrap .lecture-btn .apply-btn {
  margin-left: 22px;
  border-radius: 27px;
  background-color: #9b00d8;
  width: 308px;
  height: 54px;
  display: block;
  float: right;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  line-height: 3;
}

.lecture-information-wrap .lecture-btn .apply-btn:hover {
  background-color: #b47ec9;
}

.lecture-information-wrap .lecture-btn .like {
  display: block;
  float: right;
  font-size: 12px;
}

.lecture-information-wrap .lecture-btn .like.active::before {
  background-image: url("/images/desktop/lecture/lecture_icon_wish_on.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.lecture-information-wrap .lecture-btn .like::before {
  margin: 9px auto 4px auto;
  background-image: url("/images/desktop/lecture/lecture_icon_wish.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 21px;
  height: 20px;
  content: "";
  display: block;
}

.lecture-detail {
  padding-top: 80px;
}

.lecture-detail .lecture-detail-menu {
  border-radius: 23px;
  background-color: #f7f7f7;
  width: 1140px;
}

.lecture-detail .lecture-detail-menu ul {
  overflow: hidden;
}

.lecture-detail .lecture-detail-menu ul li {
  margin-right: 2px;
  float: left;
}

.lecture-detail .lecture-detail-menu ul li a {
  padding: 15px 36px;
  display: block;
  font-size: 16px;
}

.lecture-detail .lecture-detail-menu ul li a.active {
  padding: 13px 34px;
  border: 2px solid #9b00d8;
  border-radius: 23px;
  font-weight: bold;
  color: #9b00d8;
}

.lecture-detail .lecture-detail-content {
  padding-top: 30px;
}

.lecture-detail .lecture-detail-content .lecture-detail-image {
  width: 1140px;
  height: 951px;
}

.lecture-comment {
  padding-top: 138px;
}

.lecture-comment .comment-title {
  overflow: hidden;
}

.lecture-comment .comment-title h3 {
  float: left;
  font-size: 20px;
  font-weight: bold;
}

.lecture-comment .comment-title .comment-length {
  padding-left: 10px;
  float: left;
  font-size: 20px;
  color: #9b00d8;
}

.lecture-comment .comment-input-form {
  padding-top: 20px;
  display: block;
  position: relative;
}

.lecture-comment .comment-input-form .comment-input-text {
  padding: 18px 70px 18px 18px;
  border: 1px solid #d8d8d8;
  border-radius: 30px;
  background-color: #fafafa;
  width: 1049px;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  resize: none;
}

.lecture-comment .comment-input-form .comment-input-text:focus {
  outline: none;
}

.lecture-comment .comment-input-form .comment-input-text::-moz-placeholder {
  color: #999999;
}

.lecture-comment .comment-input-form .comment-input-text:-ms-input-placeholder {
  color: #999999;
}

.lecture-comment .comment-input-form .comment-input-text::placeholder {
  color: #999999;
}

.lecture-comment .comment-input-form .comment-input-btn {
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  background-color: #ffffff;
  width: 70px;
  height: 50px;
  position: absolute;
  top: 21px;
  right: 1px;
  font-size: 14px;
  font-weight: bold;
}

.lecture-comment .comment-input-form .comment-input-btn:hover {
  color: #9b00d8;
}

.lecture-comment .comment-list {
  padding-top: 7px;
}

.lecture-comment .comment-list .comment-total-area {
  padding: 30px 0;
  border-bottom: 1px solid #e6e6e6;
}

.lecture-comment .comment-list .comment-total-area .comment-area {
  overflow: hidden;
}

.lecture-comment .comment-list .comment-total-area .comment-area .profile-img {
  float: left;
}

.lecture-comment .comment-list .comment-total-area .comment-area .profile-img img {
  width: 44px;
  height: 44px;
}

.lecture-comment .comment-list .comment-total-area .comment-area .write-info {
  padding: 5px 0 0 20px;
  float: left;
}

.lecture-comment .comment-list .comment-total-area .comment-area .write-info .write-name {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.lecture-comment .comment-list .comment-total-area .comment-area .write-info .date {
  padding-top: 8px;
  display: block;
  font-size: 12px;
  color: #777777;
}

.lecture-comment .comment-list .comment-total-area .comment-area .write-info .comment-text {
  padding-top: 20px;
  display: block;
  font-size: 14px;
}

.lecture-comment .comment-list .comment-total-area .comment-area .write-info .btn-comment-write {
  padding-top: 21px;
  display: block;
  position: relative;
  font-size: 14px;
  color: #777777;
}

.lecture-comment .comment-list .comment-total-area .comment-area .write-info .btn-comment-write::after {
  background-image: url("/images/desktop/global/icon_arrow_down.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 7px;
  display: block;
  position: absolute;
  bottom: 3px;
  left: 60px;
  content: "";
}

.lecture-comment .comment-list .comment-total-area .comment-area .write-info .btn-comment-write:hover::after {
  background-image: url("/images/desktop/global/icon_arrow_down_ov.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.lecture-comment .comment-list .comment-total-area .comment-area .write-info .btn-comment-write.active::after {
  background-image: url("/images/desktop/global/icon_arrow_up.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.lecture-comment .comment-list .comment-total-area .comment-area .write-info .btn-comment-write.active:hover::after {
  background-image: url("/images/desktop/global/icon_arrow_up_ov.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.lecture-comment .comment-list .comment-total-area .comment-area .comment-btn-area {
  padding-top: 2px;
  float: right;
  transform: translateX(4px);
}

.lecture-comment .comment-list .comment-total-area .comment-area .comment-btn-area .btn-comment-modified {
  margin-right: 6px;
}

.lecture-comment .comment-list .comment-total-area .comment-area .comment-btn-area .btn-comment-modified,
.lecture-comment .comment-list .comment-total-area .comment-area .comment-btn-area .btn-comment-delete {
  border: none;
  background-color: inherit;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
}

.lecture-comment .comment-list .comment-total-area .comment-area .comment-btn-area .btn-comment-modified:focus,
.lecture-comment .comment-list .comment-total-area .comment-area .comment-btn-area .btn-comment-delete:focus {
  outline: none;
}

.lecture-comment .comment-list .comment-total-area .child-comment-area {
  display: block;
}

.lecture-comment .comment-list .comment-total-area .child-comment-area .comment-input-form {
  padding-left: 64px;
}

.lecture-comment .comment-list .comment-total-area .child-comment-area .comment-input-form .comment-input-text {
  width: 985px;
}

.lecture-comment .comment-list .comment-total-area .child-comment-area .child-comment-list {
  padding-left: 64px;
}

.lecture-comment .comment-list .comment-total-area .child-comment-area .child-comment-list .child-comment-item {
  padding-top: 30px;
}

.lecture-comment .comment-list .comment-total-area .comment-input-form.hide {
  display: none;
}

