/* variables */

input[type=text] {
  margin-right: 5px;
  padding-left: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  width: 240px;
  height: 50px;
  background-color: #fafafa;
  box-sizing: border-box;
  font-size: 14px;
}

input[type=radio],
input[type=radio]:checked {
  margin: 0 5px 0 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

input[type=radio] {
  border: 1px solid #d8d8d8;
}

input[type=radio]:checked {
  background-image: url("/images/desktop/input/radio-on.png");
  background-repeat: no-repeat;
  background-position: center center;
}

input[type=checkbox],
input[type=checkbox]:checked {
  margin: 0 5px 0 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  width: 14px;
  height: 14px;
}

input[type=checkbox] {
  border: 1px solid #d8d8d8;
}

input[type=checkbox] + label {
  vertical-align: top;
}

input[type=checkbox]:checked {
  background-image: url("/images/desktop/input/check-on.png");
  background-repeat: no-repeat;
  background-position: center center;
}

input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input[type=file] + label {
  width: 86px;
  margin-top: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  background-color: #ffffff;
  display: block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.ui-emailbox {
  position: relative;
}

.email_box {
  padding-left: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  width: 240px;
  height: 50px;
  font-size: 14px;
}

.ui-emailbox-account {
  margin-right: 6px;
}

.ui-emailbox-domain {
  margin-left: 6px;
}

.ui-button {
  border: none;
  width: 13px;
  height: 7px;
  background: #fafafa url("/images/desktop/global/icon_arrow_down.png") no-repeat center center;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: default;
}

.ui-button:focus {
  outline: none;
}

.ui-button:hover {
  border: none;
  background: #fafafa url("/images/desktop/global/icon_arrow_down.png") no-repeat center center;
}

.ui-menu {
  max-width: 240px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.ui-menu-item {
  padding: 20px 10px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fafafa;
}

.ui-widget-content .ui-state-active {
  border: none;
  background-color: #9b00d8;
}

.btn-wrap .cancel,
.btn-wrap .make-pay {
  box-sizing: border-box;
  display: block;
  border: 0;
  background: none;
  font-family: SourceHanSansKR, "dotum", sans-serif;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.btn-wrap .make-pay {
  background: #9b00d8;
}

.content {
  background-color: #f5f4f5;
  overflow: hidden;
}

.content .container {
  margin: 20px auto;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  background-color: #ffffff;
}

.content .container .row {
  margin: 50px auto 80px auto;
}

.apply-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
  overflow: hidden;
}

.apply-title h1 {
  float: left;
  font-size: 30px;
}

.apply-title p {
  float: right;
  font-size: 13px;
  color: #777777;
  transform: translateY(15px);
}

.apply-title p em {
  font-weight: bold;
  color: #9b00d8;
}

.apply-title p .for-padding {
  padding: 0 6px;
}

.lecture-information-wrap {
  padding-top: 20px;
  overflow: hidden;
}

.lecture-information-wrap .lecture-image {
  float: left;
  width: 298px;
  height: 223px;
}

.lecture-information-wrap .lecture-image img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 298px;
  height: 223px;
}

.lecture-information-wrap .lecture-information {
  padding-top: 20px;
  padding-left: 52px;
  width: 790px;
  float: left;
}

.lecture-information-wrap .lecture-information .lecture-sort {
  overflow: hidden;
}

.lecture-information-wrap .lecture-information .lecture-sort .online,
.lecture-information-wrap .lecture-information .lecture-sort .offline {
  padding: 4px 9px 8px 8px;
  background-color: #9b00d8;
  float: left;
  font-size: 12px;
  color: #ffffff;
}

.lecture-information-wrap .lecture-information .lecture-sort .offline {
  background-color: #e577e6;
}

.lecture-information-wrap .lecture-information .lecture-sort .lecture-subject {
  padding: 4px 0 0 10px;
  font-size: 14px;
  float: left;
  color: #777777;
}

.lecture-information-wrap .lecture-information .lecture-title {
  padding-top: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.21;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .lecture-information-wrap .lecture-information .lecture-title {
    display: block;
  }
}

.lecture-information-wrap .lecture-information table {
  padding-top: 16px;
  display: block;
}

.lecture-information-wrap .lecture-information table tr {
  padding-top: 18px;
  display: block;
}

.lecture-information-wrap .lecture-information table tr th {
  font-size: 14px;
  color: #777777;
}

.lecture-information-wrap .lecture-information table tr td {
  padding-left: 20px;
  font-size: 16px;
}

h3 {
  font-size: 24px;
}

.applicant-information {
  padding-top: 62px;
}

.applicant-information table {
  margin-top: 19px;
  border-top: 2px solid #999999;
  display: block;
}

.applicant-information table tr {
  box-sizing: border-box;
  width: 1140px;
  height: 73px;
  border-bottom: 1px solid #d8d8d8;
}

.applicant-information table tr th {
  padding-left: 40px;
  width: 142px;
  background-color: #f7f7f7;
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
}

.applicant-information table tr td {
  padding-left: 24px;
  width: 958px;
  font-size: 16px;
  vertical-align: middle;
}

.applicant-information table tr td em {
  font-weight: bold;
}

.applicant-information table tr:last-child {
  border-bottom: 2px solid #d8d8d8;
}

.additional-information {
  margin-top: 60px;
}

.additional-information h3 {
  padding-bottom: 20px;
  border-bottom: 2px solid #999999;
}

.additional-information h4 {
  padding-left: 40px;
  font-size: 16px;
  font-weight: bold;
}

.additional-information .choices {
  padding-left: 60px;
}

.additional-information .answers {
  padding-left: 40px;
}

.additional-information .multiple-single-choice {
  margin-top: 30px;
  border-bottom: 1px solid #d8d8d8;
}

.additional-information .multiple-single-choice em {
  font-size: 14px;
  font-weight: normal;
  color: #ff0000;
}

.additional-information .multiple-single-choice ul {
  margin-bottom: 30px;
}

.additional-information .multiple-single-choice ul li {
  padding-top: 20px;
  font-size: 16px;
}

.additional-information .multiple-choice {
  margin-top: 30px;
  border-bottom: 1px solid #d8d8d8;
}

.additional-information .multiple-choice ul {
  margin-bottom: 30px;
}

.additional-information .multiple-choice ul li {
  padding-top: 20px;
  font-size: 16px;
}

.additional-information .short-answer {
  margin-top: 30px;
  border-bottom: 1px solid #d8d8d8;
}

.additional-information .short-answer .short-answer-response {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  width: 1060px;
  height: 50px;
  background-color: #fafafa;
  box-sizing: border-box;
  font-size: 14px;
}

.additional-information .address-question {
  margin-top: 30px;
  border-bottom: 1px solid #d8d8d8;
}

.additional-information .address-question .address-form-wrap {
  margin-top: 20px;
  margin-bottom: 30px;
}

.additional-information .address-question .address-form-wrap .address {
  margin-right: 7px;
  width: 525px;
}

.additional-information .address-question .address-form-wrap .address-detail {
  width: 525px;
}

.additional-information .file-question {
  margin-top: 30px;
  border-bottom: 2px solid #d8d8d8;
  position: relative;
}

.additional-information .file-question .file-name {
  margin-top: 20px;
  border: 1px solid #d8d8d8;
  padding: 0 0 0 106px;
  width: 954px;
  height: 48px;
  border-radius: 30px;
  background-color: #f0f0f0;
  font-size: 14px;
  color: #999999;
}

.additional-information .file-question .file-upload-btn {
  position: absolute;
  top: 16px;
}

.additional-information .file-question .tips {
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid #ece6ec;
  background-color: #fdf8ff;
  width: 1060px;
}

.additional-information .file-question .tips p {
  padding: 14px 0 14px 20px;
  display: block;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #777777;
}

.payment-information {
  margin-top: 63px;
}

.payment-information table {
  margin-top: 18px;
  border-top: 2px solid #999999;
  display: block;
}

.payment-information table tr {
  width: 1140px;
  height: 72px;
  border-bottom: 1px solid #d8d8d8;
}

.payment-information table tr th {
  padding-left: 40px;
  width: 142px;
  background-color: #f7f7f7;
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
}

.payment-information table tr td {
  padding-left: 23px;
  width: 958px;
  font-size: 16px;
  vertical-align: middle;
}

.payment-information table tr td em {
  font-weight: bold;
  color: #9b00d8;
}

.payment-information table tr td label {
  padding-right: 36px;
}

.payment-information table tr:last-child {
  border-bottom: 2px solid #d8d8d8;
}

.payment-information table tr:last-child td {
  padding-left: 23px;
}

.agree {
  margin-top: 60px;
}

.agree h3 {
  padding-bottom: 18px;
  border-bottom: 2px solid #999999;
}

.agree .agreement-all-wrap {
  padding: 29px 0 28px 40px;
  border-bottom: 1px solid #d8d8d8;
}

.agree .agreement-all-wrap label {
  font-weight: bold;
  font-size: 16px;
}

.agree .agreement-wrap {
  padding: 26px 40px 26px 40px;
  border-bottom: 2px solid #d8d8d8;
}

.agree .agreement-wrap li:last-child {
  margin-top: 40px;
}

.agree .agreement-wrap li {
  overflow: hidden;
}

.agree .agreement-wrap li .input-box {
  float: left;
}

.agree .agreement-wrap li .input-box input {
  display: inline-block;
}

.agree .agreement-wrap li .input-box label {
  padding-left: 5px;
  display: inline-block;
  font-size: 16px;
}

.agree .agreement-wrap li .input-box input[type=checkbox],
.agree .agreement-wrap li .input-box input[type=checkbox]:checked {
  margin: 0 1px 0 0;
}

.agree .agreement-wrap li p {
  padding-left: 10px;
  float: left;
  font-size: 12px;
  color: #999999;
  transform: translateY(3px);
}

.agree .agreement-wrap li a {
  float: right;
  font-size: 13px;
  color: #777777;
  text-decoration: underline;
  transform: translateY(3px);
}

.btn-wrap {
  margin-top: 50px;
  text-align: center;
}

.btn-wrap .make-pay {
  border: 0;
  border-radius: 25px;
  width: 160px;
  height: 50px;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
}

.btn-wrap .cancel {
  background-color: #777777;
  border: 0;
  border-radius: 25px;
  width: 160px;
  height: 50px;
  margin-left: 8px;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
}

