@import 'resources/sass/helpers/variables'
@import 'resources/sass/helpers/extends'
@import 'resources/sass/helpers/mixins'

html body
    background-color: $white

    .error
        display: flex
        justify-content: center
        transform: translateY(300px)

        .error-image
            img
                +size(150px)
                +margin(0 auto)

        .error-text
            +margin(top 30px)
            font-family: $font-family-gmarket
            font-size: 40px

        .error-sub-text
            text-align: center
            font-size: 25px
