footer
    +background(null, null, null, $background-color-menu)
    height: 36.91111111vw
    position: absolute
    bottom: 0
    left: 0
    right: 0

    .footer
        +padding(4.655555vw 4.44444444vw)

        ul
            +size(91.1111111vw)
            font-size: 3.05555555vw
            color: $gray-900
            overflow: hidden
            text-align: center

        li
            +padding(right 1.3888888vw)
            display: inline-block
            line-height: 1.5

            &:before
                +padding(right 1.3888888vw)
                display: inline-block
                content: '|'

            &:nth-child(2n-1)::before
                content: ''

            &:nth-child(6)::before
                content: ''

            &:nth-child(2n)
                +padding(right 0)

            &:last-child
                +padding(right 0)

        .office-address
            font-size: 3.05555555vw
            color: $gray-900
            text-align: center
            line-height: 1.5

