header
    +border(1px solid $page-color, bottom)

    .header
        +padding(8px 16px)

    .logo-wrap
        +size(90px, 25px)
        +margin(0 auto)

    .menu-btn-wrap
        +size(24px, 24px)
        position: absolute
        top: 8px
        right: 16px

        .menu-btn
            +background('/images/mobile/global/icon_nav.png',no-repeat, center center)
            +size(24px, 24px)
            display: block
