header
    +border(.27777777vw solid $page-color, bottom)
    +background(null, null, null, $white)

    .header
        +padding(2.222222vw 4.444444vw 3.888888vw 4.444444vw)

    .logo-wrap
        +size(25vw, 6.9444444vw)
        +margin(0 auto .2777777vw auto)

        img
            +size(25vw, 6.944444vw)

    .menu-btn-wrap
        +size(6.666666vw, 6.666666vw)
        position: absolute
        top: 3.122222vw
        left: 4.444444vw

        .menu-btn
            +background('/images/mobile/global/icon_nav.svg',no-repeat, center center)
            +size(6.666666vw, 6.666666vw)
            background-size: 6.666666vw 6.666666vw
            display: block

    h1
        +padding(top 1.666666vw)
        font-weight: bold
        font-size: 5vw
        text-align: center

    .btn-back
        +size(6.6666666vw, 6.6666666vw)
        +background('/images/mobile/global/icon_nav_back.svg',no-repeat, center center)
        display: block
        position: absolute
        top: 2.777777vw
        left: 15.5555555vw
        background-size: 6.6666666vw 6.6666666vw
        content: ''

    .btn-search
        +size(6.6666666vw, 6.6666666vw)
        +background('/images/mobile/global/icon_search.svg',no-repeat, center center)
        display: block
        position: absolute
        top: 2.777777vw
        right: 4.444444vw
        background-size: 5.555555vw 5.555555vw
        content: ''
