header
    +border(.27777777vw solid $page-color, bottom)

    .header
        +padding(2.222222vw 4.444444vw 4.1666666vw 4.444444vw)

    .logo-wrap
        +size(25vw, 6.9444444vw)
        +margin(0 auto)

        img
            +size(25vw, 6.944444vw)

    .menu-btn-wrap
        +size(6.666666vw, 6.666666vw)
        position: absolute
        top: 2.222222vw
        right: 4.444444vw

        .menu-btn
            +background('/images/mobile/global/icon_nav.svg',no-repeat, center center)
            background-size: 6.666666vw 6.666666vw
            +size(6.666666vw, 6.666666vw)
            display: block
