@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

.title-wrap
    +background('/images/mobile/albatalk/albatalk_top_image.png',no-repeat, center center)
    +size(100%, 41.66666vw)
    background-size : cover
    min-width: 100%
    text-align: center

    .albatalk-navigation
        float: right
        +padding(top 28.333333vw right 4.444444vw)

        a
            +border(1px solid transparent)
            +box-sizing(border-box)
            background-color: rgba(0, 0, 0, 0.4)
            border-radius: 1px
            font-size: 3.888888vw
            +padding(top 2.777777vw bottom 2.777777vw left 1.666666vw right 1.666666vw)
            text-align: center
            color: #fff

            &:hover
                background-color: rgba(0, 0, 0, 0.7)

            &:last-child
                +margin(right 0)
