@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

.albatalk-content-list
    +padding(top 5.555555vw)
    display: inline-grid
    grid-template-columns: repeat(2, 43.333333vw)
    gap: 4.444444vw

    .albatalk-card
        +size(43.888888vw, 56.3888888vw)
        +border(0.2777777vw solid rgba(0, 0, 0, 0.1))
        +border-radius(2.222222vw)
        +box-sizing(border-box)
        display: block
        overflow: hidden

        img
            +size(43.888888vw, 32.5vw)

        .albatalk-information
            +padding(2.777777vw)

            .albatalk-name
                +ellipse(41.666666vw, 2)
                height: 9.444444vw
                font-size: 3.888888vw
                line-height: 1.3

        .albatalk-description
            +padding(top 4.1666666vw)
            display: flex
            justify-content: space-between
            align-items: center
            color: $gray-700

            .albatalk-place
                +ellipse(20vw, 1)
                font-size: 3.05555555vw

            .albatalk-date
                font-size: 3.05555555vw
