/* variables */
$page-color: #9b00d8

// color
$white: #ffffff
$black: #000000
$red: #ff0000

$purple-800: #8816b5
$purple-400: #b47ec9
$white-light: #fafafa
$purply-pink: #e577e6

$gray-200: #222222
$gray-300: #333333
$gray-400: #444444
$gray-600: #666666
$gray-500: #555555
$gray-700: #777777
$gray-800: #888888
$gray-900: #999999

//border
$border-color-base: #d8d8d8
$border-color-light: #e6e6e6
$border-color-super-light: #ece6ec
$border-color-black: #3c3c3c
$border-color-btn: #bebebe
$border-color-pop: #c8c8c8

//background
$background-color-menu: #f7f7f7
$background-color-file: #f0f0f0
$background-color-playlist: #1e1e1e
$background-color-readonly: #f1f1f1
$background-color-price: #fdf8ff

// font
$font-family-base: SourceHanSansKR, 'dotum', sans-serif
$font-family-gmarket: GmarketSans, 'dotum', sans-serif

$font-size-small: 12px
$font-size-base: 14px
$font-size-large: 16px

$font-color-base: #222222
$font-color-emphasis: #ff0000

$screen-mobile: 320px
$screen-tablet: 768px
$screen-size-base: 1280px

//error
$error: #ff0000
