@import 'resources/sass/helpers/variables'
@import 'resources/sass/helpers/extends'
@import 'resources/sass/helpers/mixins'

.swiper-button-prev:after,
.swiper-button-next:after
    content: ''

.top-banner

    .swiper-container
        position: relative

    .swiper-slide
        img
            width: 100%
            height: 200px
            +border(1px solid rgba(0,0,0,0.1))
            +box-sizing(border-box)

    .swiper-controller-wrap
        +size(60px, 24px)
        +border-radius(15px)
        +background(null,null,null,rgba(0,0,0,0.2))
        position: absolute
        bottom: 10px
        right: 10px
        z-index: 100

        .swiper-pagination-fraction
            +size(48px)
            font-size: 12px
            color: $white

            .swiper-pagination-current
                +padding(right 14px)
                font-weight: normal

            .pagination-bar
                +size(1px, 10px)
                +background(null,null,null,rgba(255,255,255,0.5))
                content: ''

.ad
    +size(360px, 80px)

    img
        +size(100%, 80px)

.middle-banner
    +size(100%)
    +margin(40px auto 0 auto)
    position: relative

    h2
        font-weight: bold
        font-size: 16px

    .middle-swiper-container
        +margin(top 10px)
        overflow: hidden

        .swiper-slide img
            +size(114px, 114px)
            +border(1px solid rgba(0,0,0,0.1))
            +border-radius(8px)
            +box-sizing(border-box)
