@import 'resources/sass/helpers/variables'
@import 'resources/sass/helpers/extends'
@import 'resources/sass/helpers/mixins'

header
    +padding(top 12.5vw)

.header-banner
    +size(100%)
    position: absolute
    top: -26.38888888vw

    img
        +size(100%)

@mixin m-middle-swiper-container
    +margin(top 2.777777vw)
    +padding(left 4.44444vw)
    overflow: hidden

    .swiper-slide
        +margin(right 3.333333vw)
        width: 31.66666vw !important

        img
            +size(31.66666vw, 31.66666vw)
            +border(.277777vw solid rgba(0,0,0,0.1))
            +border-radius(2.222222vw)
            +box-sizing(border-box)

@mixin lecture-card
    .lecture-card
        +size(43.333333vw)
        +margin(top 11.11111vw)
        float: left
        position: relative

        &:nth-child(2n + 1)
            +margin(right 4.444444vw)

        &:first-child,
        &:nth-child(2)
            +margin(top 0)

        img
            +size(43.333333vw, 32.5vw)
            +border(1px solid rgba(0, 0, 0, 0.1))
            +border-radius(2.222222vw)
            box-sizing: border-box

        .lecture-image-box
            position: relative

            .certificate-mark
                +border(0.277778vw solid rgba(255, 255, 255, 0.8))
                +border-radius(4.444444vw)
                +margin(right 2.222222vw bottom 2.222222vw)
                +padding(1.388889vw 1.666667vw)
                display: flex
                align-items: center
                justify-content: center
                background-color: rgba(0, 0, 0, 0.6)
                position: absolute
                bottom: 0
                right: 0
                font-size: 2.777778vw
                font-weight: bold
                color: #fff

        .lecture-description
            +margin(top 3.33333vw)

            .lecture-description-sub
                overflow: hidden

                .lecture-type
                    +padding(1.11111vw 1.38888vw)
                    font-size: 2.77777vw
                    float: left
                    color: $white
                    +background(null, null, null, $page-color)

                .lecture-date
                    +padding(top 1.111111vw left 1.3888888vw)
                    float: left
                    font-size: 3.0555555vw
                    color: $gray-700

                .lecture-time
                    +size(18.777777vw)
                    +ellipse()
                    position: absolute
                    bottom: 0
                    right: 0
                    font-size: 3.0555555vw
                    text-align: right
                    color: $gray-900

            .lecture-name
                +margin(top 2.222222vw)
                +ellipse(null, 2)
                display: block
                height: 11.666666vw
                font-size: 3.888888vw
                line-height: 1.5

            .lecture-all-price
                +size(43.333333vw, 8.888888vw)
                .lecture-price
                    +padding(top 1.111111vw)
                    font-weight: bold
                    font-size: 3.888888vw
                    color: $page-color
                    position: absolute


                .lecture-ogprice
                    font-size: 3.055555vw
                    font-weight: normal
                    color: $gray-c
                    text-decoration: line-through

                .lecture-sale
                    color: black
                    font-weight: bold
                    color: red
                    font-size: 3.055555vw

.wrap main
    +padding(bottom 36.91111111vw)

.swiper-button-prev:after,
.swiper-button-next:after
    content: ''

.top-banner

    .swiper-container
        position: relative

    .swiper-slide
        img
            width: 100%
            height: 55.55555vw
            +box-sizing(border-box)

    .swiper-controller-wrap
        +size(16.66666vw, 6.666666vw)
        +border-radius(4.1666666vw)
        +background(null,null,null,rgba(0,0,0,0.2))
        position: absolute
        bottom: 2.777777vw
        right: 2.777777vw
        z-index: 100

        .swiper-pagination-fraction
            +size(13.333333vw)
            bottom: 1.9444444vw
            left: 1.38888888vw
            font-size: 3.333333vw
            color: $white

            .swiper-pagination-current
                +padding(right 3.888888vw)
                font-weight: normal

            .pagination-bar
                +size(.277777vw, 2.777777vw)
                +background(null,null,null,rgba(255,255,255,0.5))
                position: absolute
                top: .255555vw
                left: 6.666666vw
                content: ''

.ad
    +size(100vw, 22.222222vw)

    img
        +size(100%, 22.222222vw)

.middle-banner
    +size(100%)
    +margin(11.11111vw auto)
    position: relative

    h2
        +padding(left 4.44444vw)
        +margin(bottom 5.5555vw)
        font-weight: bold
        font-size: 4.2666666vw

    .m-middle-swiper-container
        +margin(top 2.777777vw)
        +padding(left 4.44444vw)
        overflow: hidden

        .swiper-slide
            +margin(right 3.333333vw)
            width: 31.66666vw !important

            img
                +size(31.66666vw, 31.66666vw)
                +border(.277777vw solid rgba(0,0,0,0.1))
                +border-radius(2.222222vw)
                +box-sizing(border-box)

    .m-middle-swiper-container2
        +m-middle-swiper-container
        +lecture-card
        .swiper-slide
            width: 43.33333vw !important
            img
                +size(43.33333vw, 32.33333vw)




    .m-middle-swiper-container3
        +m-middle-swiper-container
        +lecture-card
        .swiper-slide
            width: 43.33333vw !important
            img
                +size(43.33333vw, 32.33333vw)

.bottom-banner
    +margin(top 8.3333333vw bottom 5.5555555vw)

    .banner-wrap

        img
            +size(100%, 32.777777vw)

            &:last-child
                +margin(top 2.777777vw)

.m-row
    h2
        +margin(top 10.666666vw)
        font-weight: bold
        font-size: 4.2666666vw
