@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

@import '@sass/desktop/layouts/navigation/account.sass'

.mypage-albatalk-navigation
    display: grid
    grid-template-columns: 1fr 1fr

    .navigation-list
        +border(1px solid $border-color-base)

        a
            +padding(29px 0)
            display: block
            font-size: 24px
            color: $gray-700
            text-align: center

        &.active
            +border(0, bottom)
            border-color: $page-color

            a
                font-weight: bold
                color: $page-color

.mypage-content-wrap
    +margin(top 60px bottom 200px)

    .content-title
        +padding(bottom 18px)
        display: flex
        justify-content: space-between
        align-items: flex-end

        h2
            font-size: 24px
            color: #222

        a
            +margin(top 10px)
            font-size: 14px
            color: #777

            &:hover
                color: $page_color
                font-weight: bold
                text-decoration: underline
