@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/desktop/layouts/navigation/account.sass'
@import '@sass/components/_input.sass'
@import '@sass/components/_button.sass'
@import '@sass/components/_radio.sass'

.secession
    +margin(top 60px)

    input[type="text"],
    input[type="password"]
        +input(white-light-fill)
        +size(240px, 50px)

    input[type="text"]::placeholder,
    input[type="password"]::placeholder
        font-size: 14px

    input[type="radio"]
        +radio()
        +margin(right 5px)

    input[type="radio"] + label
        font-size: 16px

    .head
        overflow: hidden

        h2
            float: left
            font-size: 24px
            line-height: 1.1

        .warning
            +padding(left 10px top 6px)
            float: left
            font-size: 12px
            color: $page-color

    table
        +size(1280px)
        +margin(top 18px)
        +border(2px solid $gray-900, top)

        tr
            +size(null, 73px)
            +border(1px solid $border-color-base, bottom)

            th
                +size(182px)
                +padding(top 28px left 40px)
                +background(null, null, null, $background-color-menu)
                +box-sizing(border-box)
                font-size: 16px
                text-align: left

            td
                +padding(left 20px top 11px bottom 11px)
                +box-sizing(border-box)
                overflow: hidden
                vertical-align: middle

                .radio-wrap
                    +margin(right 50px)
                    float: left

                    .secession-reason
                        +size(800px)
                        +margin(top 23px left 20px)

                    &:first-child
                        +margin(right 83px)

                    &:nth-child(2)
                        +margin(right 41px)

                    &:nth-child(4),
                    &:nth-child(5)
                        +margin(top 40px)

                .password-wrap
                    overflow: hidden

                .id
                    font-weight: bold
                    font-size: 16px

                .password
                    +size(300px)
                    float: left

                .tips
                    +margin(top 10px left 20px)
                    float: left
                    font-size: 12px

                    p
                        color: $page-color

                        &:last-child
                            +margin(top 5px)

                .form-wrap
                    overflow: hidden

            .wrap
                +padding(top 28px)

            &:first-child
                +size(null, 185px)

    .btn-wrap
        +size(330px)
        +margin(50px auto 80px auto)
        overflow: hidden

        *[class^="btn-"]
            +size(160px, 50px)
            float: left
            font-size: 16px
            line-height: 50px

        .btn-cancel
            +btn(purple-fill)

        .btn-secession
            +btn()
            +margin(left 10px)
            +background(null, null, null, $gray-700)
            color: $white

    .radio-error-wrap
        .parsley-required
            +padding(left 0)


.reason-error-wrap > .parsley-errors-list
    +padding(left 80px bottom 10px)

.password-error-wrap > .parsley-errors-list
    +padding(bottom 10px)

.password-error-wrap
    p
        +padding(10px 0 0 20px)
        font-size: 12px
        line-height: 12px
        color: #ff0000
