@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/components/_button.sass'
@import '@sass/components/_pagination.sass'
@import '@sass/desktop/layouts/navigation/account.sass'

.mypage-content-wrap
    +margin(top 60px)

    .content-title
        +padding(bottom 20px)
        +border(1px solid $gray-900, bottom)
        overflow: hidden

        h2
            float: left
            font-size: 24px

        ul
            +padding(top 11px)
            overflow: hidden
            float: right

            li
                +margin(right 21px)
                float: left
                position: relative

                &:last-child
                    +margin(0)

                &::before
                    +size(1px, 16px)
                    +background(null, null, null, $border-color-base)
                    position: absolute
                    right: -11px
                    content: ''

            .active a
                font-weight: bold
                color: $page-color

    .mypage-content
        +margin(bottom 51px)

        li
            +border(1px solid $border-color-base, bottom)
            overflow: hidden

            .content-information-wrap
                +size(895px)
                +padding(top 20px bottom 20px)
                +border(1px solid $border-color-light, right)
                +box-sizing(border-box)
                float: left

                .content-image
                    +size(300px)
                    display: block
                    float: left

                    img
                        +size(298px, 223px)
                        +border(1px solid rgba(0, 0, 0, 0.1))
                        +border-radius(8px)
                        display: block

.content-information
    +size(500px)
    +margin(21px 38px 20px 40px)
    +box-sizing(border-box)
    float: left

    .lecture-sort
        overflow: hidden

        .online,
        .offline
            +padding(4px 9px 8px 8px)
            +background(null, null, null, $page-color)
            float: left
            font-size: 12px
            color: $white

        .offline
            +background(null, null, null, $purply-pink)

        .lecture-subject
            +padding(4px 0 0 10px)
            float: left
            font-size: 14px
            color: $gray-700

    .lecture-title
        +size(500px, 53px)
        +padding(top 13px)
        +ellipse(null,2)
        font-weight: bold
        font-size: 24px
        line-height: 1.20

    table
        +padding(top 39px)
        display: block

        tr
            +padding(top 18px)
            display: block

            th
                font-size: 14px
                color: $gray-700

            td
                +size(428px 428px)
                +padding(left 20px)
                font-size: 16px

                p
                    +ellipse()

                .lecture-pay
                    font-weight: bold
                    color: $page-color

            &:first-child
                +padding(0)

.content-time,
.offline-lecture-pay
    +size(195px, 265px)
    +padding(top 20px bottom 20px)
    +border(1px solid $border-color-light, right)
    +box-sizing(border-box)
    float: left
    text-align: center

    p
        +padding(top 70px)

    .d-day
        +padding(top 20px)
        font-weight: bold
        font-size: 20px

        em
            color: $page-color

    .dedicate
        +padding(top 20px)
        color: $gray-700

.offline-lecture-pay
    +padding(top 35px bottom 5px)

.content-button,
.content-button-offline
    +size(190px, 265px)
    +padding(top 20px bottom 20px)
    +box-sizing(border-box)
    float: left
    text-align: center

    .btn-wrap
        +size(140px)

    a
        +size(140px, 50px)
        +margin(top 88px left 28px)
        +padding(top 15px)
        +btn(null,1px solid $border-color-base, 25px)
        display: block
        font-size: 16px
        font-weight: bold
        line-height: 1.2

        &:nth-child(2)
            +margin(top 8px)

        &:hover
            color: $page-color

    .for-margin
        +margin(top 88px)

    .apply-btn
        +background(null, null, null, $page-color)
        color: $white

        &:hover
            +background(null, null, null, $purple-400)
            color: $white

    p
        +padding(top 16px left 7px)
        color: $page-color
        line-height: 1.5

.content-button-offline
        a
            +margin(top 58px left 28px)
