@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

.albatalk-contents
    +padding(bottom 38.611111vw)

    .albatalk-additional-information
        +padding(top 3.333333vw)
        text-align: center
        font-size: 3.333333vw

    .albatalk-state
        +padding(top 1.3888888vw)
        em
            color: $page-color
    
    .none
        display: flex
        align-items: center
        justify-content: center
        +padding(top 27.777777vw bottom 111.111111vw)
        font-size: 3.888888vw

.bottom-banner
    +size(100%, 8.888888vw)
    position: absolute
    bottom: 0
    display: flex
    align-items: center
    justify-content: center
    background-color: $background-color-file
    font-size: 3.0555555vw
    color: $gray-700