@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

.mypage-content-wrap

    .mypage-content
        .m-row
            +border(10px solid $background-color-file, bottom)
            &:last-child
                +border(0)
        
        .information-title
            +border(1px solid $border-color-base, bottom)

            h2
                +padding(top 20px bottom 16px)
                color: $page-color
                font-size: 16px
                font-weight: bold
        
        table
            tr
                font-size: 14px
                &:last-child
                    td
                        +padding(bottom 0)
                
            th
                +size(100px)
                color: $gray-700
                text-align: left
                line-height: 16px

            td
                +padding(bottom 21px left 16px)
                +size(212px)

        .user-information-wrap

            .user-main-wrap
                +padding(top 30px bottom 20px)
                +border(1px solid $border-color-base, bottom)
                display: flex
                align-items: center

                .img-wrap
                    +border-radius(50%)
                    overflow: hidden
                
                    .user-image
                        +size(60px, 60px)
                
                .user-name
                    +padding(left 20px)
                    font-size: 20px
                    font-weight: bold

            .user-personal-information
                +padding(top 20px bottom 30px)

        .study-information-wrap

            .study-information-content
                +padding(top 20px bottom 30px)

                .ranking-wrap
                    p
                        line-height: 18px

        .self-information-wrap

            .self-information-content

                .self-information-text
                    +padding(top 20px bottom 30px)
                    min-height: 80px

        .certification-information-wrap

            .certification-information-content
                +padding(top 20px)

                table
                    tbody
                        tr
                            +size(328px)
                            &:first-child
                                td
                                    +padding(bottom 8px)
                                    font-size: 12px
                                    color: $gray-900
                            &:nth-child(2)
                                td
                                    +padding(bottom 12px)
                            &:last-child
                                td
                                    font-size: 12px
                                    color: $gray-700
                                    +padding(bottom 30px)
                        td
                            +padding(0)

        .ability-information-wrap

            .ability-information-content
                p
                    +margin(top 12px bottom 10px)
                    text-align: right
                    font-size: 12px
                    font-weight: bold
                
                .ability-information-middle-name
                    +padding(top 10px bottom 10px)
                    color: $gray-700


                table
                    tr
                        +size(328px)
                            
                    th
                        +size(170px)
                        +padding(0)
                        color: black
                        .strong
                            font-weight: bold
                    td
                        +size(130px)
                        +padding(bottom 4px left 20px)

.bottom-banner
    +size(100%, 8.888888vw)
    display: flex
    align-items: center
    justify-content: center
    background-color: $background-color-file
    font-size: 3.0555555vw
    color: $gray-700