@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

@import '@sass/components/mobile/_button.sass'
@import '@sass/components/mobile/_selectbox.sass'
@import '@sass/components/mobile/_input.sass'

body
    +background(null, null, null, $background-color-file)

.mypage-content-wrap
    .content-title
        +padding(5.55555555vw 4.444444vw 3.888888vw 0 )
        +background(null, null, null, $white)
        text-align: right

        h2
            display: none

        ul
            +padding(top 5.555555vw bottom 3.3333333vw)
            +background(null, null, null, $white)
            overflow: hidden

        li
            +margin(right 2.777777vw)
            float: left

            &:last-child
                +margin(right 0)

        .active a
            font-weight: bold
            color: $page-color

        .lecture-menu
            .mypage-menu-select
                +border(0)
                +padding(right 4.6vw)
                +background('/images/mobile/lecture/icon_arrow_down.svg', no-repeat, 100% center, white)
                background-size: 3.611111111vw 1.94444444vw
                font-size: 3.8888888vw
                text-align-last: right
                text-align: right
                -ms-text-align-last: right
                -moz-text-align-last: right

                &.select-focus-in
                    +background('/images/mobile/lecture/icon_arrow_up.svg')

    .mypage-content
        +padding(bottom 2.777777vw)

        li
            +margin(top 2.7777777vw)
            +padding(10vw 4.4444444vw 4.4444444vw 4.4444444vw)
            +background(null, null, null, $white)
            position: relative

            .content-information-wrap
                +padding(top 4.4444444vw bottom 4.444444vw)
                +border(.277777vw solid $border-color-light, top)
                overflow: hidden

            .content-image
                position: relative
                float: left

                img
                    +size(31.1111111vw, 23.3333333vw)
                    +border-radius(1.666666vw)
                    +border(0.2777777vw solid rgba(0, 0, 0, 0.1))
                    +box-sizing(border-box)

                .certificate-mark
                    +border(0.277778vw solid rgba(255, 255, 255, 0.8))
                    +border-radius(4.444444vw)
                    +margin(right 1.111111vw bottom 1.111111vw)
                    +padding(1.388889vw 1.666667vw)
                    display: flex
                    align-items: center
                    justify-content: center
                    background-color: rgba(0, 0, 0, 0.6)
                    position: absolute
                    bottom: 0
                    right: 0
                    font-size: 2.777778vw
                    font-weight: bold
                    color: #fff

            .content-information
                +size(55.5555555vw)
                +margin(left 4.444444vw)
                float: left

                .lecture-sort
                    overflow: hidden
                    position: absolute
                    top: 2.222222vw
                    left: 4.444444vw

                    .lecture-type
                        +padding(1.3888888vw 1.666666vw)
                        font-size: 2.77777vw
                        float: left
                        color: $white
                        +background(null, null, null, $page-color)

                    .lecture-date
                        +padding(top 1.1111111vw left 1.666666vw)
                        float: left
                        font-size: 3.3333333vw
                        color: $gray-700

                .lecture-title
                    +ellipse(null, 2)
                    min-height: 9.4444444vw
                    line-height: 1.45
                    font-weight: bold

                th
                    display: none

                .lecture-length
                    +ellipse(null, 1)
                    +padding(top 5vw)
                    font-size: 3.33333333vw
                    color: $gray-700

                .lecture-pay
                    +ellipse(null, 1)
                    +padding(top 2.222222vw)
                    font-size: 3.33333333vw
                    color: $page-color

                .lecture-place
                    +padding(top 2.222222vw)

            .offline-lecture-pay
                display: none

    .lecture-under
        +padding(top 4.44444vw)
        +border(.2777777vw solid $border-color-light, top)
        overflow: hidden

        .lecture-sub-information
            float: left

            .content-time
                +margin(top 1.3888888vw)
                p
                    display: none

            .d-day
                font-weight: bold
                font-size: 4.444444vw
                em
                    color: $page-color

            .dedicate
                +padding(top 1.38888888vw)
                font-size: 3.05555555vw
                color: $gray-700

                p
                    font-size: 3.05555555vw
                    display: block
                    color: $page-color

        .btn-zone
            a
                +btn(null, 0.277778vw solid $border-color-base)
                +size(33.3333333vw, 11.6666666vw)
                font-weight: bold
                float: right
                line-height: 11.6666666vw

            .btn-none-active
                +border(0)
                +background(null, null, null, $border-color-light)
                color: $gray-900
                float: left
                cursor: auto

        .content-button-offline
            overflow: hidden

            a
                float: left

                &:first-child
                    +margin(right 1.388888vw)

            .btn-wrap
                a
                    +size(44.1666666vw)

                    &:first-child
                        +margin(right 2.777777vw)

        .content-button-full
            overflow: hidden

            a
                +size(44.16666666vw)
                +margin(0)

            .apply-btn
                +size(33.3333333vw)
                +btn(purple-fill)

            .btn-none-active
                +margin(left 2.777777vw)
                +border(.2777777vw solid $border-color-base)
                float: right

        .content-text
            +padding(top 3.888889vw bottom 3.888889vw)
            text-align: center

            p
                font-size: 3.8888888vw
                color: $gray-700

.mypage-certificateList
    .lecture-under
        .btn-zone
            display: flex
            justify-content: center
            color: $gray-700
            .btn-lecture
                +size(44.166667vw, 11.666667vw)
                color: #222

                &:nth-child(2)
                    +margin(left 2.777778vw)

            .fail
                +btn()
                +size(44.166667vw, 11.666667vw)
                font-size: 3.8888888vw
                font-weight: bold
                background-color: #f0f0f0
                color: $gray-900

.mypage-like
    .content-information-wrap
        +border(0.277777vw solid #e6e6e6, bottom)

    .btn-zone
        +margin(top 4.444444vw)

        .btn-lecture
            +size(91.1111111vw, 11.6666666vw)
            +margin(0 auto 0 auto)
            +btn(null, .27777777vw solid $border-color-base, 6.9444444vw)
            display: block
            font-weight: bold
            line-height: 11.6666666vw

.account-pop-up
    +size(91.111111vw)
    +padding(3.88888888vw 0 4.44444444vw 0)
    +background(null, null, null, $white)
    +border(.55555555vw solid $page-color)
    +box-sizing(border-box)
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    z-index: 220

    h3
        font-weight: bold
        font-size: 5vw
        text-align: center

    p
        +padding(top 11.11111111vw)
        text-align: center

    .btn-wrap
        +size(82.2222222vw)
        +margin(11.111111vw auto 0 auto)

        .btn-apply
            +btn(purple-fill)
            +size(39.72222222vw, 13.8888888vw)
            font-weight: bold
            font-size: 4.44444444vw
            float: right

        .btn-cancel
            +btn()
            +size(39.72222222vw, 13.8888888vw)
            +background(null, null, null, $gray-700)
            font-weight: bold
            font-size: 4.44444444vw
            color: $white
