@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

.content
    +padding(bottom 30px)

.mypage-content-wrap
    +padding(bottom 8.333333vw)

    .mypage-content
        .m-row
            +border(2.777778vw solid $background-color-file, bottom)
            &:last-child
                +border(0)

        .information-title
            +border(0.277778vw solid $border-color-base, bottom)

            h2
                +padding(top 5.555556vw bottom 4.444444vw)
                color: $page-color
                font-size: 4.444444vw
                font-weight: bold

        table
            tr
                font-size: 3.888889vw
                &:last-child
                    td
                        +padding(bottom 0)

            th
                +size(27.777778vw)
                color: $gray-700
                text-align: left
                line-height: 4.444444vw

            td
                +padding(bottom 5.833333vw left 4.444444vw)
                +size(58.888889vw)

        .user-information-wrap

            .user-main-wrap
                +padding(top 8.333333vw bottom 5.555556vw)
                +border(0.277778vw solid $border-color-base, bottom)
                display: flex
                align-items: center

                .img-wrap
                    +border-radius(50%)
                    overflow: hidden

                    .user-image
                        +size(16.666667vw, 16.666667vw)

                .user-name
                    +padding(left 5.555556vw)
                    font-size: 5.555556vw
                    font-weight: bold

            .user-personal-information
                +padding(top 5.555556vw bottom 8.333333vw)

        .study-information-wrap

            .study-information-content
                +padding(top 5.555556vw bottom 8.333333vw)

                .ranking-wrap
                    p
                        line-height: 5vw

        .career-information-wrap
            
            .career-information-content
                +padding(top 5.555556vw)

                table
                    tbody
                        tr
                            +size(91.111111vw)
                            &:first-child
                                td
                                    +padding(bottom 2.222222vw)
                                    font-size: 3.333333vw
                                    color: $gray-900
                            &:nth-child(2)
                                td
                                    +padding(bottom 3.333333vw)
                            &:last-child
                                td
                                    font-size: 3.333333vw
                                    color: $gray-700
                                    +padding(bottom 8.333333vw)
                        td
                            +padding(0)

        .self-information-wrap

            .self-information-content

                .self-information-text
                    +padding(top 5.555556vw bottom 8.333333vw)
                    min-height: 22.222222vw

        .certification-information-wrap

            .certification-information-content
                +padding(top 5.555556vw)

                table
                    tbody
                        tr
                            +size(91.111111vw)
                            &:first-child
                                td
                                    +padding(bottom 2.222222vw)
                                    font-size: 3.333333vw
                                    color: $gray-900
                            &:nth-child(2)
                                td
                                    +padding(bottom 3.333333vw)
                            &:last-child
                                td
                                    font-size: 3.333333vw
                                    color: $gray-700
                                    +padding(bottom 8.333333vw)
                        td
                            +padding(0)

        .ability-information-wrap

            .ability-information-content
                p
                    +margin(top 3.333333vw bottom 2.777778vw)
                    text-align: right
                    font-size: 3.333333vw
                    font-weight: bold

                .ability-information-middle

                    .ability-information-middle-name
                        +padding(bottom 2.777778vw)
                        color: $gray-700


                    table
                        tr
                            +size(91.111111vw)

                        th
                            +size(47.222222vw)
                            +padding(0)
                            color: black
                        .strong
                            font-weight: bold

                        td
                            +size(36.111111vw)
                            +padding(bottom 1.111111vw left 5.555556vw)

.none
    +margin(top 200px)

    p
        text-align: center

.bottom-banner
    +size(100%, 8.888888vw)
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    bottom: 0
    background-color: $background-color-file
    font-size: 3.0555555vw
    color: $gray-700
