@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/components/_button.sass'

.albatalk-recruit-detail-wrap
    background-color: #f5f4f5
    min-width: 1280px
    overflow: hidden

    .container
        +margin(top 20px bottom 20px)
        +background(null, null, null, $white)
        +border-radius(10px)
        overflow: hidden

        .row
            +size(1140px)
            +margin(50px auto 80px auto)

    .subtitle-wrap
        +margin(bottom 20px)
        display: flex
        justify-content: space-between
        align-items: flex-end

        h1
            font-size: 30px

        a
            line-height: 16px
            color: $gray-700

            &:hover
                font-weight: bold
                color: $page-color
                text-decoration: underline

    .office-information-wrap
        +padding(top 20px)
        +border(1px solid $border-color-base, top)
        display: flex
        justify-content: space-between
        align-items: flex-start

        .thumbnail-wrap
            .thumbnail-on
                cursor: pointer

            .main-img-wrap
                +size(280px, 210px)
                +border(1px solid $border-color-base)
                background-color: $white-light

            .main-thumbnail
                +size(280px, 210px)

                &.none-image
                    display: flex
                    justify-content: center
                    align-items: center

                    .none-image-icon
                        +size(100px, 100px)
                        +background('/images/desktop/global/icon_default_thumbnail.svg',no-repeat, center center)
                        display: block

            .sub-thumbnail-wrap
                +margin(top 20px)
                display: flex
                justify-content: space-between
                align-items: center

                .img-wrap
                    +size(80px, 60px)
                    +border(1px solid $border-color-base)
                    background-color: $white-light

                    .none-image
                        +size(80px, 60px)
                        display: flex
                        justify-content: center
                        align-items: center

                        .none-image-icon
                            +size(30px, 30px)
                            +background('/images/desktop/global/icon_default_thumbnail.svg',no-repeat, center center)
                            display: block
                            background-size: 30px 30px

                    .sub-thumbnail
                        +size(80px, 60px)

        .office-information
            +padding(top 20px)
            +size(810px)

            .office-title-wrap
                display: flex
                justify-content: space-between
                align-items: center

                h2
                    font-weight: bold
                    font-size: 24px

                span
                    font-size: 13px
                    color: $gray-700
                    line-height: 15px

            .office-content-wrap
                +margin(top 30px)

                table
                    th
                        +size(100px)
                        color: $gray-700
                        text-align: left

                    tr
                        &:first-child td
                            +padding(top 0)

                        &:last-child td
                            +padding(bottom 0)

                    td
                        +padding(6px 50px 6px 10px)
                        min-width: 245px
                        font-size: 16px
                        line-height: 24px

                    .address-wrap
                        display: flex
                        justify-content: flex-start
                        align-items: center

                        .btn-map
                            +size(69px, 30px)
                            +margin(left 10px)
                            +border(1px solid $border-color-base)
                            +border-radius(1px)
                            +box-sizing(border-box)
                            font-size: 12px
                            color: $gray-700
                            text-align: center
                            line-height: 30px

    .information-title
        +margin(bottom 18px)

        h2
            font-size: 24px
            line-height: 26px

    .recruit-detail-information-wrap
        +margin(top 60px)

        .recruit-detail-information-content
            +padding(top 30px left 40px)
            +border(2px solid $gray-900, top)
            display: flex
            justify-content: flex-start
            align-items: flex-start

            table
                th
                    +size(100px)
                    color: $gray-700
                    text-align: left

                td
                    +size(350px)
                    +padding(6px 0 6px 10px)
                    font-size: 16px
                    line-height: 24px

                &:last-child
                    +margin(left 110px)

    .recruit-writing
        +margin(top 60px)

        .recruit-writing-content
            +padding(30px 45px 0 45px)
            +border(2px solid $gray-900, top)
            min-height: 200px

            img
                max-width: 100%
                display: inline-block

            a
                color: $blue

                &:hover
                    text-decoration: underline

            strong
                font-weight: bold

            em
                font-style: italic

            sup
                vertical-align: super
                font-size: smaller

            sub
                vertical-align: sub
                font-size: smaller

            blockquote
                padding-left: 20px
                padding-right: 8px
                border-left-width: 5px
                font-style: italic
                border-style: solid
                border-color: #ccc
                display: block
                margin-block-start: 1em
                margin-block-end: 1em
                margin-inline-start: 40px
                margin-inline-end: 40px

            ol
                display: block
                list-style-type: decimal
                margin-block-start: 1em
                margin-block-end: 1em
                margin-inline-start: 0
                margin-inline-end: 0
                padding-inline-start: 40px
                padding: 0 40px

            li
                display: list-item
                text-align: -webkit-match-parent

            ul
                display: block
                list-style-type: disc
                padding: 0 40px

    .btn-wrap
        +size(200px)
        +margin(50px auto 0 auto)

        .btn-submit
            +btn(purple-fill)
            +size(200px, 50px)
            font-size: 16px

.popup-area
    .dim
        +size(100%, 100%)
        background-color: rgba(0,0,0,0.8)
        position: fixed
        top: 0
        left: 0
        z-index: 210
        display: none

    .popup-wrap
        +border(2px solid $page-color)
        +background(null,null,null, $white)
        +padding(22px)
        +box-sizing(border-box)
        position: fixed
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 1000
        display: none

    .map-popup-wrap
        +size(750px)

        .popup-header
            display: flex
            justify-content: space-between
            align-items: center

            h3
                font-weight: bold
                font-size: 18px

            .btn-popup-close
                +size(18px, 18px)
                +background('/images/desktop/global/icon_layer_close.png', no-repeat, center center)
                background-size: 18px 18px

        .map
            +size(706px, 428px)
            +margin(top 10px)
            +border(1px solid $border-color-base)
            +box-sizing(border-box)

        .address
            +margin(top 10px)
            font-size: 16px
            line-height: 24px

    .image-popup-wrap
        +size(844px)

        .popup-header
            display: flex
            justify-content: flex-end
            align-items: center

            .btn-popup-close
                +size(18px, 18px)
                +background('/images/desktop/global/icon_layer_close.png', no-repeat, center center)
                background-size: 18px 18px

        .img-wrap
            +size(800px, 600px)
            +margin(top 10px)
            +border(1px solid $border-color-base)
            +box-sizing(border-box)

            .popup-img
                +size(800px, 600px)
