@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/desktop/layouts/navigation/service.sass'
@import '@sass/components/_button.sass'
@import '@sass/components/_input.sass'
@import '@sass/components/_emailbox.sass'
@import '@sass/components/_textarea.sass'
@import '@sass/components/_selectbox.sass'
@import '@sass/components/_checkbox.sass'
@import '@sass/components/_radio.sass'

.albatalk-post-wrap
    .title-wrap
        +background('/images/desktop/global/article-top-image.png',no-repeat, center center)
        min-width: 1280px
        height: 300px

        h1
            +size(240px)
            +margin(0 auto)
            +padding(125px 0 0 63px)
            font-weight: bold
            font-size: 48px
        
        a
            +border(1px solid transparent)
            +size(102px, 36px)
            float: right
            +margin(top 244px right 20px)
            background-color: rgba(0, 0, 0, 0.4)
            border-radius: 1px
            display: flex
            align-items: center
            justify-content: center
            color: #fff
            font-size: 16px

.wanted
    +margin(top 60px bottom 80px)

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"]
        +input(white-light-fill)
        +size(240px, 50px)
        +margin(right 5px)
        font-size: 14px

    select
        +selectbox(240px, 50px)

    input[type="radio"]
        @extend %radio-default
        +margin(1px 8px 0 0)
        float: left

    input[type="checkbox"]
        @extend %checkbox-default
        +margin(1px 8px 0 0)
        float: left
    label
        float: left
        font-size: 16px

    textarea
        +textarea()
        +size(1058px, 150px)
        +padding(top 13px)

    .ui-emailbox
        +emailbox()
        float: left

        .ui-emailbox-button .ui-icon
            +margin(top 22px)

        .at
            +margin(0 8px)

    select
        +selectbox(240px, 50px)

        + .ui-selectmenu-button
            +margin(right 10px)
            float: left

    h2
        font-size: 24px

    
    .imgcard
        +size(200px, 210px)

    .inquire-form-wrap
        +margin(top 18px)

        table
            table-layout: fixed
            +size(1280px)
            &:nth-child(1)
                +border(2px solid $gray-900, top)

        .top
            +size(980px)

        tr
            +size(1280px, 72px)
            +border(1px solid $border-color-base, bottom)

            th
                +size(182px)
                +padding(left 40px top 26px)
                +background(null, null, null, $background-color-menu)
                +box-sizing(border-box)
                font-size: 16px
                text-align: left
                vertical-align: top

            td
                +padding(left 20px top 11px bottom 11px)
                +box-sizing(border-box)

            .name-wrap

            .manager-wrap

            .ceo-wrap

            .manager-phone-wrap

            .num-wrap

            .manager-email-wrap

            .phone-wrap


            .page-wrap
                +size(1096px)
                input[type="text"]
                    +size(750px, 50px)

            .address-wrap
                overflow: hidden

                p
                    +padding(left 20px top 18px)
                    float: left
                    color: $gray-700

                .btn-address
                    +btn()
                    +size(86px, 50px)
                    +background(null, null, null, $white)
                    +border(1px solid $border-color-base)
                    +border-radius(25px)
                    position: absolute
                    font-weight: bold
                    font-size: 14px

            .subway-wrap
                +size(1096px)
                input[type="text"]
                    +size(1050px, 50px)

            .field-wrap
                +padding(left 20px top 28px bottom 11px)
                label
                    +padding(right 40px)

            .work-type-wrap
                +padding(left 20px top 28px bottom 11px)
                label
                    +padding(right 40px)

            .job-wrap
                +padding(left 20px top 28px bottom 11px)
                label
                    +padding(right 40px)

            .pay-wrap
                input[type="radio"]
                    +margin(top 17px bottom 11px)
                label
                    +padding(top 17px right 40px)
                    &:nth-child(8)
                        +padding(right 20px)
                input[type="text"]
                    +size(400px)

            .school-wrap
                input[type="radio"]
                    +margin(top 17px bottom 11px)
                label
                    +padding(top 17px right 40px)
                    &:nth-child(8)
                        +padding(right 20px)
                input[type="text"]
                    +size(240px)
                    float: left
                    +margin(right 40px)

            .career-wrap
                input[type="radio"]
                    +margin(top 17px bottom 11px)
                label
                    +padding(top 17px right 40px)
                    &:nth-child(8)
                        +padding(right 20px)
                .last
                    +padding(right 20px)
                input[type="text"]
                    +size(240px)
                    +margin(right 40px)

            .payday-wrap
                input[type="radio"]
                    +margin(top 17px bottom 11px)
                label
                    +padding(top 17px right 40px)
                    &:nth-child(8)
                        +padding(right 20px)
                input[type="text"]
                    +size(400px)

            .title-wrap
                +size(1096px)

                input[name="title"]
                    +size(810px)

            .welfare-wrap
                +size(770px)
                +padding(left 20px top 28px bottom 11px)
                label
                    +padding(right 40px)
                .last
                    +padding(right 380px bottom 20px)

            .deadline-wrap
                input[type="radio"]
                    +margin(top 17px bottom 11px)
                label
                    +padding(top 17px right 20px left 10px)
                label[name="until-hiring"]
                    +padding(right 0 left 0)
                input[type="text"]
                    +size(240px)
                    float: left
                    +margin(right 10px)
                input[class="time"], input[class="time2"]
                    +size(100px)
                input[id="until-hiring"]
                    +margin(left 40px)


            .inquire-content-wrap
                +size(1096px)

            .payment-wrap
            
            .paydeail-wrap
                input[type="radio"]
                    +margin(top 17px bottom 11px)
                label
                    +padding(top 17px right 10px)
                input[type="text"]
                    +size(240px)
                    +margin(right 40px)
                span
                    float: left

    .submit
        +margin(50px 0px 0px 540px)
        width: 200px
        height: 50px
        border-radius: 27px
        background-color: #8816b5
        font-size: 15px
        color: #ffffff

    .btn-wrap
        +size(200px)
        +margin(50px auto 0 auto)

        .btn-submit
            +btn(purple-fill)
            +size(200px, 50px)
            font-size: 16px

.title-error-wrap
    +margin(left 250px)
