@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

@import '@sass/components/_button.sass'
@import '@sass/components/_input.sass'
@import '@sass/components/_textarea.sass'
@import '@sass/components/_selectbox.sass'
@import '@sass/components/_checkbox.sass'
@import '@sass/components/_radio.sass'
@import '@sass/components/_datepicker.sass'
@import '@sass/components/_editor.sass'

.albatalk-post
    +margin(top 80px bottom 80px)

    input[type="text"], input[type="email"]
        +input(white-light-fill)
        font-size: 14px

    .input-xxs
        +size(100px, 50px)

    .input-xs
        +size(240px, 50px)

    .input-s
        +size(260px, 50px)

    .input-m
        +size(400px, 50px)

    .input-l
        +size(520px, 50px)

    .input-xl
        +size(750px, 50px)

    .input-xxl
        +size(1050px, 50px)

    input[type="radio"]
        @extend %radio-default
        +margin(1px 8px 0 0)

        + label
            font-size: 16px

    input[type="checkbox"]
        @extend %checkbox-default
        +margin(1px 8px 0 0)

        + label
            font-size: 16px

    .sub-title-wrap
        display: flex
        justify-content: space-between
        align-items: flex-end

        h2
            font-size: 24px
            line-height: 26px

        .tip
            font-size: 12px
            color: $red

    table
        th
            +size(190px)
            +padding(left 40px)
            +border(1px solid $border-color-base, bottom)
            +box-sizing(border-box)
            background-color: $background-color-menu
            font-size: 16px
            line-height: 20px
            text-align: left

        td
            +border(1px solid $border-color-base, bottom)

    .parsley-required, .parsley-type, .parsley-pattern
        +padding(left 0)

.albatalk-post-content
    +margin(top 18px)

    .dental-form-wrap
        +border(2px solid $gray-900, top)
        display: grid
        grid-template-columns: 300px 980px

        .thumbnail-wrap
            +padding(20px 20px 20px 0)
            +border(1px solid $border-color-base, bottom)

            .img-wrap
                position: relative

                &:hover .image-hover-common
                    display: block

                .image-hover-common
                    display: none
                    background-color: rgba(0,0,0,0.4)
                    position: absolute
                    top: 0
                    left: 0

                    input[type="file"]
                        display: none

                    .image-icon-common
                        display: block
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        cursor: pointer

                    .btn-plus
                        +background('/images/desktop/global/icon_plus.svg', no-repeat, center center)

                    .btn-delete-thumbnail
                        +background('/images/desktop/global/icon_delete_img.svg', no-repeat, center center)

                .image-hover-lg
                    +size(280px, 210px)

                    .image-icon-lg
                        +size(60px, 60px)
                        background-size: 60px 60px

                .image-hover-sm
                    +size(80px, 60px)

                    .image-icon-sm
                        +size(20px, 20px)
                        background-size: 20px 20px

            .main-thumbnail
                +size(280px,210px)
                +border(1px dashed $border-color-base)
                +box-sizing(border-box)

                &.none-image
                    background-color: $white-light

                    .none-image-title
                        +padding(top 32px)
                        font-size: 16px
                        text-align: center
                        line-height: 20px

                    .none-image-tip
                        +padding(top 5px)
                        font-size: 12px
                        color: $gray-700
                        text-align: center

                    .none-image-icon
                        +size(100px, 100px)
                        +margin(10px auto 0 auto)
                        +background('/images/desktop/global/icon_default_thumbnail.svg',no-repeat, center center)
                        display: block

            .sub-thumbnail-wrap
                .sub-thumbnail-title
                    +margin(top 8px)
                    display: flex
                    justify-content: space-between
                    align-items: center

                    h3
                        font-size: 16px
                        line-height: 20px

                    .sub-thumbnail-tip
                        font-size: 12px
                        color: $gray-700

                .sub-thumbnail-content
                    +margin(top 5px)
                    display: grid
                    grid-template-columns: repeat(3, 80px)
                    column-gap: 20px

                    .sub-thumbnail
                        +size(80px, 60px)
                        +border(1px dashed $border-color-base)
                        +box-sizing(border-box)

                        &.none-image
                            +background('/images/desktop/global/icon_default_thumbnail.svg',no-repeat, center center)
                            background-color: $white-light
                            background-size: 30px 30px

            .thumbnail-tip
                +padding(top 10px)
                font-size: 12px
                color: $gray-700

        table
            td
                +padding(11px 0 11px 20px)

    .dental-additional-form-wrap
        table
            .wrapper-s
                +padding(top 11px bottom 11px)

            .wrapper-lg
                height: 43px
                +padding(top 27px)
                .parsley-required
                    +padding(bottom 11px)

            td
                +padding(left 20px)

                select
                    +selectbox(240px, 50px)

                    + .ui-selectmenu-button
                        +margin(right 10px)
                        float: left

                .address-wrap
                    display: flex
                    align-items: center
                    position: relative

                    .btn-address
                        +size(86px, 50px)
                        +btn(null, 1px solid $border-color-base)
                        background-color: $white
                        font-weight: bold
                        position: absolute
                        top: 0
                        left: 0

                    .address
                        +margin(right 10px)
                        +padding(left 96px)

                .map
                    +size(1050px, 240px)
                    +margin(top 10px)
                    +border-radius(25px)
                    +border(1px solid $border-color-base)
                    background-color: $white-light

                .radio-container
                    display: flex
                    justify-content: flex-start
                    align-items: center

                    .radio-wrap
                        +radio-wrap()
                        +margin(right 40px)
                        float: left

                        &:last-child
                            +margin(right 0)

                        .radio-input
                            +margin(left 20px)

                        .career-radio-label
                            +margin(right 20px)

                        .card-radio-label
                            +margin(right 10px)

                        .start-date
                            +margin(right 10px)
                            transition: all 0.2s ease-in-out

                            &.on-show
                                border-bottom-left-radius: 0
                                border-bottom-right-radius: 0

                        .time-from
                            +margin(0 20px)
                            font-size: 16px

                        .end-date
                            +margin(right 10px)
                            transition: all 0.2s ease-in-out

                            &.on-show
                                border-bottom-left-radius: 0
                                border-bottom-right-radius: 0

                .checkbox-container
                    display: flex
                    justify-content: flex-start
                    align-items: center

                    .checkbox-wrap
                        +checkbox-wrap()
                        +margin(right 40px)

                        &:last-child
                            +margin(right 0)

                .checkbox-grid-container
                    display: inline-grid
                    grid-template-columns: repeat(6, 1fr)
                    gap: 20px 40px

                    .checkbox-wrap
                        +checkbox-wrap()

                .money
                    font-weight: bold
                    font-size: 16px
                    line-height: 18px
                    color: $page-color

    .btn-wrap
        +margin(50px auto 0 auto)
        +size(200px)

        .btn-submit
            +btn(purple-fill)
            +size(200px, 50px)
            font-size: 16px

.ui-datepicker
    +size(240px)
