@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

@import '@sass/components/_button.sass'
@import '@sass/components/_input.sass'
@import '@sass/components/_selectbox.sass'
@import '@sass/components/_textarea.sass'
@import '@sass/components/_checkbox.sass'

.albatalk-resume-wrap
    .title-wrap
        +background('/images/desktop/global/article-top-image.png',no-repeat, center center)
        min-width: 1280px
        height: 300px

        .albatalk-navigation
            +margin(top 244px)
            display: flex
            float: right
            justify-content: flex-start

        a
            +size(102px, 36px)
            +margin(right 20px)
            +border(1px solid transparent)
            +box-sizing(border-box)
            background-color: rgba(0, 0, 0, 0.4)
            border-radius: 1px
            font-size: 16px
            line-height: 36px
            text-align: center
            color: #fff

            &:last-child
                +margin(right 0)

.resume
    +margin(top 60px bottom 80px)

    input[type="text"]
        +input(white-light-fill)
        display: block
        font-size: 14px

    input[type="checkbox"]
        @extend %checkbox-default

    h2
        font-size: 24px

    .common-form-wrap
        h3
            font-weight: bold
            font-size: 16px

        table
            width: 100%

            th
                +background(null, null, null, $background-color-menu)
                +box-sizing(border-box)
                +border(1px solid $border-color-base, bottom)
                font-size: 16px

            td
                +padding(11px 0)
                +border(1px solid $border-color-base, bottom)
                +box-sizing(border-box)
                vertical-align: middle

            thead
                th
                    +padding(27px 0)

            tbody
                th
                    +padding(left 40px)
                    text-align: left
                    vertical-align: middle

    .desire-form-wrap
        +margin(top 18px)

        table
            +border(2px solid $border-color-base, top)

            th
                +size(190px)

            td
                +padding(left 20px)

        input[type="text"]
            +size(1030px, 50px)

    .user-form-wrap
        +margin(top 40px)
        display: flex
        justify-content: space-between
        align-items: flex-start

        input[type="text"]
            +size(270px, 50px)

        #address
            +size(790px)

        .image-wrap
            .resume-profile
                +size(220px, 293px)
                +margin(right 20px)
                +border(1px dashed $border-color-base)
                +box-sizing(border-box)

            .image-tip
                +padding(top 10px)
                font-size: 12px
                color: $gray-700

        table
            +border(1px solid $border-color-base, top)

            th
                +size(190px)

            td
                +padding(left 20px)


    .double-form-wrap
        +margin(top 40px)
        display: flex
        justify-content: space-between

        table
            +margin(top 10px)

        .education-form-wrap
            input[type="text"]
                +size(370px, 50px)

            table
                +border(1px solid $border-color-base, top)

                th
                    +size(190px)

                td
                    +padding(left 20px right 40px)

        .desire-ranking-form-wrap
            .input-wrap
                display: flex
                justify-content: space-between

            input[type="text"]
                +size(114px, 50px)
                +margin(left 41px)

                &:first-child
                    +margin(left 0)

            table
                +border(1px solid $border-color-base, top)

                td
                    +padding(left 20px right 20px)

                thead
                    th
                        line-height: 20px
                        text-align: center

                tbody
                    th
                        +size(156px)

    .certification-form-wrap
        +margin(top 40px)

        input[type="text"]
            +size(323px, 50px)
            +margin(0 auto)

        table
            +margin(top 10px)
            +border(1px solid $border-color-base, top)

            thead
                th
                    +border(1px solid $border-color-base, right)
                    line-height: 20px
                    text-align: center

                    &:last-child
                        +border(0, right)

            tbody
                th
                    +size(190px)
                    +padding(0)
                    +border(1px solid $border-color-base, right)
                    text-align: center

                td
                    +border(1px solid $border-color-base, right)

                    &:last-child
                        +border(0, right)

    .information-form-wrap
        +margin(top 40px)

        textarea
            +textarea()
            +margin(top 10px)
            +size(1280px, 250px)

    .evaluation-form-wrap
        +margin(top 40px)

        .evaluation-title-wrap
            overflow: hidden

            h3
                float: left

            span
                +margin(left 10px)
                display: block
                float: left
                font-size: 16px

        .evaluation-content-wrap
            +margin(top 10px)
            display: flex
            justify-content: space-between
            align-items: flex-start

            input[type="text"]
                +size(200px, 50px)

            select
                +selectbox(112px, 50px)

                + .ui-selectmenu-button
                    +margin(right 10px)
                    float: left

            table
                +border(1px solid $border-color-base, top)

                thead
                    th:first-child
                        +padding(left 37px)
                        text-align: left

                tbody
                    th
                        +size(190px)

                    td
                        font-size: 16px

                    .ability-cell
                        +padding(left 20px)

                    .select-cell,
                    .input-cell
                        +padding(left 10px)

                    .checkbox-cell
                        +padding(left 42px right 52px)

    .btn-wrap
        +size(200px)
        +margin(28px auto 0 auto)

        .btn-submit
            +btn(purple-fill)
            +size(200px, 50px)
            font-size: 16px

.ui-selectmenu-menu
    +size(112px, auto 200px)
