@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

@import '@sass/components/_button.sass'

@import '@sass/desktop/pages/agreement/agreement.sass'
@import '@sass/desktop/pages/agreement/payment.sass'

.albatalk-resume-detail-wrap
    background-color: #f5f4f5
    min-width: 1280px
    overflow: hidden

    .container
        +margin(top 20px bottom 20px)
        +background(null, null, null, $white)
        +border-radius(10px)
        overflow: hidden

        .row
            +size(1140px)
            +margin(50px auto 80px auto)

    .detail-title
        +margin(bottom 20px)

        h1
            font-size: 30px

    .user-information-wrap
        +padding(top 20px)
        +border(1px solid $border-color-base, top)
        display: flex
        justify-content: flex-start
        align-items: flex-end

        table
            th
                +size(100px)
                color: $gray-700
                text-align: left
                line-height: 24px
                vertical-align: middle

            td
                +size(245px)
                +padding(6px 0 6px 10px)

                p
                    min-height: 23px
                    font-size: 16px
                    line-height: 23px

        .user-image-wrap
            +border(1px solid $border-color-base)

            .user-image
                +size(218px, 291px)

        .user-personal-information
            +padding(bottom 9px left 50px)

            .user-name
                +padding(bottom 24px)
                font-weight: bold
                font-size: 24px

        .user-hope-information
            +padding(left 80px bottom 9px)

    .information-title
        +margin(bottom 18px)

        h2
            font-size: 24px
            line-height: 26px

    .study-information-wrap
        +margin(top 60px)

        .study-information-content
            +padding(top 24px left 40px right 40px)
            +border(2px solid $gray-900, top)
            display: flex
            justify-content: flex-start
            align-items: flex-start

            .study-information-right-content
                +margin(left 110px)

            table
                th
                    +size(100px)
                    line-height: 24px
                    color: $gray-700
                    text-align: left
                    vertical-align: middle

                td
                    +padding(6px 0 6px 10px)
                    min-width: 350px

                    p
                        min-height: 24px
                        font-size: 16px
                        line-height: 24px

                    .ranking-wrap
                        min-height: 24px

                .ranking-wrap
                    display: flex
                    justify-content: flex-start
                    align-items: center

                    p
                        display: flex
                        justify-content: flex-start
                        align-items: center

                        &::after
                            +margin(0 20px)
                            display: block
                            width: 1px
                            height: 16px
                            background-color: $gray-200
                            content: ''

                        &:last-child::after
                            display: none

    .self-information-wrap
        +margin(top 59px)

        .self-information-content
            +padding(top 40px)
            +border(2px solid $gray-900, top)

            .self-information-text
                +padding(0 45px)
                line-height: 1.7
                min-height: 100px

    .career-information-wrap
        +margin(top 60px)

        .career-information-content
            +border(2px solid $gray-900, top)

            table
                +size(100%)
                +border(2px solid $border-color-base, bottom)

                thead
                    +border(1px solid $border-color-base, bottom)

                    th
                        +size(250px)
                        +padding(14px 40px)
                        background-color: $background-color-menu
                        color: $gray-700
                        line-height: 16px
                        &:first-child
                            +padding(right 115px)
                        &:nth-child(3)
                            +padding(left 115px)
                            
                            

                tbody
                    tr
                        +border(1px solid $border-color-base, bottom)

                        &:last-child
                            +border(0, bottom)

                    td
                        +padding(22px 40px)
                        font-size: 16px
                        line-height: 18px
                        text-align: center

                        &:first-child
                            +padding(right 115px)
                        &:nth-child(3)
                            +padding(left 115px)


    .certification-information-wrap
        +margin(top 60px)

        .certification-information-content
            +border(2px solid $gray-900, top)

            table
                +size(100%)
                +border(2px solid $border-color-base, bottom)

                thead
                    +border(1px solid $border-color-base, bottom)

                    th
                        +size(250px)
                        +padding(14px 40px)
                        background-color: $background-color-menu
                        color: $gray-700
                        line-height: 16px

                        &:first-child
                            +size(100px)
                            +padding(right 10px)

                tbody
                    tr
                        +border(1px solid $border-color-base, bottom)

                        &:last-child
                            +border(0, bottom)

                    td
                        +size(250px)
                        +padding(22px 40px)
                        font-size: 16px
                        line-height: 18px
                        text-align: center

                        &:first-child
                            +size(100px)
                            +padding(right 10px)

    .ability-information-wrap
        +margin(top 60px)

        .ability-information-content
            +border(2px solid $gray-900, top)
            display: flex
            justify-content: flex-start
            align-items: flex-start

            table
                +size(50%)
                +border(2px solid $border-color-base, bottom)

                thead
                    +border(1px solid $border-color-base, bottom)

                    th
                        +padding(14px 0)
                        background-color: $background-color-menu
                        color: $gray-700
                        line-height: 16px

                        &:first-child
                            +size(100px)
                            +padding(left 40px right 20px)

                        &:nth-child(2)
                            +size(190px)

                        &:nth-child(3)
                            +size(90px)
                            +padding(right 20px)

                        &:last-child
                            +size(90px)
                            +padding(right 20px)

                tbody
                    tr
                        +border(1px solid $border-color-base, bottom)

                        &:last-child
                            +border(0, bottom)

                    td
                        +size(null, 18px)
                        +padding(22px 0)
                        font-size: 16px
                        line-height: 18px
                        text-align: center

                        &:first-child
                            +size(100px)
                            +padding(left 40px right 20px)

                        &:nth-child(2)
                            +size(190px)

                        &:nth-child(3)
                            +size(90px)
                            +padding(right 20px)

                        &:last-child
                            +size(90px)
                            +padding(right 20px)

                &:first-child
                    +border(1px solid $border-color-base, right)


    .btn-wrap
        +size(200px)
        +margin(50px auto 0 auto)

        .btn-go-edit
            +btn(purple-fill)
            +size(200px, 50px)
            font-size: 16px
            line-height: 50px
