@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/components/_pagination.sass'

.albatalk-wrap
    .title-wrap
        +background('/images/desktop/global/article-top-image.png',no-repeat, center center)
        min-width: 1280px
        height: 300px

        h1
            +size(240px)
            +margin(0 auto)
            +padding(125px 0 0 63px)
            font-weight: bold
            font-size: 48px

.albatalk
    +margin(bottom 100px)

    .albatalk-contents
        +margin(top 28px)
        overflow: hidden

        .albatalk-card
            +size(296px, 310px)
            +margin(32px 32px 0 0)
            +border(1px solid rgba(0, 0, 0, 0.1))
            +border-radius(8px)
            +box-sizing(border-box)
            max-width: 296px
            max-height: 310px
            overflow: hidden
            float: left

            &:nth-child(4n)
                +margin(right 0px)

            img
                +size(296px 296px, 222px)

            .albatak-information
                +padding(20px)

                .albatalk-name
                    +ellipse()
                    display: block
                    font-weight: bold
                    font-size: 16px
                    line-height: 1.5

            .albatalk-description
                +padding(top 15px)
                display: flex
                justify-content: space-between
                align-items: center
                color: $gray-700

                .albatalk-place
                    font-size: 12px

                .albatalk-date
                    font-size: 12px
            &:hover
                +border(1px solid $page-color)
                .albatalk-name
                    text-decoration: underline
