@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

@import '@sass/components/_button.sass'

@import '@sass/desktop/pages/agreement/agreement.sass'
@import '@sass/desktop/pages/agreement/payment.sass'

.albatalk-resume-detail-wrap
    .title-wrap
        +background('/images/desktop/global/article-top-image.png',no-repeat, center center)
        min-width: 1280px
        height: 300px

        h1
            +size(240px)
            +margin(0 auto)
            +padding(125px 0 0 63px)
            font-weight: bold
            font-size: 48px
        
        a
            +border(1px solid transparent)
            +size(102px, 36px)
            float: right
            +margin(top 244px right 20px)
            background-color: rgba(0, 0, 0, 0.4)
            border-radius: 1px
            display: flex
            align-items: center
            justify-content: center
            color: #fff
            font-size: 16px


    +background(null, null, null, #f5f4f5)
    min-width: 1280px
    overflow: hidden

    .container
        +margin(20px auto)
        +border(1px solid $border-color-light)
        +border-radius(10px)
        +background(null, null, null, $white)

        .row
            +margin(50px auto 80px)

.title
    +padding(bottom 20px)
    +border(1px solid $border-color-base, bottom)
    overflow: hidden

    h1
        float: left
        font-size: 30px

    a
        float: right
        font-size: 13px
        color: $gray-700
        transform: translateY(15px)

        &:hover
            color: $page-color
            font-weight: bold
            text-decoration: revert



.resume-information-wrap
    +padding(top 20px)
    overflow: hidden
    min-height: 225px

    .resume-image
        float: left

        img
            +size(220px, 293px)

    .resume-information
        +size(790px)
        +padding(top 20px left 50px)
        float: left

        .resume-title
            +padding(bottom 12px)
            font-weight: bold
            font-size: 24px
            line-height: 1.21

        .first-card, .second-card
            width: 435px
            height: 102px
            //table-layout: fixed
            //+padding(top 16px)
            display: block

            tr
                +padding(top 18px)
                display: block

                th
                    +size(100px)
                    font-size: 14px
                    color: $gray-700
                    vertical-align: middle
                    text-align: left

                td
                    +size(245px)
                    +padding(left 10px)
                    font-size: 16px
                    vertical-align: middle
                    &:nth-child(5)
        
        .third-card
            +margin(top 70px)
            width: 300px
                        

h3
    font-size: 24px

.detail-information
    +padding(top 60px)

    .detail-title
        +padding(top 60px)
        overflow: hidden

        h3
            float: left

    table
        +margin(top 19px)
        +padding(top 8px)
        +border(2px solid $gray-900, top)
        width: 1140px
        display: block
        line-height: 1.88
        //table-layout: fixed

        tr
    

            th
                +padding(top 10px left 40px)
                +size(100px)
                font-size: 14px
                color: $gray-700
                vertical-align: middle
                text-align: left

            td
                +size(350px)
                +padding(top 10px right 10px left 10px)
                font-size: 16px
                vertical-align: middle
    .second
        +margin(top 19px)
        +border(2px solid $gray-900, top)
        width: 1140px
        height: 300px
        .text
            +padding(top 40px left 45px right 45px)
            font-size: 16px
            line-height: 1.88

    .certificate
        +padding(0)
        text-align: center
        tr
            +border(1px solid #d8d8d8, bottom)
            &:nth-last-child(1)
                +border(2px solid #d8d8d8, bottom)
        th
            text-align: center
            +padding(top 10px bottom 10px right 0 left 0)
            background-color: #f7f7f7
        td
            +padding(top 10px bottom 10px right 0 left 0)

    .self-test
        +padding(0)
        text-align: center
        tr
            +border(1px solid #d8d8d8, bottom)
            &:nth-last-child(1)
                +border(2px solid #d8d8d8, bottom)
        th
            text-align: center
            +padding(top 10px bottom 10px right 0 left 0)
            background-color: #f7f7f7
            &:nth-child(4)
                +border(1px solid #d8d8d8, right)
                
        td
            +padding(top 10px bottom 10px right 0 left 0)
            &:nth-child(4)
                +border(1px solid #d8d8d8, right)
            &:nth-child(2), &:nth-child(6)
                text-align: left
                
.submit
    +margin(50px 0px 0px 470px)
    width: 200px
    height: 50px
    border-radius: 27px
    background-color: #8816b5
    font-size: 15px
    color: #ffffff

.lecture-result
    .btn-wrap
        +size(200px)
        +margin(top 63px)
        +padding(top 10px)

        .btn-confirm
            +size(200px)

.btn-wrap
    +size(330px)
    +margin(50px auto 0)
    overflow: hidden

    *[class^="btn-"]
        +size(160px, 50px)
        float: left
        font-size: 16px
        line-height: 50px

        &:last-child
            +margin(right 0)

    .btn-confirm
        +btn(purple-fill)
        +margin(right 10px)
        float: left
        color: $white

    .btn-cancel
        +btn()
        +background(null, null, null, $gray-700)
        float: right
        color: $white

.form_search
    +background(null, null, null, $gray-700)

.parsley-errors-list li
    font-size: 16px

.address-error
    clear: both

    ul
        float: left

        &:first-child
            +margin(right 360px)

.offer_error_wrap,
.refund_error_wrap
    li
        font-size: 12px
