@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/components/_checkbox.sass'

.albatalk-wrap
    .title-wrap
        +background('/images/desktop/global/article-top-image.png',no-repeat, center center)
        min-width: 1280px
        height: 300px

        h1
            +size(240px)
            +margin(0 auto)
            +padding(125px 0 0 63px)
            font-weight: bold
            font-size: 48px

        a
            +size(102px, 36px)
            +border(1px solid transparent)
            +margin(top 60px right 20px)
            float: right
            background-color: rgba(0, 0, 0, 0.4)
            border-radius: 1px
            display: flex
            align-items: center
            justify-content: center
            color: #fff
            font-size: 16px

.albatalk
    +margin(bottom 100px)

    .albatalk-order
        +margin(top 80px)
        display: flex
        justify-content: space-between
        align-items: end

        h2
            font-size: 24px

        ul
            overflow: hidden

            li
                float: left

                a
                    line-height: 16px

                .active
                    font-weight: bold
                    color: $page-color

                &:last-child::before
                    +size(1px, 16px)
                    +margin(0 10px)
                    +background(null, null, null, $border-color-base)
                    display: block
                    float: left
                    content: ''

                &:hover
                    text-decoration: underline

    .albatalk-menu
        +margin(top 18px)

        input[type="checkbox"]
            @extend %checkbox-default
            +margin(1px 8px 0 0)
            float: left

            + label
                float: left
                font-size: 16px

        .albatalk-menu-list-wrap
            +margin(top 18px)
            +size(100%)
            +border(2px solid $gray-900, top)
            +border(2px solid $border-color-base, bottom)
            display: flex
            justify-content: flex-start
            align-items: center

            .label
                +padding(48px 65px)
                background-color: $background-color-menu
                font-size: 16px
                line-height: 20px

            .albatalk-menu-list
                +margin(left 30px)
                display: inline-grid
                grid-template-columns: repeat(9, 1fr)
                gap: 20px 40px

    .albatalk-contents
        +margin(top 50px)

        .albatalk-content-list
            display: grid
            grid-template-columns: repeat(4, 296px)
            gap: 32px

        .albatalk-card
            +size(296px 296px, 310px 310px)
            +border(1px solid rgba(0, 0, 0, 0.1))
            +border-radius(8px)
            +box-sizing(border-box)
            overflow: hidden

            &:hover
                +border(1px solid $page-color)

                .albatalk-name
                    text-decoration: underline

            img
                +size(296px, 222px)

            .albatalk-information
                +padding(20px)

                .albatalk-name
                    +ellipse()
                    display: block
                    font-weight: bold
                    font-size: 16px
                    line-height: 1.5

            .albatalk-description
                +padding(top 15px)
                display: flex
                justify-content: space-between
                align-items: center
                color: $gray-700

                .albatalk-place,
                .albatalk-date
                    font-size: 12px
