@import '~froala-editor/css/froala_editor.pkgd.min.css'
@import '~froala-editor/css/froala_style.min.css'

@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/components/mobile/_button.sass'
@import '@sass/components/mobile/_selectbox.sass'

.community-wrap
    .title-wrap
        +size(100%, 41.666666vw )
        +background('/images/mobile/introduce/community_top_image.png', no-repeat, center center)
        background-size: 100%, 41.666666vw

    .community-navigation
        +padding(4.444444vw)

        &::after
            content: ''
            display: table
            clear: both

        .community-menu
            float: left

            .community-menu-select
                position: relative

                input[type=text]
                    +size(66.6666666vw, 11.1111111vw)
                    +padding(3.611111vw 5.5555555vw)
                    +border(.277777vw solid $border-color-base)
                    +border-radius(6.9444444vw)
                    +background('/images/mobile/global/icon_arrow_down.svg', no-repeat, 90% center, $background-color-menu)
                    +box-sizing(border-box)
                    background-size: 3.611111vw 1.944444vw
                    font-size: 3.8888888vw

                    &.select-focus
                        +background('/images/mobile/global/icon_arrow_up.svg', no-repeat, 90% center, $background-color-menu)
                        background-size: 3.611111vw 1.944444vw
                        border-bottom-left-radius: 0
                        border-bottom-right-radius: 0

                .select-box
                    display: none
                    position: absolute
                    z-index: 100

                    li
                        +size(66.6666666vw, 11.1111111vw)
                        +padding(3.611111vw 5.5555555vw)
                        +border(.277777vw solid $border-color-base, bottom right left)
                        +background(null, null, null, $background-color-menu)
                        +box-sizing(border-box)

                        &:last-child
                            border-bottom-left-radius: 6.9444444vw
                            border-bottom-right-radius: 6.9444444vw

                        &.active-menu
                            +background(null, null, null, $page-color)
                            color: $white

                .show
                    display: block

        .community-order
            +margin(top 3.8888888vw)
            float: right

            .community-order-select
                +background('/images/mobile/lecture/icon_arrow_down.svg', no-repeat, 100% center, white)
                +padding(right 5vw)
                +border(0)
                float: right
                background-size: 3.611111vw 1.944444vw
                font-size: 3.8888888vw
                text-align-last: right
                text-align: right
                -ms-text-align-last: right
                -moz-text-align-last: right

                &.select-focus-in
                    +background('/images/mobile/lecture/icon_arrow_up.svg')

    .community-list-title
        display: none

    .community-lists
        +border(.2777777vw solid $border-color-light, top)

    .community-summary
        +padding(6.6666666vw 4.4444444vw)
        +border(.277777vw solid $border-color-light, bottom)
        position: relative

        .date, .writer
            display: none

        .sort
            display: block
            font-size: 3.333333vw
            color: $gray-900

        .title
            +padding(top 2.2222222vw)
            display: block
            line-height: 1.45

        .view-wrap
            +margin(top 3.333333vw)
            overflow: hidden
            display: flex
            font-size: 3.3333333vw
            color: $gray-700

            .view
                +margin(right 2.7777777vw)
                order: 1

            .like
                order: 2

            .like-wrap
                overflow: hidden

                .like-icon
                    +size(3.3333333vw, 3.3333333vw)
                    +margin(right .8333333vw)
                    +background('/images/desktop/community/icon_like_white.svg', no-repeat, center center)
                    background-size: contain
                    display: block
                    float: left

                .like-count
                    float: left

        .btn-arrow-down
            +size(2.777777vw, 1.9444444vw)
            +background('/images/mobile/global/icon_arrow_purple_down.svg', no-repeat, center center)
            display: block
            position: absolute
            top: 50%
            right: 4.4444444vw
            background-size: contain
            transform: translateY(-50%)

            &.up
                +background('/images/mobile/global/icon_arrow_purple_up.svg', no-repeat, center center)

    .community-detail
        +padding(6.6666666vw 4.4444444vw)
        +background(null, null, null, $background-color-menu)
        +border(.277777vw solid $border-color-light, bottom)

        .head
            font-size: 3.33333333vw
            color: $gray-700

        .content
            +margin(top 2.777777vw)

        .community-detail-content
            .head
                +margin(top 8.3333333vw)

            .fr-view
                .fr-video::after
                    z-index: -1
                
                p
                    +size(null, min 6.3888888vw)
                    +margin(bottom 1rem)
                    display: block

                    span
                        line-height: 1

                img
                    +size(max 100%)

                ul li::before
                    +size(1.11111111vw, 1.11111111vw)
                    +margin(bottom 1.38888888vw left 2.7777777vw right 2.7777777vw)
                    +border-radius(50%)
                    +background(null, null, null, $black)
                    display: inline-block
                    content: ''

                ol
                    counter-reset: editor-counter

                    li::before
                        +size(5.5555555vw)
                        +margin(left .5555555vw right .5555555vw)
                        counter-increment: editor-counter
                        content: counter(editor-counter) "."
                        text-align: center
                        display: inline-block

                h1
                    margin-bottom: 0.5rem
                    font-weight: 500
                    font-size: 6.1111111vw
                    line-height: 1.2

                h2
                    margin-bottom: 0.5rem
                    font-weight: 500
                    font-size: 5.5555555vw
                    line-height: 1.2

                h3
                    margin-bottom: 0.5rem
                    font-weight: 500
                    font-size: 5vw
                    line-height: 1.2

                h4
                    margin-bottom: 0.5rem
                    font-weight: 500
                    font-size: 4.4444444vw
                    line-height: 1.2

                pre
                    display: block
                    margin-bottom: 1rem
                    font-size: 87.5%
                    color: #4f5d73

                sub
                    position: relative
                    bottom: -0.25em
                    font-size: 75%
                    line-height: 0
                    vertical-align: baseline

                sup
                    position: relative
                    top: -0.5em
                    font-size: 75%
                    line-height: 0
                    vertical-align: baseline

        .btn-wrap
            +margin(top 5.555555vw)
            overflow: hidden

            .btn-like
                +btn(null, 1px solid $border-color-base)
                +size(25.555555vw, 11.666666vw)
                +padding(top 2.97777777vw)
                +background(null, null, null, $white)
                +box-sizing(border-box)
                display: flex
                justify-content: center
                float: right
                color: $gray-700
                cursor: pointer

                .like-icon
                    +size(3.3333333vw, 3.3333333vw)
                    +margin(top 1.33333333vw right .83333333vw)
                    +background('/images/desktop/community/icon_like_white.svg', no-repeat, center center)
                    background-size: contain
                    display: block
                    content: ''

                span
                    float: left
                    font-size: 3.8888888vw

                &.active
                    border-color: $page-color
                    color: $gray-200

                    .like-icon
                        +background('/images/desktop/community/icon_like_purple.svg', no-repeat, center center)

