.footer
    +border(1px solid $border-color-light, top)
    min-width: 1280px

    .container
        height: 187px

    .footer-logo-wrap
        +padding(top 70px)
        float: left

        .footer-logo
            width: 90px
            height: 25px

    .footer-left
        +padding(30px 0 0 50px)
        overflow: hidden
        float: left
        width: 543px

        li::after
            content: ''
            position: absolute
            right: 13px
            top: 3px
            width: 1px
            height: 12px
            background: $gray-700

        .agreement
            li
                +padding(right 32px)
                display: inline-block
                position: relative

                a
                    font-size: 13px
                    line-height: 1.54
                    color: $gray-700

                    &:hover
                        text-decoration: underline

                .bold
                    font-weight: bold

                &:last-child::after
                    +size(0,0)


        .footer-information
            +size(512px)
            +padding(top 11px)

            li
                +padding(right 32px)
                display: inline-block
                position: relative

                p
                    font-size: 13px
                    color: $gray-700
                    letter-spacing: 0
                    line-height: 1.54

            li:nth-child(2)::after
                width: 0
                height: 0

            li:nth-child(4)::after
                width: 0
                height: 0

            li:nth-child(6)::after
                width: 0
                height: 0

        .office-address
            font-size: 13px
            color: $gray-700
            line-height: 1.54

    .footer-right
        +padding(68px 13px)
        overflow: hidden
        float: right

        li
            float: left

            .footer-right-brainspec
                display: block
                width: 123px
                height: 25px
                margin-top: 2px
                margin-right: 31px

            .footer-right-ohc
                display: block
                width: 86px
                height: 26px
                margin-right: 39px

            .footer-right-kadh
                display: block
                width: 59px
                height: 31px
                margin-right: 36px

            .footer-right-kdma
                display: block
                width: 101px
                height: 27px
