.footer
    +border(1px solid $border-color-light, top)

    .container
        height: 132px

        .footer-logo-wrap
            +padding(top 41px)
            float: left

            .footer-logo
                width: 90px
                height: 25px

        .footer-left
            +padding(26px 0 0 50px)
            overflow: hidden
            float: left
            width: 543px

            li
                +padding(right 30px)
                display: inline-block
                position: relative

                p
                    font-size: 13px
                    color: $gray-700
                    letter-spacing: 0
                    line-height: 1.54

            li::after
                content: ''
                position: absolute
                right: 11px
                top: 3px
                width: 1px
                height: 15px
                background: $gray-700

            li:nth-child(2)::after
                right: 12px

            li:nth-child(3)::after
                width: 0
                height: 0

            li:nth-child(4)::after
                right: 12px

            li:nth-child(5)::after
                width: 0
                height: 0

            .office-address
                font-size: 13px
                color: $gray-700
                line-height: 1.54

        .footer-right
            overflow: hidden
            float: right
            padding: 40px 13px

            li
                float: left

                .footer-right-brainspec
                    display: block
                    width: 123px
                    height: 25px
                    margin-top: 2px
                    margin-right: 31px

                .footer-right-ohc
                    display: block
                    width: 86px
                    height: 26px
                    margin-right: 39px

                .footer-right-kadh
                    display: block
                    width: 59px
                    height: 31px
                    margin-right: 36px

                .footer-right-kdma
                    display: block
                    width: 101px
                    height: 27px
