@import '@sass/components/_input.sass'

//header
.header
    +border(1px solid $border-color-light, bottom)
    min-width: 1280px

    .container
        height: 140px

        .header-logo-wrap
            .header-logo
                +margin(0 auto)
                +padding(top 30px)
                width: 100px
                height: 70px

        .login-menu
            position: absolute
            top: 12px
            right: 0

            .admin
                +padding(right 3px)
                display: inline-block
                font-size: 12px

            .user-name, .login-btn
                display: inline-block
                font-size: 12px
                color: $gray-700

                &:hover
                    color: $font-color-base
                    text-decoration: underline

            .user-name
                padding-right: 18px

                a
                    font-style: normal
                    font-weight: bold
                    color: $gray-700

        .header-right
            position: absolute
            bottom: 30px
            right: 6px

            li
                +margin(right 33px)
                display: inline-block

                .header-mypage,
                .header-cs
                    display: block
                    font-size: 12px
                    color: $font-color-base

                    &:hover
                        font-weight: bold

                .header-mypage::before
                    +size(28px, 28px)
                    +margin(left 13px bottom 8px)
                    +background('/images/desktop/global/icon-header-mypage.png')
                    display: block
                    content: ''

                .header-mypage:hover::before
                    +background('/images/desktop/global/icon-header-mypage-ov.png')

                .header-cs::before
                    +size(28px, 28px)
                    +margin(left 8px bottom 8px)
                    +background('/images/desktop/global/icon-header-cs.png')
                    display: block
                    content: ''

                .header-cs:hover::before
                    +background('/images/desktop/global/icon-header-cs-ov.png')

            li:last-child
                +margin(right 0)

    .header-menu-wrap
        +border(1px solid $border-color-light, top)

        .header-menu
            +size(1280px)
            +margin(0 auto)
            +padding(10px 0)
            overflow: hidden

        .input-wrap
            float: right
            position: relative

            input[type="text"]
                +input(white-light-fill)
                +size(260px, 38px)

            .btn-search
                +size(30px, 30px)
                +border(0)
                position: absolute
                top: 4px
                right: 16px
                background-color: inherit
                cursor: pointer

                .search-icon
                    +size(20px, 20px)
                    +background('/images/desktop/global/icon_search.svg',no-repeat, center center)
                    display: block

        ul
            +margin(top 10px)
            float: left

        li
            +padding(right 37px)
            display: inline-block

            a
                font-size: 16px
                color: $font-color-base

                &:hover
                    font-weight: bold
                    text-decoration: underline
                    color: $page-color

        li:last-child
            +padding(right 0)

.simple-header
    +size(100%, 50px)
    +border(1px solid $border-color-base, bottom)
    min-width: 1280px

    .logo
        +size(90px, 25px)
        +padding(top 11px)

