//header
.header
    +border(1px solid $border-color-light, bottom)

    .container
        height: 140px

        .header-logo-wrap
            .header-logo
                +margin(0 auto)
                +padding(top 30px)
                width: 100px
                height: 70px

        .login-menu
            position: absolute
            top: 12px
            right: 0

            .user-name, .login-btn
                display: inline-block
                font-size: 12px
                color: $gray-700

                &:hover
                    color: $font-color-base
                    text-decoration: underline

            .user-name
                padding-right: 18px

                a
                    font-style: normal
                    font-weight: bold
                    color: $gray-700

        .header-left
            position: absolute
            bottom: 21px
            left: 10px

            li
                +padding(right 37px)
                display: inline-block

                a
                    font-size: 16px
                    color: $font-color-base

                    &:hover
                        font-weight: bold
                        text-decoration: underline
                        color: $page-color

            li:last-child
                +padding(right 0)

        .header-right
            position: absolute
            bottom: 30px
            right: 6px

            li
                +margin(right 33px)
                display: inline-block

                .header-mypage,
                .header-cs
                    display: block
                    font-size: 12px
                    color: $font-color-base

                    &:hover
                        font-weight: bold

                .header-mypage::before
                    +margin(left 13px bottom 8px)
                    +background('/images/desktop/global/icon-header-mypage.png')
                    content: ''
                    display: block
                    width: 28px
                    height: 28px
                    background-size: cover

                .header-mypage:hover::before
                    +background('/images/desktop/global/icon-header-mypage-ov.png')

                .header-cs::before
                    +margin(left 8px bottom 8px)
                    +background('/images/desktop/global/icon-header-cs.png')
                    content: ''
                    display: block
                    width: 28px
                    height: 28px
                    background-size: cover

                .header-cs:hover::before
                    +background('/images/desktop/global/icon-header-cs-ov.png')

            li:last-child
                +margin(right 0)
