@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

.title-wrap
    +background('/images/desktop/global/office-top-image.png', no-repeat, center center)
    height: 300px

    .title
        +margin(0 auto)
        +padding(top 101px)
        width: 626px
        em
            font-size: 18px
            font-weight: bold

        h1
            +padding(top 11px)
            font-size: 37px
            font-weight: bold
            color: $page-color

        strong
            +padding(top 26px)
            display: block
            font-size: 15px
            font-weight: normal
            letter-spacing: 0.1px

.introduce-description
    +margin(80px auto 100px auto)
    +size(626px)

    h2
        +padding(bottom 10px)
        +border(1px solid $border-color-super-light, bottom)
        font-size: 24px
        font-weight: bold

    p
        +padding(top 20px)
        display: block
        font-size: 16px
        line-height: 1.5
