@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

.title-wrap
    +background('/images/desktop/global/office-top-image.png', no-repeat, center center)
    min-width: 1280px
    height: 300px

    .title
        +size(626px)
        +margin(0 auto)
        +padding(top 101px)

        em
            font-weight: bold
            font-size: 18px

        h1
            +padding(top 11px)
            font-weight: bold
            font-size: 37px
            color: $page-color

        strong
            +padding(top 29px)
            display: block
            font-weight: normal
            font-size: 15px

.introduce-description
    +size(1280px)
    +margin(80px auto 100px auto)

    h2
        +padding(bottom 10px)
        +border(1px solid $border-color-super-light, bottom)
        font-weight: bold
        font-size: 24px

    .introduce-start
        +margin(top 20px)
        overflow: hidden

        .img-wrap
            +size(610px, 610px)
            float: left

        img
            +size(610px, 610px)

        .start-content
            +size(526px)
            +margin(left 70px)
            overflow: hidden
            float: left

            .content-img-wrap
                +margin(top 20px)

                img
                    +size(526px, 278px)
                    display: block

            p
                +padding(top 20px)
                display: block
                font-size: 16px
                line-height: 1.5

            .sign
                +padding(top 30px)
                overflow: hidden

                img
                    +size(265px, 62px)
                    +margin(left 10px)
                    float: right

    .introduce-middle
        +margin(top 100px)

        .img-wrap img
            +size(1275px, 345px)

        .description
            ul
                overflow: hidden

                li
                    +margin(left 31px)
                    +size(280px,282px)
                    +background('/images/desktop/introduce/introduce_img_3.png',no-repeat, center center)
                    float: left
                    text-align: center

                    &:first-child
                        +margin(left 32px)

                    p
                        +size(230px, 140px)
                        +padding(top 126px left 25px)
                        font-size: 16px
                        line-height: 1.5

                        em
                            font-weight: bold

                    .for-padding
                        +padding(top 150px)

    .introduce-end
        +margin(top 120px)
        text-align: center

        h3
            font-family: $font-family-gmarket
            font-size: 40px
            font-weight: bold

            em
                color: #0053a0

        p
            +padding(top 20px)
            font-size: 16px
            line-height: 1.5

        .img-wrap
            +size(1010px, 690px)
            +margin(50px auto 0 auto)

            img
                +size(1010px, 690px)
