@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/components/_pagination.sass'

.title-wrap
    +background('/images/desktop/global/article-top-image.png',no-repeat, center center)
    min-width: 1280px
    height: 300px

    h1
        +size(240px)
        +margin(0 auto)
        +padding(125px 0 0 63px)
        font-weight: bold
        font-size: 48px

.community-description
    +margin(top 80px)

    h2
        font-size: 24px

    .community-list
        +margin(top 20px bottom 50px)
        +border(2px solid $gray-900, top)

        li
            +padding(20px 0)
            +border(1px solid $border-color-base, bottom)
            overflow: hidden

            .image-wrap
                float: left

                img
                    +size(160px, 120px)
                    +border(1px solid rgba(0, 0, 0, 0.1))
                    +border-radius(8px)

            .community-information
                +size(900px)
                +margin(left 38px)
                +padding(15px 0)
                float: left

                h3
                    +ellipse(900,2)
                    min-height: 58px
                    font-size: 20px
                    line-height: 1.45

                .date
                    +padding(top 20px)
                    font-size: 16px
                    color: $gray-700

            .arrow-right
                +size(12px, 22px)
                +margin(left 128px top 52px)
                +background('/images/desktop/global/icon-arrow-right.png',no-repeat,center center)
                float: left
                cursor: pointer

            .none
                font-size: 20px
