@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

.title-wrap
    +background('/images/desktop/global/information-top-image.png',no-repeat, center center)
    min-width: 1280px
    height: 300px

    h1
        +size(240px)
        +margin(0 auto)
        +padding(125px 0 0 63px)
        font-weight: bold
        font-size: 48px

.information-description
    +size(626px)
    +margin(79px auto 125px auto)

    h2
        +padding(bottom 10px)
        +border(1px solid $border-color-super-light,bottom)
        font-weight: bold
        font-size: 24px

    p
        +padding(top 20px)
        font-size: 16px
        line-height: 1.5
