@import '../../helpers/_variables.sass'
@import '../../helpers/_extends.sass'
@import '../../helpers/_mixins.scss'

.instructor-title-wrap
    +background('/images/instructor/top-image.png', no-repeat, center center)
    height: 300px
    text-align: center

    h1
        +margin(0 auto)
        +padding(126px 0 0 20px)
        +size(240px)
        font-size: 48px
        font-weight: bold

.instructor-content-wrap
    +margin(top 100px)
    overflow: hidden

    .instructor-content
        +margin(top 30px)
        +size(614px, 398px)
        overflow: hidden
        float: left

        .instructor-photo
            +border-radius(50%)
            +size(200px, 200px)
            float: left

        .instructor-description
            +size(414px)
            float: left

            .instructor-name
                +padding(20px 0 0 41px)
                font-size: 24px

            .instructor-career
                +padding(20px 0 0 41px)
                font-size: 15px
                line-height: 1.53

                li
                    +padding(left 15px)
                    position: relative

    .instructor-content:nth-child(1),
    .instructor-content:nth-child(2)
        +margin(0)

    .instructor-content:nth-child(2n)
        +size(601px)
        float: right

        .instructor-description
            +size(395px)

    .instructor-content:last-child
        .instructor-name
            +padding(top 0)

    .instructor-content li::before
        +border-radius(50%)
        +background(null, null, null, $font-color-base)
        +size(3px, 3px)
        position: absolute
        top: 10px
        left: 6px
        content: ''
