@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/components/_input.sass'
@import '@sass/components/_button.sass'

.content
    +size(880px)
    +margin(0 auto)
    +padding(240px 0 320px)
    overflow: hidden

    input[type="text"],
    input[type="password"]
        +input(white-light-fill)
        +size(300px, 50px)
        display: block

    input[type="text"]::placeholder,
    input[type="password"]::placeholder
        letter-spacing: 0.5px

    .input-error
        +border(1px solid $red !important)

    h2
        font-weight: bold
        font-size: 24px

    .btn-confirm
        +btn(purple-fill)
        +size(300px, 50px)
        +margin(top 10px)
        font-size: 16px

    .find-form-common
        +size(400px, 300px)
        +margin(top 10px)
        +border(1px solid $page-color)
        +box-sizing(border-box)

    .message-wrap
        .error
            +margin(top 7px)
            +padding(left 20px)
            font-size: 12px
            line-height: 15px
            color: $red

        .success
            +margin(top 20px)
            font-size: 14px
            text-align: center
            line-height: 18px
            color: $gray-200

            strong
                color: $page-color

        .send
            +margin(top 20px)
            font-weight: bold
            font-size: 12px
            line-height: 12px
            color: $gray-200
            white-space: nowrap

    .find-id
        +margin(right 80px)
        float: left

        .find-id-form
            +padding(50px)

            .name
                +margin(top 16px)

            .phone
                +margin(top 10px)

    .find-password
        float: left

        .find-password-form
            +padding(80px 50px 50px)

            .email
                +margin(top 16px)
