@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/components/_input.sass'
@import '@sass/components/_button.sass'

.login
    +margin(top 240px bottom 404px)

    .container
        +size(360px)

    input[type="text"],
    input[type="password"]
        +input(white-lignt-fill)
        +size(360px, 50px)

    input[type="text"]::placeholder,
    input[type="password"]::placeholder
        letter-spacing: 0.7px

    .input-error
        +border(1px solid $red !important)

    h1
        font-weight: bold
        font-size: 24px

    .login-form
        +margin(top 17px)

        .password
            +margin(top 10px)

        .btn-login
            +btn(purple-fill)
            +size(360px, 50px)
            +margin(top 10px)
            font-size: 16px

    .login-addition
        +margin(top 25px)
        text-align: right

        .find-id
            +margin(right 17px)
            color: $gray-700

            &:hover
                text-decoration: underline

        .go-register
            font-weight: bold
            color: $gray-700

            &:hover
                text-decoration: underline

    .error-wrap
        +margin(top 6px)

        .error
            +size(320px, 30px)
            +margin(0 auto)
            font-size: 12px
            color: $red
            line-height: 1.5
