@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

@import '@sass/components/_input.sass'
@import '@sass/components/_button.sass'
@import '@sass/components/_checkbox.sass'
@import '@sass/components/_selectbox.sass'
@import '@sass/components/_emailbox.sass'

.content
    h2
        font-size: 24px
        font-weight: bold

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"]
        +input(white-lignt-fill)
        +size(240px, 50px)
        +margin(right 5px)

    input:read-only
        +background(null,null,null, $background-color-readonly)
        color: $gray-900

    .ui-emailbox
        +emailbox()

    select
        +selectbox(240px, 50px)

        + .ui-selectmenu-button
            +margin(right 10px)
            float: left

    .btn-basic
        +btn(null, 1px solid $border-color-base)
        +size(140px, 50px)
        font-weight: bold
        font-size: 14px
        line-height: 1.2

    .btn-purple
        +btn(purple-fill)
        font-size: 16px

.content .register
    +margin(top 80px)

    table
        +margin(top 18px)
        +border(2px solid $gray-900, top)
        display: block

        tr
            +size(null, 72px)
            +border(1px solid $border-color-base, bottom)

            th
                +size(182px)
                +padding(top 29px)
                +background(null, null, null, $background-color-menu)
                text-align: left
                vertical-align: top

                label
                    +padding(left 40px)
                    font-size: 16px

            td
                +size(568px)
                +padding(left 20px top 11px bottom 11px)
                +box-sizing(border-box)
                overflow: hidden

                input[type="text"]
                    +margin(right 11px)

                .phone
                    float: left

                .login-id
                    float: left

                .check-overlap-id
                    +size(86px, 50px)

                .verification-number
                    +margin(top 10px)
                    float: left

                .btn-verification
                    +size(102px, 50px)
                    +padding(0)
                    float: left

                #confirm_authentication
                    pointer-events: none

                .btn-edit-phone
                    +size(70px, 50px)
                    +margin(left 10px)
                    float: left

                .timer
                    +padding(left 10px top 15px)
                    float: left

                .ui-emailbox-domain
                    +margin(left 5px)

.content .agree
    +margin(top 52px)

    .checkbox-wrap
        +checkbox-wrap()

    .agree-form
        +margin(top 18px)
        +border(2px solid $gray-900, top)

        .agreement-all-wrap
            +padding(29px 0 28px 40px)
            +border(1px solid $border-color-base, bottom)

            label
                font-weight: bold
                font-size: 16px

        .agreement-wrap
            +padding(26px 40px 26px 40px)
            +border(2px solid $border-color-base, bottom)

            li
                +margin(top 40px)

                .checkbox-from
                    overflow: hidden

                &:first-child
                    +margin(0)

            .checkbox-wrap
                float: left

            a
                float: right
                font-size: 13px
                color: $gray-700
                text-decoration: underline
                transform: translateY(3px)

.dim
    +background(null,null,null,$white)
    display: none
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.5)
    cursor: pointer
    z-index: 210

.service-layer-wrapper,
.privacy-layer-wrapper,
.email-layer-wrapper
    .layer
        +size(750px, 500px)
        +padding(22px)
        +border(2px solid $page-color)
        +background(null,null,null, $white)
        +box-sizing(border-box)
        display: none
        position: fixed
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        z-index: 220

    .layer-header
        overflow: hidden

        h3
            float: left
            font-weight: bold
            font-size: 18px

        .btn-close
            +size(18px, 18px)
            +background('/images/desktop/global/icon_layer_close.png', no-repeat, center center)
            float: right

            &:hover
                +background('/images/desktop/global/icon_layer_close_ov.png')

    .layer-content-wrapper
        +size(706px, 428px)
        +margin(top 10px)
        +padding(20px 10px 0 20px)
        +border(1px solid $border-color-base)
        +box-sizing(border-box)
        overflow: hidden

        .layer-content
            +size(null, 408px)
            overflow-y: scroll

            p
                +margin(right 4px)
                line-height: 1.3

            &::-webkit-scrollbar
                +size(6px, 120px)

            &::-webkit-scrollbar-thumb
                +border-radius(3px)
                +background(null, null, null, rgba(0, 0, 0, 0.5) )

.content .btn-wrap
    +margin(top 50px bottom 80px)
    text-align: center

    .btn-register
        +size(200px, 50px)
        +margin(0 auto)

.license-error-wrap
    +margin(left 250px)

.alert-danger
    display: none
