.payment-layer-wrapper
    .layer
        +size(100%, 50%)
        +background(null, null, null, $white)
        +box-sizing(border-box)
        display: none
        position: fixed
        left: 0
        top: 50%
        transform: translateY(-50%)
        border-top-left-radius: 4.44444444vw
        border-top-right-radius: 4.4444444vw
        z-index: 220

        h3
            +margin(top 2.77777vw)
            font-weight: bold
            font-size: 5vw
            text-align: center

        .layer-content-wrap
            +padding(2.77777vw)

        .account
            +margin(top 9.7222222vw)
            font-size: 4.444444vw
            color: $page-color
            line-height: 1.45

        p
            +margin(top 23px)
            font-size: 16px
            line-height: 1.45

        em
            font-weight: bold

        .btn-wrap
            +size(94.444444vw)
            +margin(35px auto 0 auto)
