/* variables */

.title-wrap {
  background-image: url("/images/desktop/global/office-top-image.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

.title-wrap .title {
  margin: 0 auto;
  padding-top: 101px;
  width: 626px;
}

.title-wrap .title em {
  font-size: 18px;
  font-weight: bold;
}

.title-wrap .title h1 {
  padding-top: 11px;
  font-size: 37px;
  font-weight: bold;
  color: #9b00d8;
}

.title-wrap .title strong {
  padding-top: 26px;
  display: block;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.1px;
}

.introduce-description {
  margin: 80px auto 100px auto;
  width: 626px;
}

.introduce-description h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ece6ec;
  font-size: 24px;
  font-weight: bold;
}

.introduce-description p {
  padding-top: 20px;
  display: block;
  font-size: 16px;
  line-height: 1.5;
}

