/* variables */

.instructor-title-wrap {
  background-image: url("/images/desktop/global/instructor-top-image.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  text-align: center;
}

.instructor-title-wrap h1 {
  margin: 0 auto;
  padding: 126px 0 0 20px;
  width: 240px;
  font-size: 48px;
  font-weight: bold;
}

.instructor-content-wrap {
  margin-top: 100px;
  overflow: hidden;
}

.instructor-content-wrap .instructor-content {
  margin-top: 30px;
  width: 614px;
  height: 398px;
  overflow: hidden;
  float: left;
}

.instructor-content-wrap .instructor-content .instructor-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
}

.instructor-content-wrap .instructor-content .instructor-description {
  width: 414px;
  float: left;
}

.instructor-content-wrap .instructor-content .instructor-description .instructor-name {
  padding: 20px 0 0 41px;
  font-size: 24px;
}

.instructor-content-wrap .instructor-content .instructor-description .instructor-career {
  padding: 20px 0 0 41px;
  font-size: 15px;
  line-height: 1.53;
}

.instructor-content-wrap .instructor-content .instructor-description .instructor-career li {
  padding-left: 15px;
  position: relative;
}

.instructor-content-wrap .instructor-content:nth-child(1),
.instructor-content-wrap .instructor-content:nth-child(2) {
  margin: 0;
}

.instructor-content-wrap .instructor-content:nth-child(2n) {
  width: 601px;
  float: right;
}

.instructor-content-wrap .instructor-content:nth-child(2n) .instructor-description {
  width: 395px;
}

.instructor-content-wrap .instructor-content:last-child .instructor-name {
  padding-top: 0;
}

.instructor-content-wrap .instructor-content li::before {
  border-radius: 50%;
  background-color: #222222;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 10px;
  left: 6px;
  content: "";
}

