@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/components/_pagination.sass'

.lecture

    .lecture-menu
        ul
            +margin(0 auto)
            +margin(bottom 50px)
            display: flex
            overflow: hidden
            justify-content: center

        li
            +margin(right 2.0625rem)
            +padding(top 20px right 24px bottom 23px left 58px)
            +border(0.06rem solid #d8d8d8)
            +border-radius(39px)
            +background('/images/desktop/lecture/lecture_menu_icon_0.svg?20210616', no-repeat, 20px center, #fafafa)
            +box-sizing(border-box)
            display: flex
            font-size: 20px
            color: $gray-700
            cursor: pointer
            align-items: center
            line-height: 24px

        li:hover,
        .active-menu
            +padding(top 19px right 23px bottom 22px left 57px)
            +border(0.125rem solid $page-color)
            +background('/images/desktop/lecture/lecture_menu_icon_on_0.svg?20210616', no-repeat, 19px center, #fff)
            font-weight: bold
            color: $font-color-base

        li:nth-child(2)
            +background('/images/desktop/lecture/lecture_menu_icon_1.svg?20210616')

            &:hover,
            &.active-menu
                +background('/images/desktop/lecture/lecture_menu_icon_on_1.svg?20210616')

        li:nth-child(3)
            +background('/images/desktop/lecture/lecture_menu_icon_2.svg?20210616')

            &:hover,
            &.active-menu
                +background('/images/desktop/lecture/lecture_menu_icon_on_2.svg?20210616')

        li:nth-child(4)
            +background('/images/desktop/lecture/lecture_menu_icon_3.svg?20210616')

            &:hover,
            &.active-menu
                +background('/images/desktop/lecture/lecture_menu_icon_on_3.svg?20210616')

        li:nth-child(5)
            +background('/images/desktop/lecture/lecture_menu_icon_4.svg?20210616')

            &:hover,
            &.active-menu
                +background('/images/desktop/lecture/lecture_menu_icon_on_4.svg?20210616')

        li:nth-child(6)
            +background('/images/desktop/lecture/lecture_menu_icon_5.svg?20210616')

            &:hover,
            &.active-menu
                +background('/images/desktop/lecture/lecture_menu_icon_on_5.svg?20210616')

        li:nth-child(7)
            +background('/images/desktop/lecture/lecture_menu_icon_6.svg?20210616')

            &:hover,
            &.active-menu
                +background('/images/desktop/lecture/lecture_menu_icon_on_6.svg?20210616')

        li:last-child
            +margin(right 0)
            +background('/images/desktop/lecture/lecture_menu_icon_7.svg?20210616')

            &:hover,
            &.active-menu
                +background('/images/desktop/lecture/lecture_menu_icon_on_7.svg?20210616')

    .lecture-contents
        +margin(top 30px)
        overflow: hidden

        .lecture-card
            +margin(50px 32px 0 0)
            +box-sizing(border-box)
            float: left
            max-width: 400px
            max-height: 450px

            img
                +size(296px 296px, 222px)
                +border(1px solid rgba(0, 0, 0, 0.1))
                +border-radius(8px)
                +box-sizing(border-box)

            .lecture-description
                +size(296px)

                .lecture-description-sub
                    +padding(top 20px)
                    overflow: hidden
                    color: $gray-700

                    .online,
                    .offline
                        +padding(6px 8px)
                        +background(null, null, null, $page-color)
                        float: left
                        font-size: 12px
                        color: $white

                    .offline
                        +background(null, null, null, $purply-pink)

                    .lecture-type
                        +padding(6px 0 0 10px)
                        float: left
                        font-size: 14px

                    .lecture-time
                        +padding(top 6px)
                        +ellipse(220px)
                        float: right
                        font-size: 14px

                .lecture-name
                    +margin(top 9px)
                    +ellipse(null, 2)
                    display: block
                    height: 60px
                    font-size: 20px
                    line-height: 1.5

                .lecture-price
                    +margin(top 19px)
                    font-weight: bold
                    font-size: 18px
                    color: $page-color
                    letter-spacing: 0.8px

        .lecture-card a:hover
            img
                +border(1px solid $page-color)

            .lecture-name
                text-decoration: underline

        .lecture-card:nth-child(4n)
            +margin(right 0px)

        .lecture-card:nth-child(1),
        .lecture-card:nth-child(2),
        .lecture-card:nth-child(3),
        .lecture-card:nth-child(4)
            +margin(top 0)

