@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

@import '@sass/components/_input.sass'
@import '@sass/components/_checkbox.sass'
@import '@sass/components/_radio.sass'
@import '@sass/components/_file.sass'
@import '@sass/components/_emailbox.sass'
@import '@sass/components/_button.sass'
@import '@sass/components/_selectbox.sass'
@import '@sass/desktop/pages/agreement/agreement.sass'

.content
    +background(null, null, null, #f5f4f5)
    min-width: 1280px
    overflow: hidden

    .container
        +margin(20px auto)
        +border(1px solid $border-color-light)
        +border-radius(10px)
        +background(null, null, null, $white)

        .row
            +margin(50px auto 80px)

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"]
        +input(white-lignt-fill)
        +size(240px, 50px)
        +margin(right 5px)

    select
        +selectbox(240px, 50px)

        + .ui-selectmenu-button
            +margin(left 20px)
            float: left

    .ui-emailbox
        +emailbox()

    .checkbox-wrap
        +checkbox-wrap()

    .radio-wrap
        +radio-wrap()

.apply-title
    +padding(bottom 20px)
    +border(1px solid $border-color-base, bottom)
    overflow: hidden

    h1
        float: left
        font-size: 30px

    p
        float: right
        font-size: 13px
        color: $gray-700
        transform: translateY(15px)

        em
            font-weight: bold
            color: $page-color

        .for-padding
            +padding(0 6px)

.lecture-information-wrap
    +padding(top 20px)
    overflow: hidden

    .lecture-image
        +size(298px, 223px)
        float: left

        img
            +size(298px, 223px)
            +border(1px solid rgba(0, 0, 0, 0.1))
            +border-radius(8px)

    .lecture-information
        +size(790px)
        +padding(top 20px left 52px)
        float: left

        .lecture-sort
            overflow: hidden

            .online,
            .offline
                +padding(4px 9px 8px 8px)
                +background(null, null, null, $page-color)
                float: left
                font-size: 12px
                color: $white

            .offline
                +background(null, null, null, $purply-pink)

            .lecture-subject
                +padding(4px 0 0 10px)
                font-size: 14px
                float: left
                color: $gray-700

        .lecture-title
            +padding(top 13px)
            font-weight: bold
            font-size: 24px
            line-height: 1.21

        table
            +padding(top 16px)
            display: block

            tr
                +padding(top 18px)
                display: block

                th
                    font-size: 14px
                    color: $gray-700

                td
                    +padding(left 20px)
                    font-size: 16px

h3
    font-size: 24px

.applicant-information
    +padding(top 62px)

    table
        +margin(top 19px)
        +border(2px solid $gray-900, top)
        display: block

        tr
            +size(1140px, 73px)
            +border(1px solid $border-color-base,bottom)
            +box-sizing(border-box)

            th
                +size(142px)
                +padding(left 40px)
                +background(null, null, null, $background-color-menu)
                font-size: 16px
                text-align: left
                vertical-align: middle

            td
                +size(958px)
                +padding(left 24px)
                font-size: 16px
                vertical-align: middle

                em
                    font-weight: bold

        tr:last-child
            +border(2px solid $border-color-base,bottom)

.additional-information
    +margin(top 60px)

    em
        font-weight: normal
        font-size: 14px
        color: $font-color-emphasis

    h3
        +padding(bottom 20px)
        +border(2px solid $gray-900, bottom)

    h4
        +padding(left 40px)
        font-weight: bold
        font-size: 16px

    .choices
        +padding(left 60px)

    .answers
        +padding(left 40px)

    .multiple-single-choice
        +margin(top 30px)
        +border(1px solid $border-color-base, bottom)

        ul
            +margin(bottom 30px)

            li
                +padding(top 20px)
                font-size: 16px

    .multiple-choice
        +margin(top 30px)
        +border(1px solid $border-color-base, bottom)

        ul
            +margin(bottom 30px)

            li
                +padding(top 20px)
                font-size: 16px

    .short-answer
        +margin(top 30px)
        +padding(bottom 30px)
        +border(1px solid $border-color-base, bottom)

        .short-answer-response
            +size(1060px, 50px)
            +margin(top 20px)
            +padding(left 20px)
            +border(1px solid $border-color-base)
            +border-radius(25px)
            +background(null, null, null, $white-light)
            +box-sizing(border-box)
            font-size: 14px

    .address-question
        +margin(top 30px)
        +padding(bottom 30px)
        +border(1px solid $border-color-base, bottom)

        .address-form-wrap
            +margin(top 20px)
            position: relative

            .btn-address
                +btn()
                +size(86px, 50px)
                +background(null, null, null, $white)
                +border(1px solid $border-color-base)
                +border-radius(25px)
                position: absolute
                font-weight: bold
                font-size: 14px

            .address
                +size(525px)
                +padding(left 106px)
                +margin(right 7px)

            .address-detail
                +size(525px)

    .file-question
        +margin(top 30px)
        +border(2px solid $border-color-base, bottom)
        position: relative

        .file-wrap
            +file()
            +margin(top 20px)
            +padding(right 40px)

        .tips
            +size(1060px)
            +margin(top 10px bottom 30px)
            +border(1px solid #ece6ec)
            +background(null, null, null, #fdf8ff)

            p
                +padding(14px 0 14px 20px)
                display: block
                font-size: 12px
                line-height: 1.5
                letter-spacing: 0.1px
                color: $gray-700

    .additional-none
        +padding(top 30px)
        font-size: 16px

.payment-information
    +margin(top 63px)

    table
        +margin(top 18px)
        +border(2px solid $gray-900, top)
        display: block

        tr
            +size(1140px, 72px)
            +border(1px solid $border-color-base,bottom)

            th
                +size(142px)
                +padding(left 40px)
                +background(null, null, null, $background-color-menu)
                font-size: 16px
                text-align: left
                vertical-align: middle

            td
                +size(958px)
                +padding(left 23px)
                font-size: 16px
                vertical-align: middle

                em
                    font-weight: bold
                    color: $page-color

                .radio-wrap
                    +margin(right 40px)
                    float: left
                    line-height: 48px

                    input[type="radio"]
                        +margin(top 16px)

        tr:last-child
            +border(2px solid $border-color-base,bottom)

            td
                +padding(left 23px)

// lecture payment, result blade에 적용
.additional-information-list
    +margin(top 60px)

    .information-answers-list
        +margin(top 18px)
        +border(2px solid $gray-900, top)

        .information-answers
            +padding(30px 40px)
            +border(1px solid $border-color-base, bottom)

            h4
                font-weight: bold
                font-size: 16px

                em
                    font-weight: normal
                    font-size: 14px
                    color: $red


        .for-padding
            +padding(bottom 35px)

        .answer li, p
            +margin(top 20px)
            +padding(left 30px)
            position: relative
            font-size: 16px

            em
                color: $page-color

        .answer .short-answer
            +margin(top 13px)

            &::before
                top: 13px

        .answer li::before,
        .answer p::before
            +size(2px, 2px)
            +background(null, null, null, $gray-200)
            position: absolute
            top: 7px
            left: 20px
            content: ''

.agree
    +margin(top 60px)

    h3
        +padding(bottom 18px)
        +border(2px solid $gray-900, bottom)

    .agreement-all-wrap
        +padding(29px 0 28px 40px)
        +border(1px solid $border-color-base, bottom)

        label
            font-weight: bold
            font-size: 16px

    .agreement-wrap
        +padding(26px 40px 26px 40px)
        +border(2px solid $border-color-base, bottom)


        li:last-child
            +margin(top 40px)

        li
            overflow: hidden
            line-height: 14px

        .checkbox-wrap
            float: left

        p
            +margin(top 3px)
            +padding(left 10px)
            float: left
            font-size: 12px
            line-height: 12px
            color: $gray-900

        a
            float: right
            font-size: 13px
            color: $gray-700
            text-decoration: underline


.lecture-result,
.lecture-payment
    .btn-wrap
        +size(160px)

.btn-wrap
    +size(330px)
    +margin(50px auto 0)
    overflow: hidden

    *[class^="btn-"]
        +size(160px, 50px)
        float: left
        font-size: 16px
        line-height: 50px

        &:last-child
            +margin(right 0)

    .btn-confirm
        +btn(purple-fill)
        +margin(right 10px)
        color: $white

    .btn-cancel
        +btn()
        +background(null, null, null, $gray-700)
        color: $white

.form_search
    +background(null, null, null, $gray-700)

.parsley-errors-list li
    font-size: 16px

.address-error
    clear: both

    ul
        float: left

        &:first-child
            +margin(right 360px)
