@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

.lecture-title-wrap
    +background('/images/desktop/global/lecture-top-image.png', no-repeat, center center)
    +size(100%, 300px)
    text-align: center

    h1
        +padding(top 126px)
        font-weight: bold
        font-size: 48px

.lecture-order
    +margin(top 50px)
    overflow: hidden

    ul
        float: right
        overflow: hidden

        li
            float: left

            .active
                font-weight: bold
                color: $page-color

            &:last-child::before
                +size(1px, 16px)
                +margin(0 10px)
                +background(null, null, null, $border-color-base)
                display: block
                float: left
                content: ''

.lecture
    +margin(top 80px bottom 80px)

    .lecture-menu
        ul
            +margin(0 auto)
            display: flex
            overflow: hidden
            justify-content: center

        li
            +margin(right 40px)
            +padding(top 25px right 29px bottom 25px left 67px)
            +border(1px solid #d8d8d8)
            +border-radius(35px)
            +background('/images/desktop/lecture/lecture_menu_icon_1.png', no-repeat, 25px 19px, #fafafa)
            +box-sizing(border-box)
            display: block
            float: left
            font-size: 20px
            color: $gray-700
            cursor: pointer

        li:hover,
        .active-menu
            +padding(top 24px right 28px bottom 24px left 66px)
            +border(2px solid $page-color)
            +background('/images/desktop/lecture/lecture_menu_icon_on_1.png', no-repeat, 24px 18px)
            font-weight: bold
            color: $font-color-base

        li:nth-child(2)
            +background('/images/desktop/lecture/lecture_menu_icon_2.png')

            &:hover
                +background('/images/desktop/lecture/lecture_menu_icon_on_2.png')

        li:nth-child(3)
            +background('/images/desktop/lecture/lecture_menu_icon_3.png')

            &:hover
                +background('/images/desktop/lecture/lecture_menu_icon_on_3.png')

        li:nth-child(4)
            +background('/images/desktop/lecture/lecture_menu_icon_4.png')

            &:hover
                +background('/images/desktop/lecture/lecture_menu_icon_on_4.png')

        li:nth-child(5)
            +background('/images/desktop/lecture/lecture_menu_icon_5.png')

            &:hover
                +background('/images/desktop/lecture/lecture_menu_icon_on_5.png')

        li:last-child
            +margin(right 0)
            +background('/images/desktop/lecture/lecture_menu_icon_6.png')

            &:hover
                +background('/images/desktop/lecture/lecture_menu_icon_on_6.png')

    .lecture-contents
        +margin(top 30px)
        overflow: hidden

        .lecture-card
            +margin(80px 40px 0 0)
            +box-sizing(border-box)
            float: left

            img
                +size(400px 400px, 300px)
                +border(1px solid rgba(0, 0, 0, 0.1))
                +border-radius(5px)
                +box-sizing(border-box)

            .lecture-description
                +size(400px)

                .lecture-description-sub
                    +padding(top 20px)
                    overflow: hidden
                    color: $gray-700

                    .lecture-type
                        float: left
                        font-size: 14px

                    .lecture-time
                        float: right
                        font-size: 14px

                .lecture-name
                    +margin(top 9px)
                    +ellipse(null, 2)
                    height: 60px
                    font-size: 20px
                    line-height: 1.5

                .lecture-price
                    +margin(top 19px)
                    font-weight: bold
                    font-size: 18px
                    color: $page-color
                    letter-spacing: 0.8px

        .lecture-card a:hover
            img
                +border(1px solid $page-color)

            .lecture-name
                text-decoration: underline

        .lecture-card:nth-child(3n)
            +margin(right 0px)

        .lecture-card:nth-child(1),
        .lecture-card:nth-child(2),
        .lecture-card:nth-child(3)
            +margin(top 0)

    .paging-wrap
        +margin(top 80px)
        text-align: center

        nav
            display: inline-block

            ul
                clear: both

                li
                    +margin(right 16px)
                    +border-radius(50%)
                    float: left

                .pagination-page-nav
                    +padding(8px 7px)

                    .page-link
                        +size(16px, 14px)
                        display: block

                    &:hover .page-link
                        color: $page-color
                        text-decoration: underline

                .pagination-prev-nav
                    +padding(top 9px right 11px bottom 9px left 10px)
                    +border(1px solid $border-color-light)
                    +border-radius(50%)
                    +background('/images/desktop/global/icon_left_arrow_purple.png', no-repeat, center center)

                    &:hover
                        border-color: $gray-900

                .pagination-next-nav
                    +margin(right 0)
                    +padding(top 9px right 10px bottom 9px left 11px)
                    +border(1px solid $border-color-light)
                    +border-radius(50%)
                    +background('/images/desktop/global/icon_right_arrow_purple.png', no-repeat, center center)

                    &:hover
                        border-color: $gray-900

                .next-nav,
                .prev-nav
                    +size(7px,10px)

                .sr-only
                    display: none

                li.active
                    +background(null, null, null, $page-color)

                    a
                        color: $white

