@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'
@import '@sass/components/_button.sass'
@import '@sass/components/_input.sass'

.lecture-wrapper
    +padding(top 30px bottom 140px)
    overflow: hidden

.lecture-watch
    +background(null, null, null, $black)
    min-width: 1280px
    overflow: hidden

    .lecture-watch-content
        float: left
        max-width: 880px

    .lecture-title-wrap
        overflow: hidden

        .lecture-title
            float: left

            h1 a
                +size(640px)
                font-size: 16px
                color: $white

            h2
                +size(640px)
                +padding(top 12px)
                font-weight: bold
                font-size: 24px
                color: $white

    .lecture-file
        float: right

        .btn-download
            +btn(purple-fill)
            +size(200px, 50px)
            +padding(top 17px)
            font-size: 16px
            color: $white

    .video-wrap
        +size(880px,495px)
        +margin(top 20px)
        position: relative

        .video-button-disable
            +size(50px, 80px)
            position: absolute
            top: 0
            right: 21px

    .lecture-question
        +margin(top 40px)
        position: relative

        p
            font-size: 20px
            color: $white

        input[type="text"]
            +input()
            +size(880px, 50px)
            +margin(top 10px)
            +border(0)
            +background(null, null, null, $gray-200)
            color: $white

        .btn-submit
            +btn(purple-fill)
            +size(70px, 50px)
            position: absolute
            top: 30px
            right: 0
            font-size: 16px

    .play-list
        +padding(left 20px)
        float: left
        max-width: 380px

        h3
            font-weight: bold
            font-size: 16px
            color: $white

        ul
            +size(378px, 659px)
            +margin(top 11px)
            +border(1px solid $border-color-black)
            overflow: hidden
            overflow-y: auto
            -ms-overflow-style: none

            &::-webkit-scrollbar
                display: none

        li
            +margin(top 10px)
            +padding(left 19px top 10px bottom 10px)
            overflow: hidden
            cursor: pointer

            .thumbnail
                +size(120px, 68px)
                float: left

                img
                    +size(120px, 68px)

            p
                +size(180px, 38px)
                +margin(15px 20px)
                +ellipse(180, 2)
                float: left
                color: $white
                line-height: 1.36

        .active
            +background(null, null, null, $background-color-playlist)

