@import '@sass/helpers/_variables.sass'
@import '@sass/helpers/_extends.sass'
@import '@sass/helpers/_mixins.scss'

.content
    +background(null, null, null, $border-color-light)
    overflow: hidden

    .container
        +margin(21px auto 21px auto)
        +border-radius(10px)
        +background(null, null, null, $white)
        overflow: hidden

        .row
            +size(1140px)
            +margin(70px auto 80px auto)

.lecture-information-wrap
    overflow: hidden

    .lecture-image
        +size(540px, 405px)
        +border-radius(8px)
        float: left

    .lecture-information
        +size(550px)
        +padding(18px 0 0 50px)
        float: left

        .lecture-sort
            overflow: hidden

            .online,
            .offline
                +padding(6px 8px)
                +background(null, null, null, $page-color)
                float: left
                font-size: 12px
                color: $white

            .offline
                +background(null, null, null, $purply-pink)

            .lecture-subject
                +padding(6px 0 0 10px)
                font-size: 14px
                float: left
                color: $gray-700

        .lecture-title
            +padding(top 16px)
            +ellipse(null,2)
            font-weight: bold
            font-size: 24px
            line-height: 1.21

.lecture-information-text
    +margin(top 50px)
    +background(null, null, null, $white-light)

    table
        +padding(30px 0 30px 30px)
        display: block

        tr
            +padding(bottom 23px)
            display: block

            th
                +size(52px)
                vertical-align: middle
                font-size: 14px
                color: $gray-700

            td
                +padding(left 20px)
                clear: both
                font-size: 16px

                p
                    display: inline-block

                .lecture-place
                    +margin(right 10px)
                    +padding(top 4px)
                    display: block
                    float: left

                .btn-map
                    +padding(5px 10px)
                    +border(1px solid $gray-900)
                    display: block
                    float: left
                    font-size: 14px

                .lecture-select-box
                    +size(418px, 40px)
                    +padding(left 14px)
                    +border(1px solid $border-color-base)
                    font-size: 16px
                    appearance: none

            .lecture-price
                font-weight: bold
                font-size: 20px
                color: $page-color

            .price-hidden
                display: none

        tr:last-child
            +padding(0)


.lecture-btn
    +margin(top 22px)
    overflow: hidden

    .apply-btn
        +size(308px, 54px)
        +margin(left 22px)
        +border-radius(27px)
        +background(null, null, null, $page-color)
        display: block
        float: right
        font-weight: bold
        font-size: 18px
        color: $white
        text-align: center
        line-height: 3

    .apply-btn:hover
        +background(null, null, null, $purple-400)

    .like
        display: block
        float: right
        font-size: 12px
        text-align: center

    .like.active::before
        +background('/images/desktop/lecture/lecture_icon_wish_on.png',no-repeat, center center)

    .like::before
        +size(21px, 20px)
        +margin(9px auto 4px auto)
        +background('/images/desktop/lecture/lecture_icon_wish.png',no-repeat, center center)
        content: ''
        display: block

.lecture-detail
    +padding(top 80px)

    .lecture-detail-menu
        +size(1140px)
        +border-radius(23px)
        +background(null, null, null, $background-color-menu)

        ul
            overflow: hidden

            li
                +margin(right 2px)
                float: left

                a
                    +padding(15px 36px)
                    display: block
                    font-size: 16px

                a.active
                    +padding(13px 34px)
                    +border(2px solid $page-color)
                    +border-radius(23px)
                    font-weight: bold
                    color: $page-color

    .lecture-detail-content
        +padding(top 30px)
        overflow: hidden

        .lecture-detail-image
            +size(1140px, 951px)

.lecture-comment
    +padding(top 138px)

    .comment-title
        overflow: hidden

        h3
            float: left
            font-weight: bold
            font-size: 20px

        .comment-length
            +padding(left 10px)
            float: left
            font-size: 20px
            color: $page-color

    .comment-input-form
        +padding(top 20px)
        display: block
        position: relative

        .comment-input-text
            +size(1049px, 14px)
            +padding(18px 70px 18px 18px)
            +border(1px solid $border-color-base)
            +border-radius(30px)
            +background(null, null, null, $white-light)
            font-size: 14px
            line-height: 14px
            resize: none

        .comment-input-text:focus
            outline: none

        .comment-input-text::placeholder
            color: $gray-900

        .comment-input-btn
            +size(70px, 50px)
            +border(1px solid $border-color-base)
            +border-radius(25px)
            +background(null, null, null, $white)
            position: absolute
            top: 21px
            right: 1px
            font-weight: bold
            font-size: 14px
            cursor: pointer

        .comment-input-btn:hover
            color: $page-color

    .comment-list
        +padding(top 7px)

        .comment-total-area
            +padding(30px 0)
            +border(1px solid $border-color-light,bottom)

            .comment-area
                overflow: hidden

                .profile-img
                    float: left

                    img
                        +size(44px, 44px)

                .write-info
                    +padding(5px 0 0 20px)
                    float: left

                    .write-name
                        display: block
                        font-weight: bold
                        font-size: 14px

                    .date
                        +padding(top 8px)
                        display: block
                        font-size: 12px
                        color: $gray-700

                    .comment-text
                        +padding(top 20px)
                        display: block
                        font-size: 14px

                    .btn-comment-write
                        +padding(top 21px)
                        display: block
                        position: relative
                        font-size: 14px
                        color: $gray-700

                    .btn-comment-write::after
                        +size(13px, 7px)
                        +background('/images/desktop/global/icon_arrow_down.png',no-repeat, center center)
                        display: block
                        position: absolute
                        bottom: 3px
                        left: 60px
                        content: ''

                    .btn-comment-write:hover::after
                        +background('/images/desktop/global/icon_arrow_down_ov.png',no-repeat, center center)

                    .btn-comment-write.active::after
                        +background('/images/desktop/global/icon_arrow_up.png',no-repeat, center center)

                    .btn-comment-write.active:hover::after
                        +background('/images/desktop/global/icon_arrow_up_ov.png',no-repeat, center center)

                .comment-btn-area
                    +padding(top 2px)
                    float: right
                    transform: translateX(4px)

                    .btn-comment-modified
                        +margin(right 6px)

                    .btn-comment-modified,
                    .btn-comment-delete
                        +border(none)
                        +background(null,null,null,inherit)
                        font-size: 12px
                        color: $gray-900
                        cursor: pointer

                    .btn-comment-modified:focus,
                    .btn-comment-delete:focus
                        outline: none

            .child-comment-area
                display: block

                .comment-input-form
                    +padding(left 64px)

                    .comment-input-text
                        +size(985px)

                .child-comment-list
                    +padding(left 64px)

                    .child-comment-item
                        +padding(top 30px)

            .comment-input-form.hide
                display: none

.popup-area
    .dim
        +background(null,null,null,$white)
        display: none
        width: 100%
        height: 100%
        position: fixed
        top: 0
        left: 0
        background-color: rgba(0, 0, 0, 0.5)
        cursor: pointer
        z-index: 210

    .popup-wrap
        +size(700px)
        +padding(20px)
        +border(3px solid $page-color)
        +background(null,null,null, $white)
        display: none
        position: fixed
        left: 50%
        top: 50%
        box-shadow: 3px 3px 10px rgba(0,0,0,0.4)
        transform: translate(-50%, -50%)
        z-index: 220

        .popup-header
            overflow: hidden

            h3
                float: left
                font-weight: bold
                font-size: 20px

            .btn-popup-close
                +size(18px, 18px)
                +background('/images/desktop/global/icon_layer_close.png', no-repeat, center center)
                display: block
                float: right

        .map
            +size(700px, 500px)
            +margin(top 20px)

        p
            +margin(top 20px)
            font-size: 16px
